[2017-02-02 23:45] EvgenyKravchenko commented on #4378
Even rollback to old working version does not help

[2017-02-02 23:46] Nodarii commented on #4378
I guess it's webpack issue...

[2017-02-02 23:47] wardbell opened #4379 ""You have to be inside an angular-cli project in order to use the build command." due to global and local cli version being out of sync"
note: this was filed by @IgorMinar from wards computer, so blame @IgorMinar for any pain this issue has caused to you.

### OS?

MacOS

### Versions.

global:
[code]

local:
[code]

### Repro steps.

[code]

but if I do:
[code]

[2017-02-02 23:49] irsick commented on #4378
@EvgenyKravchenko
I confirm. Rollback to 1.0.0-beta.26 didn't help. Looks like the regression came from one of CLI's unlocked dependencies.

[2017-02-02 23:50] wardbell commented on #4379
fyi, to resolve this problem we did the following:

[code]

[2017-02-02 23:51] beeman commented on #4379
@wardbell the local package.json should be updated to have `"@angular/cli": "^1.0.0-beta.29",` instead of `"angular-cli": "1.0.0-beta.28.3"`.

[2017-02-02 23:52] gotofritz commented on #4368
Same problem as @denkomanceski, but with node 6.4.0.
Project created with no options `ng new xxx`
Problem persists also if I downgrade to 1.0.0-beta.22-1 (

angular-cli: 1.0.0-beta.28.3
node: 6.4.0
os: darwin x64
@angular/common: 2.4.5
@angular/compiler: 2.4.5
@angular/core: 2.4.5
@angular/forms: 2.4.5
@angular/http: 2.4.5
@angular/platform-browser: 2.4.5
@angular/platform-browser-dynamic: 2.4.5
@

[2017-02-02 23:54] EvgenyKravchenko commented on #4378
Looks like latest versions work with projects, which were bootstrapped before regression

[2017-02-02 23:56] andreas-aeschlimann commented on #4368
I have to be honest, I don't understand what is going on. I have tried to downgrade angular-cli, reinstall all local and global modules, but no success so far.

[2017-02-02 23:59] victorblq commented on #4378
Same here,  rollback didn't solve too.

[2017-02-03 00:00] shawnlan commented on #4378
Didn't update CLI. Newly created projects got these errors.

[2017-02-03 00:02] lundcm commented on #4368
@andreas-aeschlimann - from #4378 it looks like it might be an angular-cli dependency that wasn't locked to a certain version. That issue is a duplicate, but appears to be more active.

[2017-02-03 00:06] RomainGoncalves commented on #4378
Same here on a brand new project

[2017-02-03 00:06] mogafk commented on #4378
Guys, few minutes ago a throwed similar error, but i not used something from angular or angular cli.
My error:
ERROR in ./~/json3/lib/json3.js
Module parse failed: /home/mogafk/web/task4/node_modules/json3/lib/json3.js Parenthesized pattern (89:12)
You may need an appropriate loader to handle this file type.
|           if (stringifySupported) {
|             // A test function object with a custo

[2017-02-03 00:08] AbbTek commented on #4378
Same problem, but in my case, the build server is still working with the following version:

angular-cli: 1.0.0-beta.28.3
node: 6.9.1
os: win32 ia32
@angular/common: 2.4.5
@angular/compiler: 2.4.5
@angular/core: 2.4.5
@angular/forms: 2.4.5
@angular/http: 2.4.5
@angular/platform-browser: 2.4.5
@angular/platform-browser-dynamic: 2.4.5
@angular/router: 3.4.5
@angular/compiler-cli: 2.4.5
@ngtools/webp

[2017-02-03 00:09] mack-cope commented on #4378
Was breaking on our build server got it working using the following:

    "@angular/common": "2.4.0",
    "@angular/compiler": "2.4.0",
    "@angular/core": "2.4.0",
    "@angular/forms": "2.4.0",
    "@angular/http": "2.4.0",
    "@angular/platform-browser": "2.4.0",
    "@angular/platform-browser-dynamic": "2.4.0",
    "@angular/router": "~3.4.0",
    "@types/moment-timezone": "^0.2.34",
    "an

[2017-02-03 00:09] matze1234 commented on #1610
thanks miguelcaravantes, that worked for me.

[2017-02-03 00:10] shcarrico commented on #4378
I was able to get it to work by pinning Angular to 2.4.5 similar to @AbbTek above.

[2017-02-03 00:10] EvgenyKravchenko commented on #4378
See related issue for acorn package
https://github.com/ternjs/acorn/issues/502

[2017-02-03 00:12] arthrmlo commented on #4378
I've managed to get it running.
Delete your node_modules folder after creating a project with `ng new proj-name` and modify the rxjs entry (line 24) on package.json removing the "^" before it. It should look like: `"rxjs": "5.0.1",`. Re-run `npm install` and `ng serve` should work fine.

[2017-02-03 00:15] EvgenyKravchenko commented on #4378
As a temporary solution just update acorn package to 4.0.7

[2017-02-03 00:15] RomainGoncalves commented on #4378
I managed to fix it with @AbbTek 's solution. Changed the version of devDependencies: ``` "@angular/compiler-cli": "2.4.5",```

[2017-02-03 00:17] andreas-aeschlimann commented on #4368
In case anyone cares: To clean the broken dependencies, I updated to @angular-cli globally and locally, created a new project `bla` and checked the `package.json`. Then I copied the values to my existing project and tried `ng serve` again. It now works again, phew...

[code]

[2017-02-03 00:18] beeman commented on #4378
The problem was indeed in acorn, one of WebPack's dependencies and should be fixed by doing:

[code]

Or just:

[code]

[2017-02-03 00:18] hansl commented on #4378
Closing this as the fix above should work.

[2017-02-03 00:18] #4378 closed

[2017-02-03 00:20] shoaib0077 commented on #1610
Thanks @miguelcaravantes  that worked for me too.

[2017-02-03 00:20] beeman commented on #4352
It's probably related to this issue, and the fix: https://github.com/angular/angular-cli/issues/4378#issuecomment-277127588

[2017-02-03 00:21] beeman commented on #4368
The `Parenthesized pattern` error is probably related to this issue + fix here: https://github.com/angular/angular-cli/issues/4378#issuecomment-277127588

[2017-02-03 00:22] kuncevic opened #4380 "'npm run ng build' getting stuck when migrated from beta.28.3 to beta.29"
### OS?
Windows 10

### Versions.
[code]

### Repro steps.
Locally migrate from beta.28.3 to beta.29:

Alter `package.json` by changing `"angular-cli": "1.0.0-beta.28.3"` to `"@angular/cli": "1.0.0-beta.29"`
Alter `angular-cli.json`  `"version" : "1.0.0-beta.29",`

[code]
Run build
[code]
Build stopped at 16%
[code]

Tired to downgrade from `@ngtools/webpack@1.2.6` to `@ngtools/webpack@1.2.4` then

[2017-02-03 00:28] victorblq commented on #4379
does not work here, still having the error

[2017-02-03 00:31] AbbTek commented on #4352
In my case, I solved the problem updating my project and keeping "rxjs": "5.0.1" rather than "rxjs": "^5.0.3". Now the project is working again :D

[2017-02-03 00:32] beeman commented on #4379
@victorblq can you remove `node_modules` and `npm install` ?

[2017-02-03 00:41] TheJimFactor opened #4382 "ng build on code change in an express + angular 2 app"
I am trying to get my angular 2 + express app to reload itself when either the express code changes or the angular 2 app changes. My understanding is that I need to run `ng build`, then have express serve up the `index.html` file that is located in the dist/ folder.

`ng serve` is probably the only way to auto-reload, but I'm hoping for a 3rd party app or an option to `ng build` that would make it

[2017-02-03 00:45] #4353 closed

[2017-02-03 00:45] #4371 closed

[2017-02-03 00:47] tobymurray commented on #4333
To be clear, that's exactly what you would expect to see if you were on the `gh-pages` branch and your repo was not "deleted". `git rev-parse --abbrev-ref HEAD` would show you which branch you're currently on. I don't know, but to me it seems extremely likely that you were on a different branch than you were expecting and not that the Angular CLI had deleted your local repo.

[2017-02-03 00:54] #4379 closed

[2017-02-03 00:55] victorblq commented on #4379
I fix changing the package.json file this way:
from:
[code]
to:
[code]

and the angular-cli.json like @hansl said.
After that `rm -rf node_modules` and `npm install` and `ng serve` works.
I don't know if it's relevant, but I did it all in a existing project, not a new one.

[2017-02-03 00:59] kuncevic commented on #4338
I've got in another trouble using beta.29 https://github.com/angular/angular-cli/issues/4380
So I just rolled back to beta.28.3 for now + `npm install @ngtools/webpack@1.2.6` on top of it

[2017-02-03 01:00] kamalkech commented on #4378
@beeman runing server of angular-cli work good now, but after update files ts webpack not compile them !!

[2017-02-03 01:11] beeman commented on #4379
@victorblq yep, only existing packages (created by `angular-cli`, ran with`@angular/cli` are affected).

The next beta adds support for both though.

[2017-02-03 01:18] #4337 closed

[2017-02-03 01:19] kamalkech opened #4383 "Not compile files ts"
### OS?

### Versions.
angular-cli: 1.0.0-beta.28.3
node: 6.9.4
os: win32 x64
@angular/common: 2.4.5
@angular/compiler: 2.4.5
@angular/core: 2.4.5
@angular/forms: 2.4.5
@angular/http: 2.4.5
@angular/platform-browser: 2.4.5
@angular/platform-browser-dynamic: 2.4.5
@angular/router: 3.4.5
@angular/compiler-cli: 2.4.5

### Repro steps.

### The log given by the failure.
typescript not compiled

[2017-02-03 01:30] origin1tech commented on #1253
What we do is create a folder called shared and under it a styles folder. We then create our sass there. Finally from your top level component typically "app.component.scss" just import.

    @import './shared/styles/default';

[2017-02-03 01:39] ahmed-musallam commented on #1253
@greenchapter yeah.. I wish there was some good documentation for it. if you find anything, do let me know.

[2017-02-03 02:03] dsoltesz commented on #4378
added "acorn": "4.0.7" to package.json fixed this issue for me

[2017-02-03 02:23] lukejoliat commented on #4368
Ok well the fix mentioned by @beeman removed the error, but now I'm back to my original problem. The server runs but when I enter the url, I get the 'this site can't be reached message.'

Does anyone have any idea what this could be?

[2017-02-03 02:25] origin1tech commented on #1253
@ahmed-musallam see my above example I had forgotten the encapsulation flag in the root component. Just remember that the app.component.scss will not be encapsulated so any style imported there will propagate to any child component etc.

In may cases this works just fine, I see little issue with it. you can still have encapsulated styles for components.

[2017-02-03 02:28] jschwarty commented on #4353
`@ngtools/webpack@1.2.7` solved it for us. Thank you!

[2017-02-03 02:39] hansl commented on #4369
Yes we're doing a pass of renaming/branding. The cli.angular.io will be changed soon.

[2017-02-03 02:39] hansl commented on #4369
cc @StephenFluin @robwormald @IgorMinar

[2017-02-03 02:58] lukejoliat commented on #4368
I tried this on my other mac and it worked. So it's laptop specific. It must be some setup issue or security thing on my computer.

[2017-02-03 03:04] huiqiangyang opened #4386 "fs.js:640 return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);"
[code]

[2017-02-03 03:07] kuncevic commented on #4383
temporary fix `npm install @ngtools/webpack@1.2.4`

[2017-02-03 03:11] #4386 closed

[2017-02-03 03:31] Meligy commented on #4380
Commit everything you have in git, then:

[code]

Accept most files from `ng init`, especially (but not limited to) `angular-cli.json`, and `polyfills.ts` and `main.ts`.

Then go to git undo any unwanted change (deleted packages from `package.json`, missing `scripts` or `files` from `angular-cli.json`, etc). Undo entire `app` module and component files.

Then

[code]

[2017-02-03 03:32] Meligy commented on #4380
Hi @kuncevic

Please try these steps and let me know if they solve your problem:

----

Commit everything you have in git, then:

[code]

Accept most files from `ng init`, especially (but not limited to) `angular-cli.json`, and `polyfills.ts` and `main.ts`.

Then go to git undo any unwanted change (deleted packages from `package.json`, missing `scripts` or `files` from `angular-cli.json`, etc). Un

[2017-02-03 03:52] steveo99 commented on #1610
Thanks @miguelcaravantes that worked for me too.

[2017-02-03 03:54] kuncevic commented on #4380
I was doing that. I also was created the initial app using beta.29 to see what it does to the files.
What `ng init` is doing is just changing ist version in `package.json`, and in `angular-cli.json`. All the rest filses is seams to be same as in beta.28.3 which I have no build issues with.  Unless I missed something.

[2017-02-03 03:56] splintercode commented on #4346
Seeing the same here

[2017-02-03 04:01] dsoltesz opened #4388 "style bundles not created with dev build but works correctly with prod build"
### OS?

7

### Versions.

@angular/cli: 1.0.0-beta.30
node: 6.9.5
os: win32 x64
@angular/common: 2.4.5
@angular/compiler: 2.4.5
@angular/core: 2.4.5
@angular/forms: 2.4.5
@angular/http: 2.4.5
@angular/platform-browser: 2.4.5
@angular/platform-browser-dynamic: 2.4.5
@angular/router: 3.4.5
@angular/compiler-cli: 2.4.5
@angular/flex-layout: 2.0.0-beta.4
@angular/cli: 1.0.0-beta.30

### Repro steps.

[2017-02-03 04:01] lundcm commented on #4368
"Resolution" is available from #4378 by hard coding either acorn or rxjs to the versions below in the project.json file after deleting node_modules and doing a full re-install.

"rxjs": "5.0.1"
"acorn": "4.0.7"

[2017-02-03 04:06] steveo99 commented on #4368
In Issue #1610 webpack live reload is not working, miguelcaravantes commented 5 hours ago:

This worked for me.

[2017-02-03 04:27] born2net commented on #4346
@unsafecode I am using cli so can't access webpack config
and same issue with .30 as well
if I install ng-tools 1.2.6 manually chunks will be created BUT re-builds do not work

[2017-02-03 04:44] catull commented on #4324
Implemented in https://github.com/angular/angular-cli/pull/4390.

[2017-02-03 04:59] kuncevic commented on #4380
The issue resolved by using beta.30

[code]

[2017-02-03 04:59] #4380 closed

[2017-02-03 05:06] kuncevic commented on #4338
I can confrim that the recent beta.30 fixing the issue

rimraf node_modules
npm install @angular/cli@latest

[2017-02-03 05:08] colintucker commented on #4378
Thank you so, SO much @beeman, all working now... was frustrating me for the past 4 hours.  :P <3

[2017-02-03 05:23] silverfoxdev commented on #1610
Thanks @miguelcaravantes that worked for me too.

[2017-02-03 05:29] harilalinapp commented on #3751
Please find the detailed test with bundle analyser
ng --prod
![prodonly](https://cloud.githubusercontent.com/assets/12621519/22580565/887c6564-e9ff-11e6-94b3-86a0a6b444f7.png)

0.chunk.js
![prodonly_0_chunk](https://cloud.githubusercontent.com/assets/12621519/22580569/930ec076-e9ff-11e6-8141-d0adfd726031.png)

vendor.chunk.js
![prod_only_vendor](https://cloud.githubusercontent.com/assets/12621519/

[2017-02-03 07:08] didymu5 commented on #4357
ditto @JediSange

[2017-02-03 07:23] challe commented on #1610
@miguelcaravantes answer didn't work for me, Maybe I'm doing something wrong? I'm completly new to this.

I simply did `npm install angular-cli@1.0.0-beta.26` followed by `npm install --save @ngtools/webpack@1.2.4`

When I save the .ts-file and look at the Chrome DevTools console, I see:
`[WDS] App updated. Recompiling...`
`[WDS] Nothing changed.`

`ng --version --verbose` shows:
angular-cli: 1.0.

[2017-02-03 07:30] sublimator commented on #3325
When is angular-cli going to support TypeScript 2.1 ?

[2017-02-03 07:34] Ledzz commented on #4383
Still have this issue in 1.0.0-beta.30

[2017-02-03 07:48] mastertinner commented on #4359
This problem persists with `1.0.0-beta.30`.

[2017-02-03 08:04] rainstormza commented on #4285
change file extension to scss it works well

styleUrls: ['./test.scss'],

in my test.scss file I use
@import '../../../assets/admin/css/ionicons.min.css';

[2017-02-03 08:44] Mattee commented on #4207
@dlimkin Thank you, it solved my problem! It seems like I had some old Angular files in the root of my home directory causing all Angular projects in there with later Angular-cli versions to fail. So by deleting all files and folders that doesn't belong to the home directory, it solves the problems and the errors disappears.

[2017-02-03 08:44] zh-wowtv opened #4391 "How to install the latest angular-cli?"
I found the latest version in github is 1.0.0-beta.30. But it always show my version is 1.0.0-beta.28.3 when I try:

What could be wrong? Thanks

[2017-02-03 08:45] diicar commented on #4391
npm install -g @angular/cli

[2017-02-03 08:49] Pilukina commented on #4347
It works, Thank you so much!

[2017-02-03 08:57] bogacg commented on #4391
Docs need to be updated

[2017-02-03 09:01] emazv72 commented on #4338
@kuncevic same issue here, npm clean,  reinstalled beta.30 and tested on a new blank project.
Major issue, I'm going to revert to beta.28.3
Too bad because performance improved a lot in the last cycle.

[2017-02-03 09:02] DaveXCS commented on #4383
same here with 1.0.0-beta.30. Temporary fix from kuncevic is working.

[2017-02-03 09:04] stepanzarubin commented on #4366
@grizzm0 because dist is synonym of an actual build, and it is, `ng serve` serves the actual code base, but not the build, build is done once per week, month, etc. and has nothing to do with a current working directory. Another synonym of a dist is `release`, a lot of packages/libraries put their releases under `dist` directory and have it under version control.

Also, having dist under VCS allows

[2017-02-03 09:10] paumayr commented on #4391
There is a pull request open for the docs: #4349

[2017-02-03 09:13] harunurhan commented on #3077
I upgraded `cli` to `1.0.0-beta.28.3`lately, was painful and now it works for me.

[2017-02-03 09:14] stepanzarubin commented on #4366
`ng serve` should accomplish its own task => serve actual code. And suddenly it starts to remove files from the outside? this is weird,  the other developer was confused, to get rid of a confusing it is enough to understand that there is nothing under `dist` directory when `ng serve` is running, `README` can be updated to clarify this.

At least, removing dist should not be a default behavior, can

[2017-02-03 09:14] grizzm0 commented on #4391
You can run these two snippets to upgrade from angular-cli to the new package @angular/cli.
[code]

[code]

[2017-02-03 09:16] grizzm0 commented on #4366
It was changed as alot of people thought ng serve would serve the dist folder if present.

@filipesilva You got any input on this?

[2017-02-03 09:25] raducostea commented on #2389
I am having a similar issue. Changing a .html file works fine. Changing a .ts file, the compiler fires but on reload there is no change.

[2017-02-03 09:27] RicardoVaranda commented on #4391
@grizzm0 Are you not a fan of ng init? 😛

[2017-02-03 09:27] phil-cap opened #4392 "CSS incorrect ordering"
The CSS is being applied in the incorrect order.
I have in `styles.css` the following

  font-family: 'SomeFont';
  src: url('./assets/some-font.woff') format('woff');
}
\* {
  font-family: 'SomeFont';
}

My `angular-cli.json` file is

        "../node_modules/bootstrap/dist/css/bootstrap.css",
        "styles.css"
      ],

However, the resulting CSS is such that the Bootstrap font family overwri

[2017-02-03 09:27] denkomanceski commented on #4378
Short offtopic question before this issue dissapears forever: Did you guys notice the difference in speed in recompiling? That was the one and only reason I updated the cli hehe

[2017-02-03 09:28] grizzm0 commented on #4391
@RicardoVaranda The README says ng update nowdays. ;) Pretty sure it used to say ng init tho.

[2017-02-03 09:30] raducostea opened #4394 "ng serve. File change detected but no change in the output"
ng --version

angular-cli: 1.0.0-beta.28.3
node: 6.9.1
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/compiler-cli: 2.4.6

On windows 10

ng new testproject
ng serve

Project opens just fine. If i edit the html file

[2017-02-03 09:30] zh-wowtv commented on #4391
Thanks. Previously I run: `npm i -g angular-cli`. I think this is the reason.

[2017-02-03 09:31] RicardoVaranda commented on #4391
I'll have to check it out properly, I like the way init makes the second part of your previous post much easier in my opinion I guess it's all a matter of preference :)

[2017-02-03 09:32] stepanzarubin commented on #4366
@grizzm0 then, why to have a `dist` folder at all? what is a purpose of it? temporary folder for temporary content? let`s take a look at scenario:

1. I make build: `ng build --env prod` which will write it under `dist` folder
2. Then I run `ng serve` and my build is gone... wow

Why do I stop `ng serve` at all to make a build?

[2017-02-03 09:35] grizzm0 commented on #4366
Build is part of my deploy flow. I guess that's how most people use it.

[2017-02-03 09:39] stepanzarubin commented on #4366
@grizzm0 what will happen if build was not successful? for any reason, build can output files successfully, but they may not work (e.g. local build is ok, but there is something wrong with prod one).

[2017-02-03 09:43] grizzm0 commented on #4366
If tests fail during deploy the deploy will be cancelled. If it builds successfully but something is wrong I would either store x releases on the prod machine or rollback by checking out a previous tag and build from that.

[2017-02-03 09:45] MTechDE commented on #4394
Same as #4338

[2017-02-03 09:57] stepanzarubin commented on #4366
The world is not perfect, tests does not cover everything perfectly, some people do not write tests.

[2017-02-03 09:58] grizzm0 commented on #4366
You could still rollback by tag or keep releases on your prod server. :p

[2017-02-03 09:59] Kaspis77 commented on #2389
Same here as @raducostea when .ts file is changed, the compiler fires, but the Hash (in terminal) is the same as before file change. I use Webstorm 2016.3.3 on Win 7 x64. Also tried to reinstall, set new project.

[2017-02-03 09:59] cacogr commented on #4388
https://github.com/angular/angular-cli/blob/master/CHANGELOG.md#breaking-changes

`build: - --extractCss defaults to false on all --dev (ng build with no flags uses --dev)`

[2017-02-03 10:07] #4394 closed

[2017-02-03 10:08] raducostea commented on #2389
Same as  https://github.com/angular/angular-cli/issues/4338

[2017-02-03 10:09] raducostea commented on #4338
For me, right now it only works with "@angular/cli@1.0.0-beta.30" and @ngtools/webpack@1.2.4

[2017-02-03 10:16] martinmcwhorter opened #4396 "angular-cli closes Windows cmd command line console terminal"
### OS?

Windows 7
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

### Versions.

                             _                           _  _
  __ _  _ __    __ _  _   _ | |  __ _  _ __         ___ | |(_)
 / _` || '_ \  / _` || | | || | / _` || '__|_____  / __|| || |
| (_| || | | || (_| || |_| || || (_| || |  |_____|| (__ | || |
 \__,_||_| |_

[2017-02-03 10:27] Ploppy3 opened #4397 "Progressive Web App"
Hello,

I'm willing to create a Progressive Web App with Angular CLI but I realized you removed the outdated "-mobile" parameter in the latest build.

Do you still plan to support PWA ?

Thank you.

[2017-02-03 10:30] itsnotvalid commented on #4391
@RicardoVaranda you still need to install the new version of the global cli via the npm commands.

[2017-02-03 10:35] RicardoVaranda commented on #4391
Of course, if you read my last comment I simply stated it makes the second part easier, the first part is essential regardless of your choice on upgrade.

[2017-02-03 10:37] darkkean commented on #4352
Tried suggestions from @RicardoVaranda @beeman, but unfortunately still not working and getting the same exact error:

[code]

1. Run `rm -rf node_modules dist
1. Installed **angular-cli 1.0.0-beta.28.3** both project local and global
1. Run `ng update`
1. Installed **acorn@4.0.7** on project local

However none fixed the issue.

[2017-02-03 10:40] RicardoVaranda commented on #4352
@darkkean Can you post your angular-cli.json please.

[2017-02-03 10:42] MarkWilsoncom commented on #4338
@web-dave: tried your fix and now get the following on calling ng serve:

Cannot find module 'rxjs/symbol/observable'
Error: Cannot find module 'rxjs/symbol/observable'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at globalScope (C:\Users\Media\AppDat

[2017-02-03 10:45] grunk commented on #4338
@MarkWilsoncom did you update your package.json with the modified name ?
"angular-cli": "^1.0.0-beta.28.3", becomes "@angular/cli": "1.0.0-beta.30",

[2017-02-03 10:54] ArtturiSipila commented on #4335
It doesn't look like it's adding polyfills to index.html as  an entry chunk. It probably should do that?

[2017-02-03 10:55] cassianomon commented on #4338
`"@ngtools/webpack": "1.2.4"` worked here

[2017-02-03 10:56] MarkWilsoncom commented on #4338
@grunk: no - good point.
Just updated and still get the same error.

Dependencies in package.json:

"dependencies": {
    "@angular/common": "^2.3.1",
    "@angular/compiler": "^2.3.1",
    "@angular/core": "^2.3.1",
    "@angular/forms": "^2.3.1",
    "@angular/http": "^2.3.1",
    "@angular/platform-browser": "^2.3.1",
    "@angular/platform-browser-dynamic": "^2.3.1",
    "@angular/router": "^3

[2017-02-03 11:12] johannawad commented on #3707
I have the same issue when creating translation files using ng-xi18n

Error: Error encountered resolving symbol values statically. Calling function 'NoOpAnimationDriver', function calls are not supported. Consider replacing the function or lambda with a reference to an exported function, resolving symbol AnimationDriver.NOOP in,..

[2017-02-03 11:22] raducostea commented on #4338
@MarkWilsoncom
npm uninstall angular-cli --save
npm install @angular/cli@lastest --save
npm install @ngtools/webpack@1.2.4 --save

This worked for me.

[2017-02-03 11:28] RicardoVaranda commented on #4338
Make sure you delete your node_modules folder within your projects also, this step is often overlooked.

[2017-02-03 11:29] kuncevic commented on #4338
@MarkWilsoncom `"angular-cli": "1.0.0-beta.30",` should be `"@angular/cli": "1.0.0-beta.30"`,

[2017-02-03 11:37] MarkWilsoncom commented on #4338
@raducostea : thx - works!
@kuncevic: hmm - only thing I thought manually changed was "30"... thx anyway

Just getting started with angular 2 - great to see a helpful and responsive community - thx people :-)

[2017-02-03 11:56] dchinn commented on #4313
thanks guys; works like gangbusters.
it hadn't occurred to me to use the service to back to the web ui site.

[2017-02-03 11:56] #4313 closed

[2017-02-03 12:06] dsoltesz commented on #4388
Thanks, missed that somehow

[2017-02-03 12:06] #4388 closed

[2017-02-03 12:10] rafaell-lycan commented on #1610
Same problem here guys:

[code]

[2017-02-03 12:16] marcoturi commented on #4304
I'm getting the same error, migrating to beta 30 from 26

[2017-02-03 12:20] grimner commented on #4352
@darkkean Please note this line in the first post: "@ngtools/webpack": "1.2.4", it solved the problem for me.

[2017-02-03 12:25] Laurensvdmaas commented on #1980
Great job!

From 2s-4s time to 300-600ms

[2017-02-03 12:31] sarathdr commented on #4215
Is there a timeline for this? Could you suggest a workaround until then?

[2017-02-03 12:40] elvirdolic commented on #4391
After installing latest version I still have a angular-cli folder with two folders inside

- ast-tools
- base-href-webpack

is this as defined?

[2017-02-03 12:49] zh-wowtv opened #4401 "Is it possible to let build continue when there is an error?"
I got an error when I'm running `ng serve` for a newly created project after adding `ng2-smart-table`:

By looking through the source code, I found the code causes error has not been called by my project at all. But the project stop running because of the compiling error. For a temp solution, is it possible to let my app continue even when there is webpack compiling error ? Thanks.

[2017-02-03 13:19] zh-wowtv commented on #1160
[code]

How can I remove unnecessary module?

[2017-02-03 13:25] valterbarros commented on #1793
@osvaldo-github only for complementing your answer is possible to change your hostname looks like a **DNS**

## Windows

1. Open with you favorite editor `C:\Windows\System32\Drivers\Etc\hosts`
2. Edit your hosts name:
      192.168.33.10 dev (Your IP and hostname what you want)
3. To port **3000** access by your browser dev:3000

## Linux

1. Open with you favorite editor `/etc/hosts`
2. Follow t

[2017-02-03 13:25] splintercode commented on #4397
I think there are still plans for the Mobile Toolkit and Universal once the plugin system is in place. Until then you can get some aspects of PWA working with the CLI by extending the npm scripts
https://coryrylan.com/blog/fast-offline-angular-apps-with-service-workers

[2017-02-03 13:36] cassianomon commented on #4338
It need to be `"@ngtools/webpack": "1.2.4"` at package.json and **NOT** "@ngtools/webpack": "^1.2.4"

[2017-02-03 13:38] dsoltesz commented on #4376
working in @angular/cli 1.0.0-beta.30

[2017-02-03 13:38] #4376 closed

[2017-02-03 13:45] emazv72 commented on #4338
package.json temporary fix for beta.30

 "devDependencies": {
    "@angular/cli": "1.0.0-beta.30",
...
    "@ngtools/webpack" : "1.2.4"
}

Looks like something is broken after 1.2.4

[2017-02-03 14:11] bogacg commented on #4391
@elvirdolic yes, I believe their definition still holds as reference 'angular-cli' therefore `angular-cli` folder gets created under `node_modules`. Probably they'll get correct references in next updates. For now it's normal.

[2017-02-03 14:26] filipesilva commented on #4366
I'm sorry this change disrupted your workflow. We're not looking at changing it back though.

`dist/` had, at best your last `ng build` and was never reflective of `ng serve`.

My recommendation for your particular case is to do make a build using the `--output-path (-op)` flag and keep that one under version control.

[code]

[2017-02-03 14:26] #4366 closed

[2017-02-03 14:36] filipesilva commented on #466
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:36] #466 closed

[2017-02-03 14:36] filipesilva commented on #1380
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:36] #1380 closed

[2017-02-03 14:36] filipesilva commented on #1400
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:36] #1400 closed

[2017-02-03 14:36] filipesilva commented on #1775
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:36] #1775 closed

[2017-02-03 14:36] filipesilva commented on #1781
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:36] #1781 closed

[2017-02-03 14:36] filipesilva commented on #1984
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:36] #1984 closed

[2017-02-03 14:36] filipesilva commented on #2786
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:36] #2786 closed

[2017-02-03 14:36] filipesilva commented on #3146
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:36] #3146 closed

[2017-02-03 14:36] filipesilva commented on #3259
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:36] #3259 closed

[2017-02-03 14:37] filipesilva commented on #3321
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:37] #3321 closed

[2017-02-03 14:37] filipesilva commented on #3641
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:37] #3641 closed

[2017-02-03 14:37] filipesilva commented on #3794
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:37] #3794 closed

[2017-02-03 14:37] filipesilva commented on #3810
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:37] #3810 closed

[2017-02-03 14:38] filipesilva commented on #4048
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:38] #4048 closed

[2017-02-03 14:38] filipesilva commented on #4061
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:38] #4061 closed

[2017-02-03 14:38] filipesilva commented on #4104
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:38] #4104 closed

[2017-02-03 14:38] filipesilva commented on #4277
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:38] #4277 closed

[2017-02-03 14:38] harishajdarevic commented on #4252
@panduit-psh Still getting nothing changed...

[2017-02-03 14:39] sguiheux commented on #4350
same problem on beta.30

[2017-02-03 14:40] filipesilva commented on #49
Closing as obsolete.

[2017-02-03 14:40] #49 closed

[2017-02-03 14:41] filipesilva commented on #1362
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:41] #1362 closed

[2017-02-03 14:41] filipesilva commented on #1301
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:41] #1301 closed

[2017-02-03 14:42] grizzm0 commented on #4401
Could be a mismatch between versions. Try deleting node_modules and run install again.

[2017-02-03 14:43] filipesilva commented on #4364
This is fixed in the latest versions. You might have either an old global, or old local version.

[2017-02-03 14:43] #4364 closed

[2017-02-03 14:43] filipesilva commented on #4362
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:43] #4362 closed

[2017-02-03 14:45] filipesilva commented on #4333
@tobymurray's explanation makes sense to me. I think you just got left in the wrong branch due to the permissions error. If your main branch is `master`, do `git checkout master` and all your work will still be there.

Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:45] #4333 closed

[2017-02-03 14:45] filipesilva commented on #4314
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:45] #4314 closed

[2017-02-03 14:46] filipesilva commented on #3772
Closed via https://github.com/angular/angular-cli/pull/4385.

@gabbydgab will you find an alternative package in that PR, I think it supports your usecase.

[2017-02-03 14:46] #3772 closed

[2017-02-03 14:47] filipesilva commented on #3615
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:47] #3615 closed

[2017-02-03 14:47] filipesilva commented on #3507
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:47] #3507 closed

[2017-02-03 14:47] filipesilva commented on #3039
Closed via https://github.com/angular/angular-cli/pull/4385.

[2017-02-03 14:47] #3039 closed

[2017-02-03 14:55] wandroll opened #4403 "[feature-needed ?] How can I use typedoc in my angular-cli generated project ?"
_( If you know how I could do this on my own, please enlight me and I'll propose a pull request)_

[2017-02-03 15:04] clydin commented on #4401
The library should be using a peerDep for `rxjs` not a direct dependency.

[2017-02-03 15:08] Springrbua opened #4404 "Generating Routing Module ignores "spec"-setting in angular-cli.json"
### OS?

Windows 10

### Versions.

@angular/cli: 1.0.0-beta.30
node: 7.3.0

### Repro steps.

1. Create an app using the "--skip-tests" flag, or set all specs in the angular-cli.json to "false":
[code]

2. Generate a new routing module using "ng g module test --routing"

### Expected output/files generated.
[code]
### Actual output/files generated.
[code]

### Mention any other details that might

[2017-02-03 15:09] splintercode commented on #4383
Still having this issue in 1.0.0-beta.30 as well

[2017-02-03 15:14] sguiheux commented on #4350
Trying to debug lint.js on angular-cli project:
In Linter.js: parsed.fileNames  contains the good files
But program.getSourceFiles() (Linter.js.getFileNames)  containers  node_modules

[2017-02-03 15:17] Ionaru opened #4405 "You cannot use the new command inside an Angular CLI project."
### OS?
Linux Ubuntu 16.10

### Versions.
node: 7.2.0
os: linux x64
@angular/cli: 1.0.0-beta.30

### Repro steps.
`npm install -g @angular/cli`
`mkdir newApp`
`cd newApp`
`ng new`

### The log given by the failure.
`You cannot use the new command inside an Angular CLI project.`
But the folder is completely empty.

[2017-02-03 15:20] alfredoperez commented on #4397
@splintercode Awesome post! do you have any idea how to use the app-shell?

[2017-02-03 15:21] beeman commented on #4405
@Ionaru can you check if you still have an `angular-cli` package installed globally? If you, please remove it.

And please verify if there is a mention of `angular-cli` in you package.json.

[2017-02-03 15:24] Ionaru commented on #4405
[code]

[2017-02-03 15:30] kzay commented on #4383
Bad bug for productivity!

[2017-02-03 15:32] kamalkech commented on #4383
try with : npm install @ngtools/webpack@1.2.4

[2017-02-03 15:32] #4383 closed

[2017-02-03 15:32] beeman commented on #4405
Ok, that does not seem to be the case.

So of you want to create the project dir yourself, you should use `ng init` instead of `ng new`

[code]

Of use `ng new` like this:

[code]

[2017-02-03 15:33] filipesilva commented on #4287
Closed as answered by @Meligy.

[2017-02-03 15:33] #4287 closed

[2017-02-03 15:35] filipesilva commented on #4270
That isn't much of a CLI request, as it is a NPM question. You can use `npm link` to get all those from a central location.

As a default though, it's highly ill-advised to give up local deps in favor of globals.

[2017-02-03 15:35] #4270 closed

[2017-02-03 15:36] Ionaru commented on #4405
Do you have the same CLI version?

[2017-02-03 15:37] beeman commented on #4405
[code]

[2017-02-03 15:38] filipesilva commented on #4269
I'm going to close this issue as it's not something actionable to fix on the repo. Feel free to continue the conversation though.

You can also find some more information regarding deployments (and nginx config) here: https://angular.io/docs/ts/latest/guide/deployment.html#!#production-servers

[2017-02-03 15:38] #4269 closed

[2017-02-03 15:39] MateenKadwaikar commented on #1610
npm install --save @ngtools/webpack@1.2.4 this works @rafaell-lycan  give it a try

[2017-02-03 15:41] filipesilva commented on #4245
I believe the core reason for this was https://github.com/angular/angular-cli/issues/2496. It has been fixed meanwhile (after beta.26).

[2017-02-03 15:41] #4245 closed

[2017-02-03 15:41] Ionaru commented on #4405
You have Angular installed globally as well, is this needed?

[2017-02-03 15:42] filipesilva commented on #4223
Closed as this isn't an issue itself but rather a more open ended question. Stack overflow would be a better place for it.

[2017-02-03 15:42] #4223 closed

[2017-02-03 15:42] beeman commented on #4352
@darkkean can you please try with the latest `@angular/cli@1.0.0.beta.30`, then and remove `node_modules` and `npm install` ?

If that does not work, can you share you `package.json`?

[2017-02-03 15:43] beeman commented on #4405
No, it's not installed globally. I run this command from inside the project dir that I just created reproducing your steps.

[2017-02-03 15:43] filipesilva commented on #4213
There are no plans for this sort of functionality. My advice would be to add in a script that does it.

[2017-02-03 15:43] #4213 closed

[2017-02-03 15:44] filipesilva commented on #4212
Closing as answered by @clydin.

[2017-02-03 15:44] #4212 closed

[2017-02-03 15:49] filipesilva commented on #4343
Closing as it seems like it's fixed.

[2017-02-03 15:49] #4343 closed

[2017-02-03 15:49] filipesilva commented on #4342
Closing as fixed.

[2017-02-03 15:49] #4342 closed

[2017-02-03 15:54] filipesilva commented on #4336
Dupe of https://github.com/angular/angular-cli/issues/4338

[2017-02-03 15:54] #4336 closed

[2017-02-03 15:54] filipesilva commented on #4331
Can you give me reproduction steps so I can see this happening?

[2017-02-03 15:57] Ionaru commented on #4405
Completely removing @angular/cli and reinstalling it seems to have done the trick.

[2017-02-03 15:58] filipesilva commented on #4351
Heya @victornoel, this problem is not solvable from the CLI side. Linting uses `tslint` and `codelyzer`, and from what I can gather `codelyzer` seems to have a bug that manifests itself this way.

As far as I can tell from mgechev/codelyzer#190 there might be a workaround, but that's all. Perhaps you can open a new issue there?

[2017-02-03 15:58] #4351 closed

[2017-02-03 15:58] filipesilva commented on #4347
Closing as answered by @clydin. Cheers!

[2017-02-03 15:58] #4347 closed

[2017-02-03 15:59] #4405 closed

[2017-02-03 16:00] filipesilva commented on #4365
Dupe of https://github.com/angular/angular-cli/issues/4234

[2017-02-03 16:00] #4365 closed

[2017-02-03 16:00] zh-wowtv commented on #4401
@grizzm0 Did that a few times already.
@clydin Can you explain more on peerDep? How I can deal with this? Thanks.

[2017-02-03 16:02] sguiheux commented on #4350
That 's normal : https://github.com/palantir/tslint/blob/master/src/linter.ts#L79, the getSourceFiles() method get also all referenced files.

[2017-02-03 16:02] filipesilva commented on #4320
Closing as answered. This actionable part of this bug was fixed a while ago.

[2017-02-03 16:02] #4320 closed

[2017-02-03 16:03] filipesilva commented on #4319
Heya, I think you have an issue with deployment. See https://angular.io/docs/ts/latest/guide/deployment.html for deployment information.

[2017-02-03 16:03] #4319 closed

[2017-02-03 16:03] #4317 closed

[2017-02-03 16:04] filipesilva commented on #4308
If there's a good way of doing this, I do not know of it. Would be happy to implement if someone can point me to it.

[2017-02-03 16:05] clydin commented on #4401
`ng2-smart-table`'s package.json contains this:
[code]
but `rxjs` should be here instead:
[code]

[2017-02-03 16:05] sguiheux commented on #4350
Maybe angular-cli should have a parameter to use
* Linter.GetFileNames for people who want to check all files,
* program.getRootFileNames  that do not contains files from import.

[2017-02-03 16:06] filipesilva commented on #4307
This isn't a feature we are looking at adding.

[2017-02-03 16:06] #4307 closed

[2017-02-03 16:07] filipesilva commented on #4302
Dupe of https://github.com/angular/angular-cli/issues/3549

[2017-02-03 16:07] #4302 closed

[2017-02-03 16:08] filipesilva commented on #4299
Closing as this isn't an actionable issue. I don't have any better advise though than to ask on SO.

[2017-02-03 16:08] #4299 closed

[2017-02-03 16:10] filipesilva commented on #4298
The `--public-url` option for `ng build` does this I believe.

[2017-02-03 16:10] #4298 closed

[2017-02-03 16:12] filipesilva commented on #4296
A script with a regex would be the best way. We use it in tests, see https://github.com/angular/angular-cli/blob/master/tests/e2e/tests/build/rebuild.ts for an example.

[2017-02-03 16:12] #4296 closed

[2017-02-03 16:12] Jonatthu commented on #4383
After change a file the website is not reloading with "@ngtools/webpack": "^1.2.5",
Why is this closed?

[2017-02-03 16:46] zh-wowtv commented on #4401
@clydin It works, thank you so much!

[2017-02-03 16:46] robertorosas commented on #4207
@dlimkin solution works. Thanks.

[2017-02-03 16:46] Klerith commented on #3707
Same issue trying to use angular2-jwt (Json web tokens)

import { AUTH_PROVIDERS } from 'angular2-jwt';

[2017-02-03 16:57] JFrankfurt opened #4408 "1.0.0-beta.30 - Webpack compile fails."
### OS?
Windows 10

### Versions.
[code]

### Repro steps.
ng serve works as expected in a new application, but for my current project it only serves the html shell.

### The log given by the failure.
#### I got these errors in beta.24, but everything still worked as intended, so I didn't think much of it.
[code]

### Mention any other details that might be useful.
package.json
[code]
tsconfig.jso

[2017-02-03 17:05] daporro commented on #1252
+1. Not familiar with anyone use 2 spaces for indenting...

[2017-02-03 17:20] Ploppy3 commented on #4397
@splintercode Thank you for the blog post.

[2017-02-03 17:24] linnenschmidt commented on #4252
I have also a delay for .html and .scss files.
Only after every second build the changes of the first one will be shown.
[code]

[2017-02-03 17:31] DennisSmolek commented on #4246
I'm getting the same error from our codeship build. My local build is fine but it's throwing the same thing exactly. @born2net can you reopen this?

[2017-02-03 17:33] born2net commented on #4246
yes I can, if need to re-close let me know,
regards

[2017-02-03 17:37] miguelcaravantes commented on #1610
@challe  try uninstall beta 26
install beta 30
npm install --save -g @angular/cli@1.0.0-beta.30
install ngtools 1.2.7
npm install --save @ngtools/webpack@1.2.7

this to works for me

[2017-02-03 17:49] dustintheweb commented on #4207
For me, this issue is weirdly specific to a new build, only in my live production environment (Heroku / Ubuntu). Everything gets built fresh from the package.json (no old files), so no possibilities of similar `ng` gremlins for me in that regard.

Can anyone with a similar production env also confirm that this is an issue?

[2017-02-03 17:53] phani257 opened #4409 "Angular-cli webpack failed after ng serve"
### OS?

7

### Versions.

 1.0.0-beta.28.3
### Repro steps.

Yes it is from CLI. No changes made

### The log given by the failure.

** NG Live Development Server is running on http://localhost:4200. **
 10% building modules 0/1 modules 1 active ...00/ c:\Projects\Dashboard\src\main
 10% building modules 1/2 modules 1 active ...:\Projects\Dashboard\src\polyfills
 10% building modules 2/3 modules

[2017-02-03 17:56] alexweber commented on #4207
@dustintheweb I'm getting it too and only when building in Docker

[2017-02-03 17:57] Brocco commented on #3077
@harunurhan that's great to hear!!!

Closing this issue as it is reported to be working now.

[2017-02-03 17:57] #3077 closed

[2017-02-03 18:03] jmsegrev commented on #4408
I'm having the exact same problem after updating to beta-30.

- "ng serve" will only serve the index.html shell without the built files.
- "ng build" will not generate the built files either dist/.

I also noticed that the build triggered by a file change while under "ng serve", will add the built files to the index.html, the application works after this.

I followed other threads suggestions of a

[2017-02-03 18:15] L0G1C commented on #4408
This may or may not be related but I had a problem with ngServe not kicking off browser after building changes and the fix had to do with webpack.

#4338

[2017-02-03 18:16] rkajbaf commented on #4338
Downgrading @ngtools/webpack to 1.2.4 works for me as well.

[2017-02-03 18:16] L0G1C commented on #4409
This may or may not be related but I had a problem with ngServe not kicking off browser after building changes and the fix had to do with webpack.

#4338

[2017-02-03 18:24] kopertop commented on #3104
What was the issue here? I just now started having this problem:

[code]

[2017-02-03 18:40] DennisSmolek opened #4410 "Build: Beta 30, No module factory for ContextElementDependency"
### OS?
Linux x64

### Versions
[code]

### Repro steps.
On my local mac build everything is working fine but when we try to do a codeship deployment it is throwing errors.
I've reset the cache and it should be working.. I've tried a few of the different fixes rolling around but no luck so far.

I'm including our build script(a bit bloated with trying to fix this error) and my package.json

This i

[2017-02-03 18:48] challe commented on #1610
@miguelcaravantes I just tried this but I still have the same issue.

[2017-02-03 18:52] hansl commented on #4410
You should remove the dependency to `angular-cli` and retry.

[2017-02-03 18:55] DennisSmolek commented on #4410
@hansl, good catch trying now..

[2017-02-03 19:04] DennisSmolek commented on #4410
###update
Removed the dep on `angular-cli` which did the exact same thing as adding:

[code]
as this seems to have fixed some peoples issues.. got past where it was breaking before but now its complaining about modules. What's weird is we aren't using any of these components, they are leftovers we havent removed yet..

Not sure how those two things are related, I'm grabbing lunch as my minds getti

[2017-02-03 19:24] web-dave commented on #4338
beside all the error confimations. Compiling is damn fast!!!
💋

[2017-02-03 19:29] hansl opened #4412 "Tracking: Branding"
The official product name is `Angular CLI`. The package name is `@angular/cli`.

The config file name should remain `angular-cli.json`, but we need to validate this with devrel.

[2017-02-03 19:30] JiriBalcar commented on #4338
@web-dave Maybe it is damn fast because it does not compile any typescript ;-)

[2017-02-03 19:33] web-dave commented on #4338
i mean with the fixed compiluing!!

[2017-02-03 19:36] hansl opened #4413 "Tracking: Deduping licenses"
We put license comments for every modules, and that's a bit much.

[2017-02-03 19:36] HomeboxJim commented on #3674
I am having this issue too. What is the fix?

[2017-02-03 19:38] hansl opened #4414 "Tracking: JSON Schema Documentation"
- [ ] Generate Markdown files from JSON schema
- [x] Make sure all flags are documented.

[2017-02-03 19:41] born2net commented on #4343
I still see the issue in .30 build

[code]

versions

[code]

repo:   git clone https://github.com/born2net/studioweb.git

[2017-02-03 19:41] born2net commented on #4343
can you please re-open

[2017-02-03 19:43] dtiong commented on #4394
I am  having the same issues with the new release 2.4.6. Yesterday, with version 2.3.* it was working fine.

[2017-02-03 19:44] rodrigoEclipsa commented on #2389
The same happens to me, the html takes the changes but the .ts does not

[2017-02-03 19:55] mmmichl commented on #4344
I am having the same issue as my fellow developer and going for the same solution. Just want to drop, that I also _really_ like the simple and straight forward way to extend the functionality via simple npm scripts. E.g. I use a similar approach for `ng server` where I have this start script:
`"start": "ng serve --proxy-config proxy.conf.json & npm run mock-rest"`.

But overall, thank you for your

[2017-02-03 19:59] JiriBalcar commented on #4338
Yes but with @ngtools/webpack@1.2.4 the lazyloaded bundles are not generated if you use `import * as ` somewhere in your code (even in node_modules).

[2017-02-03 20:04] filipesilva commented on #3884
`sourcemap-istanbul-instrumenter-loader` is the only one missing now.

[2017-02-03 20:07] filipesilva opened #4415 "Use protractor API for `ng e2e`"
We should be using the protractor API instead of running `npm run protractor`, similarly to https://github.com/angular/angular-cli/pull/4248.

[2017-02-03 20:10] filipesilva opened #4416 "Remove `ng update` and `ng init`"
We should remove these commands around the time of `RC.0` since there should be no breaking changes.

Any breaking changes that may arise should instead have human-written migration notes.

[2017-02-03 20:10] hansl commented on #1117
Closing this as deprecated. This has been fixed in our previous builds where we released shrink-wraps.

[2017-02-03 20:10] #1117 closed

[2017-02-03 20:11] Brocco opened #4417 "Include yarn.lock file in new project generation?"
With the PR (4321) to specify which package manager to use it will allow users to use yarn for their applications.

I wanted to open discussion as to whether the blueprints for new projects should include a yarn.lock file when the project is generated. If that is decided upon then the conversation can be moved on to implementation details.

[2017-02-03 20:11] JFrankfurt commented on #4408
@L0G1C not related, I think. I followed that thread pretty closely and it didn't solve the problem.

[2017-02-03 20:16] #4264 closed

[2017-02-03 20:17] hansl commented on #2577
Closing this as deprecated. This should be working now.

[2017-02-03 20:17] #2577 closed

[2017-02-03 20:18] hansl commented on #2585
Closing this as deprecated.

[2017-02-03 20:18] #2585 closed

[2017-02-03 20:19] hansl commented on #2586
Closing this as obsolete. Please provide a git repo that we can try to reproduce.

[2017-02-03 20:19] #2586 closed

[2017-02-03 20:21] hansl commented on #2667
Closing this as fixed.

[2017-02-03 20:21] #2667 closed

[2017-02-03 20:23] weihotline opened #4418 "ng build or ng serve alter <base href>"
With the latest angular-cli update (1.0.0-beta.26 and 1.0.0-beta.30), the base href="/xyz/" in the index.html will be reverted to base href="/" if not specified in ng serve or ng build.

In my project, I explicitly set the base href="/xyz/" in the index.html. But after the project compiles (ng serve or ng build), base href will become "/" in the index.html. The issue was not present before beta.26

[2017-02-03 20:25] weihotline commented on #4418
The temporary fix for me is to do `ng serve --base-href /xyz/`

[2017-02-03 20:26] hansl commented on #2901
Closing this as this is a webpack issue and there are fixes being discussed on their side.

[2017-02-03 20:26] #2901 closed

[2017-02-03 20:27] Brocco opened #4419 "Discuss: Pull in environment variables at build time"
When building/compiling an application it would be helpful to pull in local environment variables from the machine to be used within the application.

Please keep comments to whether this feature should be implemented not how to implement.

[2017-02-03 20:28] hansl commented on #3023
Closing this as AOT compatible libraries are needed now. Most libraries that we contacted already published AOT-compatible versions on npm.

[2017-02-03 20:28] #3023 closed

[2017-02-03 20:28] filipesilva commented on #4415
Dupe of https://github.com/angular/angular-cli/issues/4256

[2017-02-03 20:28] #4415 closed

[2017-02-03 20:30] hansl commented on #3199
Closing this as done;

1. we will not remove dependencies on protractor and karma before 1.0
2. the sass-loader plugin is useful for most people and the main users having problems (Chinese developers behind the firewall) can now use `cnpm` to install.

The install time went down significantly, and we have support for `yarn` as well which reduces further time.

[2017-02-03 20:30] #3199 closed

[2017-02-03 20:30] hansl commented on #3264
Closing this as fixed.

[2017-02-03 20:30] #3264 closed

[2017-02-03 20:31] hansl commented on #4256
Reminder to implement an npm script `"e2e": "ng e2e"`.

[2017-02-03 20:33] Brocco opened #4420 "Update wiki documentation generation"
Update the process to flatten the directory structure when migrating from the documentation folder (https://github.com/angular/angular-cli/tree/master/docs/documentation) to the site wiki (https://github.com/angular/angular-cli/wiki)

[2017-02-03 20:44] MurhafSousli opened #4421 "Output dist directory for ng serve"
I'm submitting a **feature request**

I'm wondering if it's applicable to introduce an optional flag for `ng serve` to output `dist` directory.
Using this flag along with the [**Proxy To Backend**](https://github.com/angular/angular-cli#proxy-to-backend) feature will support serve environment for whom are using the CLI within an external server such as `IIS` and `Apache`

Related issue #4271

[2017-02-03 20:48] artaommahe commented on #2496
@filipesilva i'm trying to migrate to `@ngtools/webpack` usage (without ng-cli) with custom webpack config and with #4153 changes there is no lazy routes chunks on build. As i investigated this check never passes
https://github.com/angular/angular-cli/blob/29b134d7018c7d4e2eed74715b30b28e56fdcd49/packages/%40ngtools/webpack/src/plugin.ts#L247
If i comment it out, bundles created but with a lot of

[2017-02-03 20:55] infinitysky commented on #4408
Hi, I think I have got similar problem with you
[code]

and I got the following problems when I try to do `ng serve` with `angular/cli (beta.30)`

[code]

"ng serve" ---> Error.
"ng build" ---> Error.

I have tried the advice, which is installing webpack@1.2.4 "npm install @ngtools/webpack@1.2.4 --save". After I installed the webpack@1.2.4 the problem gone.

[2017-02-03 21:01] JFrankfurt commented on #4408
I spent a solid 6 hours working on this. Ended up just rolling back to `1.0.0-beta.26`

[2017-02-03 21:08] rohitsodhia opened #4422 "ng serve not creating new hash on code updates"
### OS?
Win 8

### Versions.
 1.0.0-beta.30

### Repro steps.
Originally created in 1.0.0-beta.26, I followed the update steps on the main GIT page to update to 30.

### The log given by the failure.
Not a failure, persay. When I run ng serve, the initial compilation works out. When I change code, it triggers the compiler to rebuild the files, but the same hash is served, and the files don't seem

[2017-02-03 21:10] sgybas commented on #4418
This has already been reported as #4340.

[2017-02-03 21:15] nerumo commented on #4422
Same on Win 10, the hash stays the same. If I change the html it works, but not for TS.

[2017-02-03 21:25] apapatp commented on #3707
Same issue trying to use angular2-social-login

import { Angular2SocialLoginModule } from "angular2-social-login";

@NgModule({
....
Angular2SocialLoginModule.initWithProviders(providers)
});

Error encountered resolving symbol values statically. Calling function 'Angular2SocialLoginModule', function calls are not supported. Consider replacing the function or lambda with a reference to an exported

[2017-02-03 21:25] hansl commented on #4422
Seems like this is a problem mostly with Windows. We'll investigate. Thanks!

[2017-02-03 21:27] Ionaru commented on #4422
Can confirm issue on Windows 10, changing something in the stylesheets will also trigger a refresh correctly.

[2017-02-03 21:31] Jonatthu commented on #4422
Same here with ngtools 1.2.7 is happening, I've installed 1.2.4 for keep working

[2017-02-03 21:42] adam77 commented on #4298
`--public-url` [PR for reference](https://github.com/angular/angular-cli/pull/3285)

[2017-02-03 22:08] DennisSmolek commented on #4419
I'd like to see this. We had this ability in our previous build method using just webpack (mentioned in #4318 )

We use codeship for continuous deployment which automatically merges in build, branch, etc into our code that services like bugsnag look for.

we used to do this:
[code]

and then all bugs can be tracked from when they first appear, branches, etc. We have considered modifying other file

[2017-02-03 22:47] gotofritz commented on #4368
I can confirm that it now works for me.

I did un unistall and re-install for the `npm angular-cli` module

[2017-02-03 22:49] kamalkech commented on #4383
@Jonatthu : first update your angular-cli to get last version if reload not work install @ngtools/webpack@1.2.4

[2017-02-03 22:56] dustintheweb commented on #3706
@photostu can you post your hack?

[2017-02-03 23:14] photostu commented on #3706
It's really simple, just add 2 build steps to rename the offending file before the client build, then fix it back before your server build. Total hack job.

[2017-02-03 23:17] KevinBurton opened #4425 "ng beta 30 fails"
OS Windows 7
@angular/cli: 1.0.0-beta.30
'ng help' causes:
Cannot find module 'rxjs/symbol/observable'
Error: Cannot find module 'rxjs/symbol/observable'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:498:17)
    at require (internal/module.js:20:19)
    at globalScope (C:\Users\Kevin\AppData\Roaming\npm\n

[2017-02-03 23:20] mattdistefano commented on #4422
Dup of #4338?

[2017-02-03 23:34] weihotline commented on #4418
Closed as this is reported in #4340

[2017-02-03 23:34] #4418 closed

[2017-02-03 23:42] #4338 closed

[2017-02-03 23:42] #4345 closed

[2017-02-03 23:42] #4422 closed

[2017-02-04 00:08] ctrl-brk commented on #4338
I haven't noticed any significant speed increase.

[2017-02-04 00:41] AmarildoK commented on #4425
Same issue. This only happens when you try to compile a project that was created with an older version of cli. I have not been able to find the cause of this.

In the meantime just make new project and copy paste your components etc. to the new project.

[2017-02-04 01:53] maschad commented on #4425
I am receiving the same issue as well after running ```npm install -g @angular/cli``` and then running ```ng help``` , I tried a ```npm install  rxjs-es```  but still getting that error, perhaps it's no longer bundled?

[2017-02-04 02:11] tinchou commented on #4124
just tried `v1.2.8` and it's still not working.

[2017-02-04 02:15] markgoho commented on #4425
Have you guys tried `npm install -g rxjs`?

[2017-02-04 02:21] born2net opened #4427 ".30 AOT fails with Module build failed: TypeError: Cannot read property 'kind' of undefined"
### OS

[code]

### Repro steps.
With latest .30 getting errors with AOT mode:

[code]

JIT works with both re-builds and lazy loading chunks.
but AOT is no go

anything I can try?

repo:
git clone https://github.com/born2net/studioweb.git

regards

Sean

[2017-02-04 02:23] born2net commented on #4327
I still have the same issue with .30 :(

[2017-02-04 02:24] born2net commented on #4343
I am not sure which injects to fix as the issue is from the loader (.30 latest)

[code]

[2017-02-04 02:40] born2net commented on #4343
so I can confirm removing every single @inject "fixes" the issues as a workaround
hope we can get it fixed as I still need to @inject
for example
[code]
regards

[2017-02-04 02:40] born2net commented on #4427
so I can confirm removing every single @inject "fixes" the issues as a workaround
hope we can get it fixed as I still need to @inject
for example
[code]
regards

[2017-02-04 03:10] KevinBurton commented on #4425
@AmarildoK But I didn't try to compile the project just invoked 'ng help'?

[2017-02-04 03:12] gabemasiulis commented on #4425
I got the same result, then tried markgoho's suggestion. After `npm install -g rxjs` I was able to `ng help` and `ng new`, but I could not `ng serve` the new Angular project. I came up with  quite a long error output:
[code]
Continues on for a bit

[2017-02-04 03:28] dereklin commented on #4331
This is fixed in angular-cli 1.0.0-beta.28.3

[2017-02-04 03:28] #4331 closed

[2017-02-04 04:00] hoatle commented on #4207
anyone using Docker, I recommend using this Docker image to get started https://hub.docker.com/r/teracy/angular-cli/tags/

or you can use this seed project https://github.com/teracyhq/angular-boilerplate that I'm working on

I do not have any issues so far with these 2 projects.

[2017-02-04 06:23] Meligy commented on #4427
I think this is reported already in another issue. In that issue it was about `@inject` in a constructor parameter. I suggested that adding a type to the parameter, any type, even `any`, would fix it, and the issue creator confirmed this worked.

Try this as a workaround. Just stick `: any` in front of it.

[2017-02-04 06:45] hansl commented on #4421
This is by design, and you should never use `ng serve` for anything other than development. It's not performant and it's not secure.

[2017-02-04 06:45] #4421 closed

[2017-02-04 06:47] hansl commented on #4368
@lukejoliat if you have a Windows machine, could you try reinstalling the CLI? Let me know if it's fixed.

[2017-02-04 07:21] cesarvarela commented on #3707
what's exactly happening here?

[2017-02-04 08:05] isuruplus commented on #1610
thanks man @miguelcaravantes, u saved my dy.

[2017-02-04 08:09] BikashDas19 opened #4429 "Angular CLI New project creation issue"
### OS?

### Versions.

node: 6.9.5
os: win32 x64

### Repro steps.

### The log given by the failure.
6223 error Windows_NT 6.1.7601
6224 error argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "node-sass"
6225 error node v6.9.5
6226 error npm  v3.10.10
6227 error code ELIFECYCLE
6228 error node-sass@4.5.0 postinstall: `node scrip

[2017-02-04 08:13] szilarddavid commented on #1980
Massive improvement for me on Windows 10

beta26: ~12s
beta28: ~2s

Thanks!

[2017-02-04 08:51] MurhafSousli commented on #4421
@hansl did you understand my request?! I said I want to use `ng serve` for development!! why did you close it?

[2017-02-04 08:54] MurhafSousli commented on #4421
@hansl you are saying this is by design, but doesn't mean it can't be extended, for example `ng serve --aot` gives the `dist` directory, the only downside that it's slower!

[2017-02-04 09:07] MurhafSousli commented on #4421
Tell me where did I mention **PRODUCTION**, I said I need the `dist` directory, because `APACHI` or `IIS` needs to load the angular app from there **FOR LOCAL DEVELOPMENT ONLY**

[2017-02-04 11:44] wellwind opened #4430 "[Feature Request] Project assets out of /src folder"
I want to add some file to assets in angular-cli.json out of /src folder, but failed

[code]

Is it possible to add file to assets out of /src folder?

And if there is more advanced settings like ```{ "from": "../package.json", "to": "customize/path/package.json" }``` could be better.

e.x.

[code]

[2017-02-04 12:06] titanoz commented on #2389
I think problem is in WebStorm. Webpack watch doesn't work if the file is not saved directly. Please try turning 'Safe write' option ( Settings | Appearance & Behavior | System Settings | Use "safe write" (save changes to temporary file first)) off. After this change all works fine for me.

[2017-02-04 12:17] artaommahe opened #4431 "Using @ngtools/webpack with ContextReplacementPlugin plugin does not create lazy routes chunks"
### OS?
Ubuntu 16.04

### Versions.
**@ngtools/webpack** - 1.2.7

### Repro steps.
- create simple webpack config with `@ngtools/webpack` usage and app with lazy routes (e.g. this example repo https://github.com/daniele-zurico/webpack-aot)
- add to webpack config plugins `ContextReplacementPlugin` usage like so
[code]
- run build `npm run build`
- no chunks for lazy routes in `dist` folder
- comme

[2017-02-04 12:59] artaommahe commented on #4431
I checked this in main app - comment out `ContextReplacementPlugin` - and chunks created successfully, but each chunk includes all imported code despite they are included in non-lazy main bundle.

As i understand it's due to this `webpack.optimize.CommonsChunkPlugin` usage
[code]
For repo above `main` is `./app/main.aot.ts` entry and `vendor` - added `./app/vendor.ts` with contents like this
[code

[2017-02-04 13:27] toni8810 commented on #2389
It is a bug in the latest CLI. Execute the following command in your project folder:
npm install --save @ngtools/webpack@1.2.4
and
ng serve

And it should work fine

[2017-02-04 13:53] strayobject commented on #4425
I upgraded to .30 on ubuntu 16.04 and created new project
run `ng serve` and got

after fixing that I'm stuck with:

[2017-02-04 13:53] delasteve commented on #4421
@MurhafSousli, if you're needing the `dist` directory, just use `ng build --prod`. I don't see what benefits `serve` gives you if you're using IIS or Apache in front of you app.

[2017-02-04 14:01] dahang commented on #4425
I got same issue. update Package.json :

[code]
resolve it.
and got this waring:
fallbackLoader option has been deprecated - replace with "fallback"

I pushed changes to my ng2 D3 scaffold project.
https://github.com/dahang/d3-angular2-app.git

[2017-02-04 14:05] grizzm0 commented on #4421
You might want to throw in `--watch` aswell to rebuild on changes.

[2017-02-04 14:19] alexweber commented on #4207
@hoatle Thanks for the tip!  Unfortunately my project's openshift s2i environment doesn't allow me to use docker images (even though OC itself supports it), we're currently using: https://hub.docker.com/r/ryanj/centos7-s2i-nodejs/ which is itself pretty out of date, sigh. :(

[2017-02-04 14:26] MurhafSousli commented on #4421
@delasteve How do you want do live reload with `ng build --dev` ?

[2017-02-04 14:27] hansl commented on #4421
@MurhafSousli You edited your original comment, and it wasn't clear.

What you're really looking for is `ng build --watch`, which outputs `dist/` and will update it when files change.

[2017-02-04 14:27] MurhafSousli commented on #4421
@hansl yes I changed `support serve environment` to `support dev environment`, still same meaning

[2017-02-04 14:28] grizzm0 commented on #4421
Livereload is part of webpack-dev-server and is not something you'll get access to if you're using IIS or apache. As stated before you can use `--watch` to rebuild on change. But you'll still ned to manually refresh the page to see changes.

[2017-02-04 14:28] BaggersIO commented on #4425
I made a back up of my source code and package.json / angular-cli.json changes und ran `ng init` within the buggy project. Follow the init process and replace everything. Now apply your back up to the new project and run `ng serve`. It should work from now.

Maybe there will be still some missing dependencies which were dropped by the ng init. Add them to your package.json and re-run `npm i`. Don'

[2017-02-04 14:29] MurhafSousli commented on #4421
@grizzm0  Check the [Proxy To Backend](https://github.com/angular/angular-cli#proxy-to-backend).

[2017-02-04 14:33] AmarildoK commented on #4425
I followed @dahang instructions and changed the dev dependencies and it works. Though I don't seem to get the warning that dahang describes.

[2017-02-04 14:55] nurbsurf commented on #4207
OSX 10.12.3
NPM 4.2.0
[ISSUE]
Encounter the same issue when I updated angular-cli and ran $ng new appname. App wouldn't build.

[RESOLVED]

1. ran `npm uninstall angular-cli -g`
2. ran ` npm uninstall angular-cli --save`
3. Confirmed angular-cli was not in angular-cli `/usr/local/lib/node_modules`
4. Confirmed angular-cli was not in `/Users/username/node_modules`
5. Confirmed there was no package.

[2017-02-04 15:54] artaommahe commented on #4431
Added repo where both issues can be reproduced
https://github.com/artaommahe/webpack-aot

App contains 3 modules
- main `AppModule` that imports `SharedModule`
- lazy loaded `FeatureModule` that also imports `SharedModule`
- `SharedModule` with commonly used component

For proper work there should be 3 bundles in `./dist` folder on `npm run build` command
- `vendor.js` with all common libs (angula

[2017-02-04 16:15] dustintheweb commented on #3706
came back to confirm. hackasarus rex will have to do until the actual bug gets fixed

[2017-02-04 17:10] blacksonic opened #4433 "Using @ngtools/webpack breaks attribute processing in html-loader"
### OS?
Ubuntu 16.04

### Versions.
**@ngtools/webpack** ~1.2.7

### Repro steps.
In HTML templates use an img tag like `<img src="./angular.png">`, and use `html-loader` in Webpack with `attrs: true`. It should process src attributes with the corresponding loader.
With version 1.2.7 it transforms the filename to `[hash].png` as expected in the HTML, but the image doesn't appear on the output.

[E

[2017-02-04 18:26] strayobject commented on #4425
For me it did not work. I wanted this update as a solution to .ts file recompile issue, but I managed to slve it by downgrading cli to beta 28.3 and webpack to 1.2.4

[2017-02-04 18:59] alienk1 commented on #2389
@toni8810 , thank you!

[2017-02-04 21:42] beeman opened #4434 "fallbackLoader option has been deprecated - replace with "fallback" loader option has been deprecated - replace with "use""
### OS?

- macOS Sierra
- Ubuntu 16.04.1 LTS (clean machine)

### Versions.

[code]
### Repro steps.

[code]

### The log given by the failure.

[code]
### Mention any other details that might be useful.

The project seems to work correctly.

[2017-02-04 21:43] rodrijuarez commented on #4425
For the warnings indicated by @dahang , I think that line 90 in `models/webpack-configs/styles.js` should be replaced with:
```                    use: [```

and line 95 with:
```                    fallback: 'style-loader',```

Given that options loader and fallbackLoader are deprecated, this is caused by an update of the library `extract-text-webpack-plugin`, given that is specified like this:
`

[2017-02-04 22:38] d3viant0ne commented on #4427
@Meligy to the rescue, the `@Inject` thing has been grinding my nerves all morning :)

[2017-02-04 22:50] kumaraksi opened #4436 "patterns.map is not a function"
### OS?

Windows 7

### Versions.

angular-cli: 1.0.0-beta.28.3
node: 6.6.0
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/compiler-cli: 2.4.6

### Repro steps.

I upgraded from beta 16 to beta 28.3

### The log giv

[2017-02-04 23:44] Bnaya commented on #3555
Looks like you can use explicit file-loader calls!
``
// this will include static files from budgetkey-ng2-components to our dist
const t = '';
console.log(require('file-loader?name=assets/[path]/[name].[ext]!budgetkey-ng2-components/assets/' + t));
``

I'm still hacking on it

[2017-02-05 01:24] mattma commented on #4434
I experienced the same issue. I think this pr fixed it. Thanks

[2017-02-05 02:10] beeman commented on #4436
@kumaraksi if you not did so after upgrading your packages, can you remove `node_modules` and `npm install` ?

Also, please note that the latest version of the project lives in the `@angular/cli` package.

To work with this version uninstall angular-cli globally: `npm uninstall -g angular-cli`, locally `npm uninstall --save-dev angular-cli` and install `@angular/cli` globally and locally.

[2017-02-05 04:45] Meligy commented on #4417
If the package uses yarn install, this'll add the lock file anyway.

If it doesn't, I don't think it's good to add it.

[2017-02-05 05:41] Splaktar commented on #4425
There is now a PR to fix the loader warnings: https://github.com/angular/angular-cli/pull/4435

[2017-02-05 07:03] delasteve commented on #4350
@maxime1992, @sguiheux: With #4437, it will be default use the `tsconfig.json` file if the `files` property isn't set. I also included a new `exclude` property that will take a glob.

I checked against your repo, @maxime1992, and it excluded the `node_modules` folder.

The `angular-cli.json` generated when you `ng new` will be sufficient enough to always exclude `node_modules`, but if you chose to

[2017-02-05 08:03] kumaraksi commented on #4436
@beeman I removed the `node_modules` and then ran `npm install`. Still getting the same error.
Also unistalled angular-cli globally and locallyand installed `@angular-cli` globally and locally.
Still getting the same error.

My package.json is as below :

`{
  "name": "invoice",
  "version": "0.0.0",
  "license": "MIT",
  "angular-cli": {},
  "scripts": {
    "serve": "ng serve",
    "lint": "tsli

[2017-02-05 09:14] Meligy commented on #4436
You need to remove `angular-cli` and install `@angular/cli`.

Please [see here](https://www.gurustop.net/blog/2017/02/03/how-to-upgrade-from-angular-cli-beta-28-3-and-lower-to-angularcli/) for specific steps to ensure a successful upgrade.

[2017-02-05 09:37] sslgeorge commented on #4425
Steps I took to resolve Issue,

- Uninstalled angular cli `npm uninstall @angular/cli -g`
- Installed rxJS `npm install rxjs -g`
- Cleared cache `npm cache clean`
- Installed angular cli `npm install @angular/cli -g`

[2017-02-05 10:14] cghislai commented on #4410
I resolved this issue by downgrading to @angular/cli beta.29 and webpack@2.2.0.
I removed nodes_modules, ran npm i , then build passed (with and without aot, using lazy loaded modules).
@angular/cli: 1.0.0-beta.29
node: 6.9.5
os: linux x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platfo

[2017-02-05 11:00] david-bulte opened #4438 "polyfills.bundle.js not included when you serve app through npm script"
### OS?
Windows 7

### Versions.
@angular/cli: 1.0.0-beta.30
node: 6.9.5
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps.
After updating the CLI to 1.0

[2017-02-05 11:10] grizzm0 commented on #4438
Did you add `"polyfills": "polyfills.ts"` to your angular-cli.json? I missed that diff myself at first.

See: https://github.com/angular/angular-cli/blob/c889dd8e9408f02bf8b1138c9cff15d27d1140dc/packages/%40angular/cli/blueprints/ng2/files/angular-cli.json#L16

[2017-02-05 11:14] david-bulte commented on #4438
Yes i did. And when I just run 'ng serve' everything is working fine.

[2017-02-05 11:51] vittorio-tortugo commented on #1537
I had the same issue in webstorm 2016.2.X. Issue was resolved after updating to 2016.3.X version

[2017-02-05 12:02] LeonLiber commented on #4288
I'm now loading a "sandbox" script using the "scripts" section in angular-cli.json.
This "sandbox" script must be removed from the production build, any suggestion how to do so in the meantime?

[2017-02-05 12:33] juhap commented on #2828
Check if angular-cli/plugins/karma exists in the node_modules directory.

In my case the problem was that I had migrated to @angular/cli package, but karma.conf.js was still referencing the angular-cli paths.  I updated my references by comparing to the karma.conf.js from this repo: https://github.com/angular/angular-cli/blob/master/packages/%40angular/cli/blueprints/ng2/files/karma.conf.js

[2017-02-05 12:51] galta commented on #4288
Following...
having the same problem...  :-(

[2017-02-05 14:32] raducostea commented on #4338
I can see an about 2s improvement. I get a 2-3 seconds build time on save. Previously i was getting 4-5 seconds before.

[2017-02-05 14:55] LeonLiber commented on #4288
Suggested workaround:
You can edit your "scripts" section under package.json file to have that:

`"start": "cp angular-cli-dev.json angular-cli.json && ng serve",
    "build": "cp angular-cli-prod.json angular-cli.json && ng build"`

Then you should rename your `angular-cli.json` file to ` angular-cli-dev.json` and `angular-cli-prod.json`
Each should have different configuration - in my case, diff

[2017-02-05 16:21] julianobrasil opened #4439 "npm start failing at ng serve after updating to beta.30"
### OS?
Windows 10

### Versions.
@angular/cli: 1.0.0-beta.30
node: 6.9.5
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/material: 2.0.0-beta.1
@angular/flex-layout: 2.0.0-beta.4
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular

[2017-02-05 16:46] maxime1992 commented on #4425
I have many projects based on angular-cli.

I did upgrade one of them and when I decided to work on the other I had this error.

The thing is, I upgraded angular-cli globally from `angular-cli.beta.28-3` to `@angular/cli beta 30` when I upgraded the first project.

Once I upgraded my second project to `@angular/cli beta.30`, everything was working just fine :+1:

[2017-02-05 16:57] Exertive commented on #4436
Just a quick note to say that I had exactly the same problem attempting to run Jeremy Elbourn's (jelbourn) Material 2 App straight out of the Github box. I successfully solved the issue with a combination of 1) Meligy's Angular CLI upgrade; and 2) rebuilding the app from a fresh 'ng new material2app' project andcpy across relevant content.

[2017-02-05 17:59] kumaraksi commented on #4436
Thanks mate for the help. Issue was resolved after I followed the steps mention in the link provided by @Meligy . Was searching the net for a similar article on upgrading  from `angular-cli` to `@angular-cli`.

[2017-02-05 17:59] #4436 closed

[2017-02-05 18:25] shouvikme opened #4440 "Error encountered resolving symbol values statically"
### OS?

Mac OSX (El Capitan)

### Versions.

@angular/cli: 1.0.0-beta.30
node: 7.0.0
os: darwin x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps.

Added a simple

[2017-02-05 18:33] deebloo commented on #4440
Export dictionary and the error should go away

[2017-02-05 18:40] rodneyjoyce opened #4441 "Noticable performance improvement in .30"
Hi all,

Just upgraded from .26 to .30 on 2 projects and the speed/performance increase is fantastic - I was serving up in 12 seconds now it's down to 2-3 seconds (old laptop). AOT and Chunking working great.

Appreciate all the hard work!

[2017-02-05 18:41] LunaBawa commented on #1149
Hello philipo this is what am getting any help

C:\Users\USER>ng --version
'ng' is not recognized as an internal or external command,
operable program or batch file.

C:\Users\USER>node --version
v6.9.5

[2017-02-05 18:44] LunaBawa opened #4442 "'ng' is not recognized as an internal or external command, operable program or batch file."
Am getting this at after setup

C:\Users\USER>ng --version
'ng' is not recognized as an internal or external command,
operable program or batch file.

C:\Users\USER>node --version
v6.9.5

Am using Windows 10/ 64 bit

### OS?

### Versions.

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.

[2017-02-05 19:31] david-bulte commented on #4442
Either you haven't installed the CLI globally or you haven't added your NPM home dir to your PATH?

[2017-02-05 19:53] LunaBawa commented on #4442
![image](https://cloud.githubusercontent.com/assets/11213175/22629353/9ac153a6-ebe4-11e6-90fd-1734e3db17ba.png)

Please, how do i add NPM home dir to my path?

[2017-02-05 20:10] janklan opened #4443 "NPM page of @angular/cli links to angular-cli"
### What's happening?

The description at https://www.npmjs.com/package/@angular/cli links one of the status indicators to an old repository, causing a wrong "current" version to be displayed.

### OS?

N/A

### Versions.

v1.0.0-beta.30

### Repro steps.

Open https://www.npmjs.com/package/@angular/cli

### The log given by the failure.

N/A

### Mention any other details that might be useful.

I

[2017-02-05 20:19] david-bulte commented on #4442
http://stackoverflow.com/questions/27864040/fixing-npm-path-in-windows-8 might help?

Have a look at Yar's answer for finding the npm path. The other answers for how to add that path to your Windows PATH environment variable.

[2017-02-05 20:28] mgol commented on #3104
@kopertop The issue was having Webpack bundles generated by two apps loaded on the same site - I had another Webpack-compiled AngularJS 1.x app and wanted to use its bundles in an Angular app generated by Angular CLI. When I changed the AngularJS app to be compiled to a single bundle, the problem went away.

For a while I thought this is because my AngularJS app used Webpack 1 and Angular CLI was

[2017-02-05 20:39] hectorMurillo commented on #2356
For those who use windows:

It is a bug in the latest CLI.
Execute the following command in your project folder:
"npm install --save @ngtools/webpack@1.2.4"
and  npm start or ng serve.

And it should work fine

[2017-02-05 21:02] niklas-dahl commented on #4441
@rodneyjoyce could you share you `package.json` are you using `angular-cli` or `@angular/cli`

[2017-02-05 21:15] gncstudios commented on #2293
moduleId: module.id worked for me

[2017-02-05 21:25] rodneyjoyce commented on #4441
Sure:   (I am not sure of the last question)
[code]

[2017-02-05 22:06] hansl commented on #4441
Hey @rodneyjoyce,

Thank you so much for your kind words. I forwarded them to the rest of the team and it's very heart-warming.

Stay tuned for even more enhancements coming up in the next couple of weeks :)

[2017-02-05 22:07] Brocco commented on #4441
Agreed with @hansl thank you for the positive feedback!!!

However your joy and success is not an "issue"  so closing this issue. THANKS!!!

[2017-02-05 22:07] #4441 closed

[2017-02-05 22:15] rodneyjoyce commented on #4441
Yeah, sorry, was not sure where to post this ;)

[2017-02-05 22:17] beeman commented on #4441
@rodneyjoyce I already filed an issue @github that there is no 'Compliments' section in each repo ;)

[2017-02-05 22:45] maxime1992 commented on #4350
@delasteve Wow thanks ! :tada:

Gonna try that ASAP this week !

[2017-02-05 22:46] Brocco commented on #4417
The difference is that by defining it and deploying with it you're locking in the initial child dependencies that are known to be working. And not just taking the derived versions at the time of running `ng new`

[2017-02-05 23:25] Almar commented on #4350
@delasteve, thank you for your work. I don't understand your last message though. Have you figured out why node_modules was included when linting in @maxime1992 project? The ```files``` property was set so he would not have needed the ```exclude```option, correct?
I'm having the same problem and I don't understand what the difference is between a newly created project and an upgraded one.

[2017-02-06 02:25] kilgarenone commented on #4368
Live reload doesn't work for changes in` .ts` files. It works on html.

[code]

[2017-02-06 02:28] beeman commented on #4368
@kilgarenone a new version of `@ngtools/webpack` has been released recently.

Can you remove `node_modules` and `npm install` and see if that fixes it?

[2017-02-06 02:35] delasteve commented on #4350
@Almar, from what I can tell, this is what is happening... (tl;dr provided at end)

`node_modules` was included because it included `.ts` files. The library should not have included the `.ts` files in the published `npm` module. It doesn't happen with a fresh project because all the dependencies are correctly published (as in they *only* published the transpiled output, `.js` and `.d.ts`).

The re

[2017-02-06 02:57] beeman commented on #4439
@julianobrasil you probably have a local version of `angular-cli` installed.

Make sure you remove the references to `angular-cli` from the devDependencies section in you package.json, then remove `node_modules` and `npm install`.

[2017-02-06 03:04] keyiis commented on #4284
@filipesilva  i already update @ngtools/webpack & @angular/cli to last version,but aot still not work!

[2017-02-06 03:40] shouvikme commented on #4440
I did try that before posting. It gives another error

Error encountered resolving symbol values statically. Expression form not supported

[2017-02-06 06:06] hydra1983 commented on #4292
All the solutions above doesn't work for me.
I added

[code]

But ```2.0.0-rc.3``` still be installed.

[code]

After I run

[code]

And re-build production again, it works.

[2017-02-06 06:20] RuSTer1241 opened #4445 "Installation Fail (Failed at the node-sass@4.5.0 install script 'node scripts/install.js'.)"
**Installation Fail (Failed at the node-sass@4.5.0 install script 'node scripts/install.js'.)**
**Attach:**
[npm-debug.log.tar.gz](https://github.com/angular/angular-cli/files/753757/npm-debug.log.tar.gz)

**Info**
istributor ID:	Ubuntu
Description:	Ubuntu 14.04.4 LTS
Release:	14.04
npm ERR! node v6.9.1
npm ERR! npm v3.10.9

**Ubuntu terminal log:**
developer@image-4963-l:~/Projects/angular-quicks

[2017-02-06 06:32] Meligy commented on #4191
The code that's causing this has changed a lot, and I'm not seeing this anymore.

I got the issue with file changes triggering rebuild without changing output in beta.28 though but that doesn't seem to be happening after installing beta.30 and doing `npm update` (I', lying, it's `yarn upgrade`), which is working, except it's showing the Webpack loader deprecation warnings, which are fixed in maste

[2017-02-06 06:32] #4191 closed

[2017-02-06 06:56] DaveXCS commented on #4383
But even if a fix exist by downgrade/upgrade a dependency it is still a bug with priority high or blocker.
So it shouldn't be closed until it is fixed isn't it?
Latest version is still beta30 with this bug.

[2017-02-06 07:02] nhtb commented on #2389
@toni8810 thank you!

[2017-02-06 07:04] Pilukina opened #4447 "ERROR in ** is not an NgModule,"
### OS?

### Versions.
@angular/cli: 1.0.0-beta.29
node: 6.9.2
os: win32 x64
@angular/common: 2.4.2
@angular/compiler: 2.4.2
@angular/core: 2.4.2
@angular/forms: 2.4.2
@angular/http: 2.4.2
@angular/material: 2.0.0-beta.1
@angular/platform-browser: 2.4.2
@angular/platform-browser-dynamic: 2.4.2
@angular/router: 3.4.2
@angular/cli: 1.0.0-beta.29
@angular/compiler-cli: 2.4.2

### Repro steps.
The app

[2017-02-06 07:43] hccampos commented on #1980
While it's better with the new cli, here it is...

[code]

First run is with a single line change, the others are without any changes at all. With `https://github.com/AngularClass/angular2-webpack-starter` the time goes to 1s (sometimes less), since it uses the DLLplugin (my guess as to the reason). Unfortunately we can't easily switch over because we are making heavy use of the cli's environments

[2017-02-06 08:33] victornoel commented on #4351
@filipesilva Thanks,

So for the record, from what I understood, `ngIf` wasn't properly checked, and it should be fixed in the next release… I think, it's not so clear :)

[2017-02-06 08:35] GoNode5 opened #4448 "changed location install -g Windows 10"
Windows 10 ( cli version .18)
npm uninstall -g angular-cli @angular/cli
npm cache clean
npm install -g @angular/cli@latest

I was expecting a refreshed ng.cmd. Then I found out that now it's installed at:
- C:\Program Files\nodejs\node_modules\@angular
- ng.cmd now in C:\Program Files\nodejs
It used to be:
 C:\Users\Office\AppData\Roaming\npm

Its working because the path is now:
C:\where ng
C:\Pr

[2017-02-06 08:40] Meligy commented on #4448
That's a bit odd and looks like a problem with Node/Npm not Angular CLI.

Can you please share your Node and NPM versions?

Are they installed via official installer or via some other way?
(As in: portable node, or using Chocolatey)

Anything interesting in your .npmrc file in your user folder?

One more thing: Does it happen with other global CLI packages? Try installing something else (typescrip

[2017-02-06 08:43] AshMcConnell commented on #2389
@toni8810 Thanks!  Fixed the problem.  I assume we'll want to remove that specific version once the bug is fixed in the next release? Thanks again!

[2017-02-06 08:46] raducostea commented on #2389
This is fixed for me in the @angular/cli latest release.

[2017-02-06 08:46] sergiator opened #4449 "Broken links in Readme.md"
### OS + Web Browsers

### Mention any other details that might be useful.

This links are broken:

[![Dependency Status][david-badge]][david-badge-url]
[![devDependency Status][david-dev-badge]][david-dev-badge-url]
[![npm][npm-badge]][npm-badge-url]

[david-badge]: https://david-dm.org/angular/angular-cli.svg
[david-badge-url]: https://david-dm.org/angular/angular-cli
[david-dev-badge]: https://

[2017-02-06 08:46] AshMcConnell commented on #2389
@raducostea thanks!

[2017-02-06 09:02] snyk-community opened #4450 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
  - [Regular Expression Denial of Service](https://snyk.io/vuln/npm:minimatch:20160620?utm_source=gh_issue)
  - Affected package: minimatch &lt;&#x3D;3.0.1

[Here is the test report for this repo. ](https://snyk.io/test/github/angular/angular-cli?utm_source=gh_issue)
If you’d like to fix this vulnerability, Snyk lets you gener

[2017-02-06 09:07] GoNode5 commented on #4448
node v7.4.0 / npm  v4.0.5
I use NVM to switch node versions, never had any problems before.

Last week before I installed angular-cli local (without -g) that worked ok. Wanted to upgrade last week but then .28 broke everything. Also local install was not possible anymore because changed ng.cmd  where node_modules\@angular\cli\bin\ng is not compatible with node_modules\angular-cli\bin\ng
Now I unde

[2017-02-06 09:29] kuncevic commented on #4383
@DaveXCS the but has being fixed with `@ngtools/webpack@1.2.8` https://github.com/angular/angular-cli/commit/9fcf10a89b0995c2da606fbbe5a341d42044654b

[2017-02-06 10:06] filipesilva commented on #2673
@deebloo I'm having some trouble reproducing this. Can you provide me with a repo where this happens, or tell me what's the definition of `AppConfig` in your example?

[2017-02-06 10:08] david-bulte commented on #4438
Ok my bad. When updating the CLI, the old "angular-cli" entry was still in my package.json.

[2017-02-06 10:08] #4438 closed

[2017-02-06 10:08] beeman commented on #4447
Hi @Pilukina , see this issue for the problem and solutions at the bottom

[2017-02-06 10:10] beeman commented on #4449
Most likely dupe of #4443

[2017-02-06 10:12] #4434 closed

[2017-02-06 10:30] sfabriece opened #4451 "Is there a way to conditionally include scripts in index.html as in analytics?"

[2017-02-06 10:32] jsBrian commented on #4425
I updated the package, so the devDep is @angular/cli beta 30. Removed my node_modules folder and did a fresh NPM install.
Worked for my team members and me.

[2017-02-06 10:47] Pilukina commented on #4447
Hi @beeman . This bug that I'm reporting now it is related with #4347 (maybe I should reopen it as including the new modules It is not working fine)
I'm facing the "is not an NgModule" error also when using your great sample: [angular-sample-module](https://www.npmjs.com/package/angular-sample-module)
Could you help me to find the solution, please?

[2017-02-06 10:57] harilalinapp commented on #3751
@hansl  Could you please reopen this issue. This issue is still there . And the size has increased lot in v30.

[2017-02-06 11:01] Ionaru opened #4453 "Re-compile does not always trigger browser update"
### OS?
Linux Kubuntu 16.10

### Versions.
@angular/cli: 1.0.0-beta.30
node: 7.4.0
os: linux x64

### Repro steps.
`ng new newApp`
`cd newApp`
`ng serve`
Edit app.component.ts (I changed 'app works!' to 'app works!!') and save.
This will trigger a re-compile.

### The log given by the failure.
[WDS] App updated. Recompiling...
[WDS] App updated. Recompiling...
[WDS] Nothing changed.

### Mention a

[2017-02-06 11:09] itsnotvalid commented on #4448
@GoNode5 Guessing you should uninstall the old version (beta.28 or below) completely before installing the one in new namespace (beta.30 or above in @angular/cli ).

[2017-02-06 11:11] eaktadiur commented on #4357
I also have UNMET PEER DEPENDENCY rxjs@^5.0.1 issue

└─┬ @angular/cli@1.0.0-beta.30
  ├─┬ autoprefixer@6.7.2
  │ └── caniuse-db@1.0.30000621
  ├─┬ node-sass@4.5.0
  │ └─┬ meow@3.7.0
  │   └─┬ normalize-package-data@2.3.5
  │     └── hosted-git-info@2.2.0
  ├── UNMET PEER DEPENDENCY rxjs@^5.0.1
  └─┬ webpack@2.2.0
    └── acorn@4.0.9

[2017-02-06 11:15] Ionaru commented on #4451
Here are a few helpful things I found on Google:
https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications
https://github.com/angulartics/angulartics2

[2017-02-06 11:32] biwin commented on #4453
this happens for _minor_ changes and most of us are not concerned about it.

[2017-02-06 11:51] castamir commented on #4292
make a fresh new `npm install` and then hit `npm ls extract-text-webpack-plugin` to see which package depends on it

[2017-02-06 11:54] MickL commented on #4338
When will there be a release? Im waiting for this every day :)

[2017-02-06 11:55] vaags commented on #4453
If this is the case: what kind of changes are considered to be _minor_? (genuine question)

[2017-02-06 11:56] raducostea commented on #4338
This was already fixed for me in the latest @angular/cli

[2017-02-06 12:09] petercn commented on #4441
Great work angular team! I'm feeling the performance improvement as well on all of my projects after upgrading to beta 30 :-)

[2017-02-06 12:14] MickL commented on #4338
In beta 30? I didn't see it in the changelog tho.

[2017-02-06 12:18] maxailloud commented on #4447
I have the same error, not on the same module but exactly the same error.

And in the same way if I make a change in a file in serve mode, even with a space or a blank line, it will work as expected.Pretty weird behaviour actually.

[2017-02-06 12:19] raducostea commented on #4338
https://github.com/angular/angular-cli/commit/9fcf10a89b0995c2da606fbbe5a341d42044654b

I removed node_modules, i've ran npm install and https://github.com/angular/angular-cli/commit/9fcf10a89b0995c2da606fbbe5a341d42044654b  is present in the build already.

[2017-02-06 12:21] MickL commented on #4338
In master, but not in beta 30 :/

[2017-02-06 12:30] biwin commented on #4453
may be adding/removing a semi colon. who knows!

[2017-02-06 12:34] craigpayne commented on #2389
I've noticed a strange case sensitivity bug.
My casing was incorrect e.g. (**export * from './MyHeader'**), instead of (**export * from './myHeader'**).  Would compile and render without any errors, but ng serve was not detecting file changes.

[2017-02-06 12:35] JiriBalcar commented on #4338
It is in latest @ngtools/webpack. And I think, that @angular/cli always
install the latest version.

On Mon, Feb 6, 2017, 13:22 Mick Lawitzke <notifications@github.com> wrote:

[2017-02-06 12:36] wickdninja commented on #3578
Here's my first crack at it.
Repo: https://github.com/wickdninja/DotNetCoreAngular2Demo
ReadMe is the step by step guide. Any feedback would be greatly appreciated.

Copied below as well.

# ASP.NET Core / Angular 2 via CLI Quick Start

## Disclaimer

### This guide was created using the following versions, and provides no guarentee for compatibility with any other versions.

[code]

## Install Pr

[2017-02-06 12:38] udalaitz commented on #4359
Same problem here.

VERSION:
@angular/cli: 1.0.0-beta.30
node: 6.9.5
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/compiler-cli: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/platform-server: 2.4.6
@angular/router: 3.4.6
@angular/upgrade: 2.4.6
@angular/material: 2.0.

[2017-02-06 12:54] kimwer commented on #4357
Same here. As a result every usage of RXJS in our project leads to an error because of the missing dependency. As a workaround we switched back to 1.0.0-beta.26 for the moment.

[2017-02-06 13:05] dsm0880 commented on #3670
I had the exact same issue, just wanted to make a comment that for me I missed the @angular/compiler in the dev dependencies. Make sure you upgrade that along with all your other @angular packages.

[2017-02-06 13:08] frederikaalund commented on #4358
This is still a problem in the *v1.0.0-beta.30* release.

[2017-02-06 13:26] victorblq commented on #4425
The first line says
[code]

[2017-02-06 13:26] uyadav0001 opened #4454 "proxy config is not working after build the code by ng build"
### OS?

### Versions.

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.

[2017-02-06 13:26] uyadav0001 commented on #4454
proxy config is not working after build the code by ng build

[2017-02-06 13:29] Brocco commented on #4454
The proxy configuration is intended to proxy calls when running the dev server via `ng serve`. After you run `ng build` you are responsible for the web server and its configurations when you run/host the output in the `dist` dir.

This is a misunderstanding of the proxy functionality... closing.

[2017-02-06 13:29] #4454 closed

[2017-02-06 13:32] ajinkyau commented on #4453
I am also facing this same issue.

When I try to add / remove a piece of code like (console.log() or a tag from html)

[2017-02-06 13:33] eran12 commented on #4442
The problem is NOT the install of the NPM nor the path !
If you want to use the "ng" commend you need to install the angular-cli.

[https://cli.angular.io/](https://cli.angular.io/)

[2017-02-06 13:33] doczoidberg opened #4456 "ng build prod - 'require' function calls are not supported"
### OS?
Windows 10

### Versions.
@angular/cli: 1.0.0-beta.30
node: 6.9.5
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/compiler-cli: 2.4.6
@angular/language-service: 2.4.6
@angular/cli: 1.0.0-beta.30

### Repro st

[2017-02-06 13:36] goldenbearkin commented on #3674
Why is this issue marked as close? the error message still appears after upgrading to beta 30 with AOT build.

[2017-02-06 13:36] uyadav0001 commented on #4454
I am consuming rest api. So I need proxy config after build the code

[2017-02-06 13:37] alexweber commented on #4425
For anyone getting `TypeError: Cannot read property 'kind' of undefined`, I managed to fix it by adding `:any` to my `@Inject`s in constructors as suggested here: https://github.com/angular/angular-cli/issues/4427#issuecomment-277422798

[2017-02-06 13:37] sterfpaul commented on #3875
Any update on this?

[2017-02-06 13:37] sajidali commented on #1160
@hansl
still having similar issues with `1.0.0-beta.30`
[code]
[code]

[2017-02-06 13:38] uyadav0001 opened #4457 "proxy config is not working after build the code by ng build . I am not using json files. I am consuming rest api. So I need proxy config after build the code."
### OS?

### Versions.

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.

[2017-02-06 13:42] AlainD- commented on #4357
Or, as a workaround, you can install rxjs globally prior to @angular/cli and still benefit from the new module.

[2017-02-06 13:45] sfabriece commented on #4451
Thanks @Ionaru I'll have a look.

[2017-02-06 13:53] Equinox commented on #4457
It's a good idea to fill out the template provided as it helps explain what issue you're facing, and makes it easier to help you.

[2017-02-06 14:00] deebloo commented on #4457
@uyadav0001 proxy config is only for the dev server when using ```ng serve``` if you need a proxy in production you will have to configure your own server.

[2017-02-06 14:04] maxailloud commented on #4447
By the way here are the versions I'm using:
<pre>
@angular/cli: 1.0.0-beta.30
node: 7.2.1
os: darwin x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6
</pre>

[2017-02-06 14:09] itsforbabu commented on #4292
Can anyone from angular-cli DEV community please comment and let us know if this will be fixed on the newer version so that we don't have to use this hack with older version?

[2017-02-06 14:22] andyrue commented on #3973
I think I might be running into this too. Things were working fine in beta.22-1 but upgrading to beta.26 started producing the exact error. It's still present with beta.30 and I haven't been able to figure out why test files are being loaded. Node_modules folder has been removed when upgrading each time.

[2017-02-06 14:32] deebloo commented on #4456
@doczoidberg  can you share the offending code?

[2017-02-06 14:44] deebloo commented on #4419
tldr; yes BUT

I think it makes sense to have some sort of system in place to make this happen for private keys and the like. The only issue that I would see is introducing node syntax into a FE app, and folks already confuse BE vs FE when generating a build. That may be to much in the weeds but I do think it is important when deciding if it should be implemented by the cli.

[2017-02-06 15:07] Vi-dot opened #4459 "Underscore as external library"
Hello,

I'm trying to include underscore as external library but it doesn't work.

During execution on firefox, I get this error :
[code]

There are the source files :

- in **package.json**
[code]

- in **angular-cli.json**
[code]
- in **polyfills.js**
[code]

- in **my-component.ts**
[code]

Thank you for your help

[2017-02-06 15:16] sterfpaul commented on #3875
Partial workaround for the problem in my repo is to add the following paths configuration to tsconfig.json:

[code]

Doesn't seem to work for everything. Not for Observable from rxjs for example.

[2017-02-06 15:18] lebnic commented on #4353
Hi all; I'l experiencing the same problem; Can you tell me how to solve the issue? Do I simply need to re-install with npm install?

[2017-02-06 15:29] enginpost commented on #4408
I am having what I imagine is a related problem. If I run "ng serve" it picks up any changes, compiles them and displays correctly. But if I make a change to a directive (and only a directive - as simply as changing the color desired in the example Highlight directive) it does not notice the change and rebuild the project and update the browser. If I manually restart the browser, it still does not

[2017-02-06 15:34] MickL opened #4460 "Suppress warnings on ng build "Cannot find SourceMap""
I included two external JavaScript files within `angular-cli.json`. Now when running ng build it is showing two warnings `Cannot find SourceMap 'name.js.map': Error: Can't resolve './name.js.map' in  [...]`.

Is it possible to suppress this warnings?

Im already doing `ng build -prod --sourcemap false`

[2017-02-06 15:37] grizzm0 commented on #4459
I'm using lodash myself (instead of underscore). All I've got is the following. Nothing in angular-cli.json or polyfills.js. Works fine.

- package.json

[code]

- my-component.ts

`import * as _ from 'lodash';`

[2017-02-06 15:47] AshMcConnell commented on #2389
I checked the latest (beta 30) release and it doesn't pick up changes in a lazy loaded shared module without the `npm install --save @ngtools/webpack@1.2.4` fix

[2017-02-06 15:50] vivian7169 commented on #4357
I tried 'npm install -g rxjs ' before or after 'npm install -g @angular/cli@1.0.0-beta.29', both can't solve the issue >>>
└─┬ @angular/cli@1.0.0-beta.29
  └── UNMET PEER DEPENDENCY rxjs@^5.0.1

[2017-02-06 16:10] MateenKadwaikar opened #4461 "ng build --prod is throwing error."
### OS?

### Versions.
@angular/cli: 1.0.0-beta.30
node: 7.5.0
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6
@ngtools/webpack: 1.2.8

### Repro steps.

### The log gi

[2017-02-06 16:14] Vi-dot commented on #4459
I'm trying with lodash, with your process and same versions, but I have those errors

[code]

[2017-02-06 16:18] doczoidberg commented on #4456
[code]

[2017-02-06 16:21] sumitarora commented on #4420
@Brocco Have we decided how we want to do it? I can help with this one simultaneously.

[2017-02-06 16:24] grizzm0 commented on #4459
Could you run `rm -rf node_modules && npm install`

[2017-02-06 16:38] elmccd commented on #4456
I have the same issue using '@ngtools/webpack', when I try to use require to load an HTML file.

[2017-02-06 16:47] deebloo commented on #4461
@MateenKadwaikar can you provide a minimal example repo that throws this error? It seems like you are missing an import somewhere. Is it working correctly when not doing a prod build or serving?

[2017-02-06 16:49] deebloo commented on #4456
@doczoidberg can you try without the require?  the cli uses a loader under the hood to inline the resources.

[code]

[2017-02-06 16:56] deebloo commented on #4442
like @eran12 said it doesn't look like you have @angular/cli installed. verify that the installation was completed successfully.

[2017-02-06 17:01] Vi-dot commented on #4459
It gives the same errors :/

I found that an other library previously included in the project has already **lodash** as dependency.
Then if I remove lodash from _package.json_ and _node_modules_, **lodash** is still downloaded in _node_modules_.
But it's not the same for **@types/lodash**, then I add only this one in _package.json_ to get it.. and it gives the same errors.

[2017-02-06 17:07] Brocco commented on #4420
Not officially, but the thought I had was this....

repo
- overview.md
- generation
  - component.md
- stories
  - using-webpack.md

Would translate to this

wiki
- overview.md
- generation_component.md
- stories_using-webpack.md

The interesting part would be that all of the internal links would need to be updated as well.

[2017-02-06 17:08] m0t0r opened #4463 "Unable to run unit tests using npm scripts"
### OS?

### Versions.

[code]
### Repro steps.

I have npm script to run unit tests on CI

[code]
when I try to run `npm t` I get an error as shown below. It was working fine before beta.30.
### The log given by the failure.

`You have to be inside an angular-cli project in order to use the test command.`

### Mention any other details that might be useful.

[2017-02-06 17:12] julianobrasil commented on #4439
@beeman, thanks. You're right, I had missed one reference to angular-cli.

[2017-02-06 17:17] beeman commented on #4463
@m0t0r check my answer here https://github.com/angular/angular-cli/issues/4439#issuecomment-277576090 , i think your issue is related.

[2017-02-06 17:26] #4439 closed

[2017-02-06 17:34] MateenKadwaikar commented on #4461
@deebloo  yes my code is working correctly when I doing ng build or ng serve.  I am able to run the code properly. The time I get error is when I do ng build --prod. Attached please find screenshot for the ng serve.
![image](https://cloud.githubusercontent.com/assets/6949959/22658560/897daba8-ecc0-11e6-8a2e-a242eb995fb7.png)

[2017-02-06 17:42] doczoidberg commented on #4456
this does not work. ./footer.html is rendered as a string not the file.

[2017-02-06 17:43] deebloo commented on #4456
Apologies. I meant templateUrl

[2017-02-06 17:43] m0t0r commented on #4463
@beeman, yes that helped, thanks a lot!

[2017-02-06 17:43] #4463 closed

[2017-02-06 17:49] doczoidberg commented on #4456
the error is gone

[2017-02-06 17:50] m0t0r commented on #4463
@hansl, would it possible to add a note on migration from `angular-cli` `beta.28 ` to `@angular/cli` `beta.30` that there should not be any devDependency on `angular-cli`in package.json as it seems to cause different issues. I can do a PR if you could guide where it should be added. Thank you

[2017-02-06 17:51] #4456 closed

[2017-02-06 17:51] beeman commented on #4463
@m0t0r I'm working on a check that detects this. Hope to have it in the cli within the next release

[2017-02-06 17:52] m0t0r commented on #4463
@beeman great, thanks!

[2017-02-06 18:08] eklee commented on #4453
Also happens to me on Windows, for a new ng project, and an existing project that had been updated to 1.0.0-beta.30.

Changing a character in app.component.html triggers the browser update, but changing something in app.component.ts does not.

[2017-02-06 18:40] wgbn opened #4464 "ERROR in compiler_1.StaticSymbolCache isnt a constructor"
I have gotten the following error when using ng serves in my angular-cli project:

**ERROR in compiler_1.StaticSymbolCache isnt a constructor**

This has not affected in any way the behavior of my project itself, but it causes NG Serve's live-reload to stop working.

I can not identify what is causing this error.

### OS?
Xubuntu 16.04

### Versions.
angular-cli: 1.0.0-beta.26
node: 6.9.4
os: linu

[2017-02-06 19:58] spjeff commented on #1160
Yes, I still see this message but only for "tsickle" now.

npm list -g --depth=0
+-- angular-cli@1.0.0-beta.28.3

npm ERR! extraneous: tsickle@0.2.5 ...\node_modules\angular-cli\node_modules\@angular-cli\ast-tools\node_modules\tsickle

![2017-02-06_13-58-38](https://cloud.githubusercontent.com/assets/5648223/22663976/62294ebe-ec74-11e6-9013-f745130c0ed1.png)

[2017-02-06 20:18] MikeNats opened #4467 "Problem with ng serve - reflect-metadata shim"
### OS.

### Versions.

### Repro steps.

### The log given by the failure.

I have `npm i reflect-metadata --save` and imported it in `polyfills.ts`
The error is still there!!!

[2017-02-06 20:40] klinki commented on #4453
I'm facing the same problem. I will investigate it little bit further, but from what I observed, I can tell changing .ts triggers recompilation, BUT browser is still seeing old data.

[2017-02-06 20:55] deebloo commented on #2673
@filipesilva ill create a small repo with the latest cli

[2017-02-06 21:03] battmanz opened #4468 "Question: How to generate a library project?"
I would like to generate a library project. What I mean by that is that project will be published as an npm module and used by other projects. The project will not be run by itself. So it doesn't need an index.html file or global styles.css file or any e2e tests.

My question is, does it make sense to use the angular cli for this? Would it make sense for the angular cli to have an option for gener

[2017-02-06 21:04] beeman commented on #4468
@battmanz dupe of #4247,  see my comment here https://github.com/angular/angular-cli/issues/4247#issuecomment-275586177

[2017-02-06 21:04] deebloo commented on #2673
@filipesilva https://github.com/deebloo/env-error

[2017-02-06 21:07] beeman commented on #4447
@Pilukina it has to do with the metadata that is provided with the module that makes it incompatible with recents builds. This is an issue with Angular, not with Angular CLI.

Read my comment here about information on how to create a compatible module:  https://github.com/angular/angular-cli/issues/4247#issuecomment-275586177

If it's a third-party module check if there is an updated version. If n

[2017-02-06 21:07] battmanz commented on #4468
Wow! Thanks for the quick reply! Closing as a dupe.

[2017-02-06 21:07] #4468 closed

[2017-02-06 21:37] catull commented on #4445
This is a duplicate of #4429.

[2017-02-06 21:51] catull commented on #4425
If you go to https://cli.angular.io/ it states there to perform this installation:
`npm install -g angular-cli`.
That way, its dependencies are properly fetched and installed, too.

[2017-02-06 22:08] JanStureNielsen opened #4470 "Module parse failed: ./main.scss Unexpected character '@'"
### OS?

`Linux x64 3.16 - openSUSE 13.2`

### Versions.

[code]

### Repro steps.

I upgraded my `1.0.0-beta.26` project to `1.0.0-beta.30` as described the [in instructions](https://github.com/angular/angular-cli#updating-angular-cli).

### The log given by the failure.

[code]

It appears my SCSS file is no longer processed correctly in `1.0.0-beta.30` -- any ideas why?

### Mention any other d

[2017-02-06 22:09] omata-metamax opened #4471 "Issues with angular-cli and node docker official image."
Hello,

I'm new with angular, so I'm using the `node:6.9.4-alpine` to get `angular-cli` installed to create a development docker image. So even when all is working I can't connect to the exposed port from outside the container. You can read the related history from [here](https://github.com/nodejs/docker-node/issues/326), where I posted the issue on the node official docker image and I figured out

[2017-02-06 22:19] clydin commented on #4471
As per the readme (https://github.com/angular/angular-cli/blob/master/README.md#usage), you can set the bound host and port via the `--host` and `--port` arguments.

[2017-02-06 22:25] rgurgul commented on #4453
I also have the same problem on Win 10.

[2017-02-06 22:36] git-wylson commented on #4363
Hi, someone can help me....please

==>This is my node properties :
node version : 6.9.5
npm version : 3.10.10

When i run  ng serve i have that error:

Cannot find module 'rxjs/symbol/observable'
Error: Cannot find module 'rxjs/symbol/observable'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    a

[2017-02-06 22:39] beeman commented on #4363
@git-wylson `npm install -g rxjs` ?

[2017-02-06 22:44] xavadu commented on #1610
Some problem here in Archlinux with a fresh installation via _angular-cli_, I solved it changing the `fs.inotify.max_user_watches`, also I remember to have this problem previously _angular-cli_ with _gulp-watch_ but at this time I had an error message, so it was easy to figure what was going on.

To change it in archlinux follow these steps:
[code]

[2017-02-06 22:50] mikejpeters commented on #4207
To add to what others have mentioned, on Ubuntu if you have an `angular-cli.json` file in your home directory, it seems to get read (and maybe merged) whenever running `ng` commands in any folder. If you have a project in your home directory the `json` file seems to get read twice, which screws up parsing if you specify `styles` property.

Simplest way to see this behavior is to create an empty `a

[2017-02-06 22:59] git-wylson commented on #4363
I already do that but i have the same issue

[2017-02-06 23:06] omata-metamax commented on #4471
Thanks for the reply

The issue is not related with bounding port perse, but with binding any bounded port from angular to a docker container, please read the related [link](https://github.com/nodejs/docker-node/issues/326) in my previous post, to get some background. The port by default works fine from inside the container when I issue `curl http://localhost:8080`, but not from outside it. I had

[2017-02-06 23:17] git-wylson commented on #4363
thank @beeman after running npm install rxjs --save-dev, i fix the problem,
But i have an other mistake now,

fallbackLoader option has been deprecated - replace with "fallback"
loader option has been deprecated - replace with "use"
fallbackLoader option has been deprecated - replace with "fallback"
loader option has been deprecated - replace with "use"
fallbackLoader option has been deprecated -

[2017-02-06 23:24] beeman commented on #4363
@git-wylson I think it makes sense to do the following:

- Remove this from you package.json: `"@reactivex/rxjs": "^5.0.1",`
- Remove your node_modules
- Run `npm install`

[2017-02-06 23:35] Meligy commented on #4363
Looks like it's been addressed in https://github.com/angular/angular-cli/commit/39fa206562fea19e635251544c6eada862f0306c

[2017-02-06 23:36] hansl commented on #4425
@catull We need to fix cli-dot-angular-dot-io, please do not link there for the time being.

[2017-02-06 23:42] Meligy commented on #4360
The current plan is to remove the command altogether https://github.com/angular/angular-cli/issues/4416

[2017-02-06 23:43] M-Abozaid commented on #4445
same here
I tried `npm rebuild node-sass` but it didn't  fix it

[2017-02-06 23:44] delasteve commented on #4471
Under `defaults` in your `angular-cli.json` you can do the following:

[code]

[2017-02-06 23:45] M-Abozaid commented on #4429
I have the same issue on Linux

[2017-02-06 23:47] kamalkech opened #4472 "ElasticSearch / Import module"
### OS?

### Versions.
angular-cli: 1.0.0-beta.28.3
node: 6.9.4
os: win32 x64
@angular/common: 2.4.5
@angular/compiler: 2.4.5
@angular/core: 2.4.5
@angular/forms: 2.4.5
@angular/http: 2.4.5
@angular/platform-browser: 2.4.5
@angular/platform-browser-dynamic: 2.4.5
@angular/router: 3.4.5
@angular/compiler-cli: 2.4.5

### Versions Elastic Search
5.x

### Repro steps.

import * as elasticsearch from '

[2017-02-06 23:47] hansl commented on #4457
Closing this; please refill with the template and provide an example project for complex issues.

[2017-02-06 23:47] #4457 closed

[2017-02-06 23:58] Almar commented on #4350
@delasteve, thank you for your comprehensive answer.

[2017-02-07 02:03] HauntedSmores commented on #4425
@catull From what I understand angular cli is moving its npm to @angular/cli so that wont work anymore. Thats why on the angular-cli github they tell you to uninstall/upgrade the cli by doing `npm uninstall angular-cli @angular/cli`

[2017-02-07 03:34] Cody-Nicholson commented on #4447
@Pilukina @maxailloud I figured out what is happening here.  I had the same issue with the "NgModule" error on the initial ng serve.  In order to fix this, I had to add AOT compilation to the build process of my external angular library.

@beeman  It might be worth documenting this somewhere in the CLI notes, as I had no clear indication that AOT was required from 3rd party modules.

Background: I

[2017-02-07 03:39] #4427 closed

[2017-02-07 05:46] smartHasmukh opened #4477 "UNMET PEER DEPENDENCY Error occurred When I have use another module in my project"
**I have checked UNMET PEER DEPENDENCY related all issues and have tried as well but not found this issue.**

UNMET PEER DEPENDENCY @angular/common@2.3.1
├── UNMET PEER DEPENDENCY @angular/compiler@2.3.1
├── UNMET PEER DEPENDENCY @angular/core@2.3.1
├── @angular/material@2.0.0-beta.1
├── UNMET PEER DEPENDENCY @angular/platform-browser@2.3.1
├── UNMET PEER DEPENDENCY rxjs@5.0.0-beta.12
└── UNMET PE

[2017-02-07 05:47] smartHasmukh commented on #4477
Please help me @evmar @jesperronn @mprobst @miguel4ngelc @gonzaloruizdevilla @hansl @chaeusler @changLiuUNSW

[2017-02-07 07:21] dandamoodi commented on #4409
Same problem here. I am using Windows 10

Below is my `ng version`

@angular/cli: 1.0.0-beta.30
node: 4.5.0
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

[2017-02-07 07:41] martinmcwhorter commented on #4417
The yarn.lock should be generated. Developers should be encouraged to commit the yarn.lock in their app repo.

The ng upgrade instructions should indicate deleting the yarn.lock at the start of the ng upgrade process.

[2017-02-07 07:53] ValeryVS commented on #4359
Same problem
[code]

[2017-02-07 08:50] istiti commented on #2201
DOES THIS WORK OR NOT ?

[2017-02-07 08:56] TeodorKolev commented on #2201
@istiti Of course, not

[2017-02-07 08:58] abdo0 commented on #4338
Thanks @legit for solving my issue

[2017-02-07 09:06] istiti commented on #2201
@TeodorKolev you surprise me ^

[2017-02-07 09:17] Bretto commented on #3707
Ok I am back, now I have the  same problem with new vertions of the CLI

[2017-02-07 09:46] christianacca commented on #3707
I have an example repo that show cases the problem.

"Interestingly" the problem just got worse after the upgrade to beta 30 of the cli - the site will no longer serves the bundled JS (see screenshot below).

To reproduce:

1. Clone the repo: https://github.com/christianacca/ng2-experiements.git
2. `npm install`
3. `npm start`
4. browse to http://localhost:4200/

![image](https://cloud.githubuserc

[2017-02-07 10:13] nicovanbelle commented on #2838
I had the same issue in Chrome version 56.
Setting the mime fixed it as well.

[2017-02-07 10:20] gkalpak opened #4478 "Flakey-ness in e2e tests with `ng serve`"
### OS?

All

### Versions.

1.0.0-beta.29

### Mention any other details that might be useful.
In order to run e2e tests, one has to run `ng serve` and `ng e2e` in parallel. Now, because `ng serve` does some preprocessing before serving (webpack build), it seems that protractor may timeout before the Angular app is served. This leads to flakey-ness on CI.

We (think we) have run into this [here][

[2017-02-07 10:25] Vi-dot commented on #4459
It was because I had a old version of angular-cli, I updated angular-cli and changed its version in package.json. And now it works.
Thx for your help @grizzm0

[2017-02-07 10:37] uyadav0001 opened #4479 "br tag is not working data comming from json with br tag"
### OS?

### Versions.

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.

[2017-02-07 10:58] feloy commented on #2201
@istiti @TeodorKolev That should work. I just added some documentation: #4480 . Is that help?

[2017-02-07 11:17] Choleriker commented on #1831
Guys, there is another simple solution for this. I have 2 modules which are somehow deep in the structure using each other. I ran into the same problem with circular dependencies with webpack and angular 2. I simply changed the way of how the one module is declared:

[code]

When I now using the imports statement on ngModule attribute I simply use:

[code]

With this all problems are away.

[2017-02-07 11:19] tamasfoldi opened #4481 "cli deleted my project folder"
### OS?

Linux (openSUSE)

### Versions.

@angular/cli: 1.0.0-beta.30
node: 7.2.1
os: linux x64

### Repro steps.

1. Create a new project
2. cd into folder
3. `ng serve --aot --output-path=./`

### The log given by the failure.

[code]

I know I was wrong with this output-path, but I wouldn't think it is the correct way to delete the working directory if the output-path is null. Anyways, can some

[2017-02-07 11:29] deepbishnoi opened #4482 "unable to install cli"
user@user-Vostro-3560:~$ npm install -g angular-cli
npm ERR! registry error parsing json
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules/angular-cli/node_modules/chokidar/node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform

[2017-02-07 11:31] RicardoVaranda commented on #4482
Seems like a permissions error to overwrite your /usr/local/bin/ng

Can you please do the following command before installing the cli:

[code]

[2017-02-07 11:40] deepbishnoi commented on #4482
`user@user-Vostro-3560:~$ rm -rf /usr/local/bin/ng
user@user-Vostro-3560:~$ npm install -g angular-cli
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
/usr/local/bin/ng -> /usr/local/lib/node_modules/angular-cli/bin/ng

Downloading binary from https://github.com/sass/node-sass/releases/download/v4.5.0/linux-x64-48_binding.node
Cannot dow

[2017-02-07 11:43] RicardoVaranda commented on #4479
Hi @uyadav0001 , This issue is not related and would best be suited for: https://github.com/angular/angular

The issue you have is because you are most likely trying to load your data like:

[code]

The correct way to do it would be:

[code]

This is frowned upon though due to the evident security flaws, you can read more about it here:
https://angular.io/docs/ts/latest/guide/security.html#!#xss

[2017-02-07 11:45] RicardoVaranda commented on #4482
I'm sorry it seems it was pointed at a soft link can you delete the following instead:

```rm -rf /usr/local/lib/node_modules/angular-cli/```

[2017-02-07 11:46] grizzm0 commented on #4459
@Vi-dot Could you please close your issue as it's solved? Thanks.

[2017-02-07 11:55] deepbishnoi commented on #4482
user@user-Vostro-3560:~$ ng -v
Mg++ version:
	Mg++ 1.5beta1 (formerly MicroGnuEmacs Adv.)

[2017-02-07 12:01] vforv opened #4483 "Getting error when using --aot"
### OS?

Linux Ubuntu 16.04

### Versions.

angular-cli: 1.0.0-beta.18
node: 6.9.4
os: linux x64

### Repro steps.

Created by angular-cli

### The log given by the failure.

[code]

### Mention any other details that might be useful.

Something here makes problem I think:

[code]

That part is in `providers` in `app.module.ts` and it uses to create http interceptor because there is no way in angu

[2017-02-07 12:02] MateenKadwaikar commented on #4461
@NgModule({
  declarations: [

  ],
  imports: [

  ],
  providers: [ { provide: LocationStrategy, useClass: HashLocationStrategy }],
  bootstrap: []
})

@deebloo  here is my app.module.ts file.

[2017-02-07 12:03] deepbishnoi commented on #4482
user@user-Vostro-3560:~$ ng -v
Mg++ version:
	Mg++ 1.5beta1 (formerly MicroGnuEmacs Adv.)
user@user-Vostro-3560:~$ npm -v
4.2.0

[2017-02-07 12:05] deepbishnoi commented on #4482
`user@user-Vostro-3560:~$ ng -v
Mg++ version:
	Mg++ 1.5beta1 (formerly MicroGnuEmacs Adv.)
user@user-Vostro-3560:~$ npm -v
4.2.0
user@user-Vostro-3560:~$ node -v
v6.9.5
`

[2017-02-07 12:09] catull commented on #4482
@deepbishnoi By any chance, did you install ng-common, the Nihongo Micro Gnu Emacs ?  This issue was already reported as #3759.  You find a nice solution there.

[2017-02-07 12:18] deepbishnoi commented on #4482
removed ng-common
 same result as above..
its not working

[2017-02-07 12:21] Koshmaar opened #4484 "Install cli peer dep missing rxjs and extraneous tsickle"
### OS?
Windows 7 x64 , running a cygwin console

### Versions.

### Repro steps.

I just installed it:

### The log given by the failure.
In addition to above:

### Mention any other details that might be useful.

I was able to run `ng new myapp` without problem.

[2017-02-07 12:24] zankevich opened #4485 "Installation with warning"
`npm WARN @angular/core@2.4.6 requires a peer of rxjs@^5.0.1 but none was installed.`

Steps to reproduce:
---
[code]
ENV
---
MacOS 10.12.3
Node 6.9.5

[2017-02-07 12:24] catull commented on #4482
If you say the same error as before, do you actually mean this is showing in the error log:
[code]
?

If this is the case, how did you remove ng-common ?
What was the log ?

[2017-02-07 12:27] grizzm0 commented on #4485
Dupe of #4484

[2017-02-07 12:27] grizzm0 commented on #4484
Pretty sure this was fixed in #4465

[2017-02-07 12:28] #4485 closed

[2017-02-07 12:30] Ionaru commented on #4482
Also, instead of `npm install -g angular-cli`, try `npm install -g @angular/cli`

[2017-02-07 12:31] catull commented on #4482
@deepbishnoi
You have to clean up your system, starting with finding the root cause for
[code]

[2017-02-07 12:35] catull commented on #4482
Perhaps you should also perform this:
`npm config set registry http://registry.npmjs.org/ --global`, see https://github.com/npm/npm/issues/8872`

[2017-02-07 12:38] deepbishnoi commented on #4482
sudo apt remove ng-common

removed successfully
yes, the above error still exists.
also tried updating node-sass....
gives the same error

[2017-02-07 12:42] deepbishnoi commented on #4482
`user@user-Vostro-3560:~$ npm install node-sass

Downloading binary from https://github.com/sass/node-sass/releases/download/v4.5.0/linux-x64-48_binding.node
Cannot download "https://github.com/sass/node-sass/releases/download/v4.5.0/linux-x64-48_binding.node":

HTTP error 403 Forbidden

Hint: If github.com is not accessible in your location
      try setting a proxy via HTTP_PROXY, e.g.

      ex

[2017-02-07 12:46] Serginho commented on #3674
Same problem. So?

[2017-02-07 12:49] schmuli opened #4486 "How To: Limit console output?"
### OS

Windows 10

### Versions

[code]

### Question
How can I limit or turn off progress information when running @angular/cli for a specific environment?

Running `ng test` on a CI (such as Circle CI) prints so much output to the console, over 400,000 characters, that the whole output cannot be viewed in the browser, and must be downloaded as a file.

This happens since when building with Webp

[2017-02-07 12:55] grizzm0 commented on #4486
`ng build --prod --progress=false`

[2017-02-07 12:57] deebloo commented on #4483
@vforv export the function for useFactroy. (also the latest version is beta 30 so I would also recomend updating)

[code]

[2017-02-07 12:59] schmuli commented on #4486
Okay, so I found it: https://github.com/angular/angular-cli/pull/2858

[2017-02-07 12:59] #4486 closed

[2017-02-07 13:01] deebloo commented on #4472
does elasticsearch come with typings? If not try installing this https://www.npmjs.com/package/@types/elasticsearch. I believe that would allow you to import the module.

[2017-02-07 13:10] catull commented on #4482
What about setting
`npm config set registry http://registry.npmjs.org/ --global`
first, and then installing
`npm install -g @angular/cli` ?

[2017-02-07 13:19] deebloo commented on #4440
@shouvikme can you post the log from that error?

[2017-02-07 13:20] #4459 closed

[2017-02-07 13:21] phil-cap commented on #4453
Same here with Win7, node v6.9.1, npm v3.10.8

[2017-02-07 13:40] christianacca commented on #3674
This issue looks to be a duplicate of https://github.com/angular/angular-cli/issues/3707

[2017-02-07 14:08] Koshmaar commented on #4484
Ok! So I manually made this edit from commit in `C:\Users\Hubert\AppData\Roaming\npm\node_modules\angular-cli\package.json`
and did ` npm -g update angular-cli` but still get error:

What else should I do?

[2017-02-07 14:12] schmuli commented on #4484
Still getting `extraneous` error during `npm ls`.

[code]

[2017-02-07 14:17] prsolucoes opened #4488 "Problems with loading image or parse img tag"
### OS?

### Versions.

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.

[2017-02-07 14:17] TheDocX commented on #4440
@deebloo Hello. We encountered basically the same issue and the only error we get is:

[code]

Referenced line 16 is the one w/ exporting abstract class WindowRef in the code below:
[code]

Hope this helps; thank you in advance for your time.

[2017-02-07 14:20] grizzm0 commented on #4484
Btw, you should use the new package name @angular/cli instead of angular-cli. angular-cli is beta 28.3 while @angular/cli is beta 30.

[2017-02-07 14:22] deebloo commented on #4440
@TheDocX can you try exporting _window and see what happens?

[code]

[2017-02-07 14:32] TheDocX commented on #4440
Same error, reference line moved from 16:22 to 17:22

[2017-02-07 14:33] jsBrian commented on #4453
Same issue here: Win10 pro, Node.js v7.4.0, NPM v4.1.2.
When saving a .ts, the scripts compile, but:
- the  package sizes don't seem to change
- the webapp doesn't refresh

For both my upgraded and new project.
Doesn't seem to matter if the change is small or big.

[2017-02-07 14:36] deebloo commented on #4440
Hmmm can you create a small repo to reproduce the error?

[2017-02-07 14:37] TheDocX commented on #4440
I’ll try

[2017-02-07 14:47] jsBrian commented on #4453
Tested, and v1.0.0-beta.29 doesn't seem to have the same issue for me.

[2017-02-07 14:54] RicardoVaranda commented on #4488
This has nothing to do with Angular Cli, the issue should be reported on https://github.com/prsolucoes/angular-starter-project/

[2017-02-07 14:54] jaygazula27 opened #4492 "Is it possible to not output the favicon.ico and the index.html when running the "ng build" command?"
### OS?

### Versions.

  node: 6.9.1
  os: win32 x64
  angular/common: 2.4.6
  angular/compiler: 2.4.6
  angular/core: 2.4.6
  angular/forms: 2.4.6
  angular/http: 2.4.6
  angular/platform-browser: 2.4.6
  angular/platform-browser-dynamic: 2.4.6
  angular/router: 3.4.6
  angular/cli: 1.0.0-beta.30
  angular/compiler-cli: 2.4.6

### Repro steps.

### The log given by the failure.

### Mention any

[2017-02-07 15:02] bthharper opened #4493 "Production build (ng b -prod) fails with unit tests containing test host components."
### OS?

Windows 7, 10 and macOS

### Versions.

@angular/cli: 1.0.0-beta.30
node: 7.4.0
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps.

In a new fol

[2017-02-07 15:17] Nasicus commented on #4350
I don't get it what the workaround for beta30 is... I tried the following in my `angular-cli.json` and none of it works:

This is what I had after the update:
[code]

This is what I tried:
[code]

and

[code]

As mentioned none of it works for me - it always includes stuff from `node_modules` :(

[2017-02-07 15:23] jsBrian commented on #4453
I reinstalled beta 30, and I don't seem to have the issue anymore. :-\

[2017-02-07 15:28] victornoel commented on #4350
@Nasicus it's normal, you have to wait for a new release of angular-cli that contains the fixed discussed here :)
for now you can execute tslint by hand (like it was before in the package.json).

[2017-02-07 15:35] prsolucoes commented on #4488
It has a dependency of ngtools/webpack@1.2.7 or ngtools/webpack@1.2.8. With this two versions IMG tag was not parsed and images was not copied to dist folder.

[2017-02-07 15:40] LunaBawa commented on #4442
Thanks everyone i think i found a way around this

[2017-02-07 15:40] #4442 closed

[2017-02-07 15:43] LunaBawa opened #4494 "I tried install nodemon and i get this crash error"
Fist it started by skipping dependable which i had to install one after the other still the crash report seems to be constant.

Any idea why?

![image](https://cloud.githubusercontent.com/assets/11213175/22698229/4b9fcd5e-ed54-11e6-91cd-ae127c3ed2cd.png)

### OS?

### Versions.

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.

[2017-02-07 15:43] grizzm0 commented on #4492
favicon is part of the assets array in angular-cli.json. The index.html output can not be disabled.

[2017-02-07 15:44] LunaBawa commented on #4494
This is my package.json file

![image](https://cloud.githubusercontent.com/assets/11213175/22698359/9d65e4de-ed54-11e6-907d-1a292b4ea03b.png)

[2017-02-07 15:46] grizzm0 commented on #4494
This does not seem to have anything to do with angular-cli. Did you post this issue to the wrong repo?

[2017-02-07 15:47] LunaBawa commented on #4494
True....sorry

[2017-02-07 15:47] #4494 closed

[2017-02-07 15:56] nosaku commented on #4484
Just now installed cli and got the following error:

npm WARN @angular/core@2.4.6 requires a peer of rxjs@^5.0.1 but none was installed.

[2017-02-07 15:58] bthharper commented on #4493
Exporting the test host component (**`WidgetTestComponent`**) was the issue here, removing the `export` fixed the issue for me.  One to watch out for.

[2017-02-07 15:58] #4493 closed

[2017-02-07 16:13] filipesilva commented on #4478
My usual solution to this is to not use `ng serve` for e2e tests in CI. Instead I use a simpler static server (like `lite-server`), which is guaranteed to start up fast.

Something like this (in terms of npm scripts):
[code]

I recognize the convenience of not having to manage processes to run e2e tests though. Maybe as part of https://github.com/angular/angular-cli/issues/4256 a new flag could be

[2017-02-07 16:49] mickeyjohn commented on #4484
Just installed angular-cli now and got the same error.

"npm WARN @angular/core@2.4.6 requires a peer of rxjs@^5.0.1 but none was installed."

However, rxjs was installed with later version.
npm show rxjs version
5.1.0

[2017-02-07 16:51] schmuli commented on #4484
@mickeyjohn Be aware that `npm show` is actually showing information from NPM registry, not locally installed modules. Try `npm ls rxjs` for local modules.

[2017-02-07 17:09] robertdacorte commented on #4484
It isn't for OS, in OSX I have the same problem

[2017-02-07 17:17] tdawgy opened #4495 "Allow user to specify angular-cli.json file to be used"
### OS?

Windows 10

### Versions.

node: v6.9.4
npm: 3.10.10
angular-cli: 1.0.0-beta.26

### Repro steps.

This feature isn't currently available.

### The log given by the failure.

Since multiple apps in a single angular-cli.json file are not currently supported. A simple workaround could be to specify the angular-cli.json configuration file that's being used. This could allow us to have a sepa

[2017-02-07 17:31] davidstellini opened #4496 "Bundling into one file"
After an `ng build --prod`, a directory listing of `dist` looks like this:

[code]

I am creating a widget and would like a consumer to include only one file - `widget.js`. Is reverting to webpack the only option I have?

[2017-02-07 17:44] born2net opened #4497 ".30 latest templates changes not applied on re-build (video)"
.30 latest templates changes not applied on re-build (video)--

### OS?

[code]

please see the video:
https://dl.dropboxusercontent.com/u/93017334/TempIssue.mp4

repo: https://github.com/born2net/studioweb

Angular 2 Kitchen sink: http://ng2.javascriptninja.io
and source@ https://github.com/born2net/Angular-kitchen-sink
Regards,

Sean

[2017-02-07 17:46] MickL opened #4498 "ng build -prod uglify?"
I just wondered if there is an option to uglify the compiled JavaScript.
I don't want my variable- and function-names to show up in code. Also it would save alot of space.

I read on a page that `ng build -prod` does uglify, but i don't see that in my dist folder. Maybe it got removed? Or is there any option i'm missing?

[2017-02-07 18:27] GuillaumeUnice commented on #3707
+1

[2017-02-07 18:39] hansl commented on #4498
We do run Uglify on your code, but unfortunately Uglify does not rename properties, only function and variable names. A lot of your methods will be properties and not renamed by Uglify. We're looking at solutions but for the time being this is probably not going to change.

[2017-02-07 18:39] #4498 closed

[2017-02-07 18:47] niklas-dahl opened #4500 "--dry-run creates empty folder"
### OS?

### Versions.
@angular/cli: 1.0.0-beta.30
node: 7.5.0
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps.

1. `ng new proj && cd proj`
2. `ng g m

[2017-02-07 18:49] vforv commented on #4483
Thanks, it is look fixed but I get new error... Some problems with routes:

[code]

Here is my routes file:

[code]

[2017-02-07 18:53] nmtoan07 commented on #3707
Same here too!
A problem with angular2-jwt

[2017-02-07 19:11] #3625 closed

[2017-02-07 19:16] slubowsky commented on #4338
Seems to be fixed for dev mode but still broken if use ng --aot --prod (didnt' try just one).

Using a number that I keep incrementing to see what gets displayed it looks like somehow its serving up what was two compilations behind. i.e. starting at 0 at incrementing by 1, I see 1 when last saved and compiled change was 3, and 2 when last change was 4, etc..

[2017-02-07 19:22] #4481 closed

[2017-02-07 19:23] #4340 closed

[2017-02-07 19:35] Brocco commented on #4453
@Ionaru can you please re-test and report back? make sure you run `npm cache clean` before you reinstall your dependencies.

Thanks!

[2017-02-07 19:48] Derekjohnson277 opened #4503 "Problem with ng serve when angular-cli.json is modified"
### OS?
Windows 10

### Versions.
Ng Version:
1.0.0-beta.30

Node version:
v7.5.0

### Repro steps.
I changed the angular-cli.json file to add the jquery scripts

### The log given by the failure.
Error that gets returned:
Parsing angular-cli.json failed. Please make sure your angular-cli.json is valid JSON. Error:
SyntaxError: Unexpected token ﻿ in JSON at position 0

### Mention any other detail

[2017-02-07 20:01] jwuliger commented on #4453
FYI - To anyone who has not tried it yet. If you work directly from Master using `npm link` like shown in the README (at the bottom). It works, because the code for this has been fixed already. It can be a pain developing like that but I can always get through the NPM posted version error/bugs this way.

[2017-02-07 20:37] MateEke commented on #4453
We have the same issue on 3 Windows 10 machines with an existing project that had been updated to 1.0.0-beta.30 from 1.0.0-beta.26. All machines have Node 6.9.x.
One of the machines has a clean install of Windows, so no npm cache was present when the packages had been installed, it has 1.0.0-beta.30 from the beginning.

[2017-02-07 20:49] sandrobirke opened #4505 "Install angular CLI ends with Warning"
### OS?

### Versions.

@angular/cli: 1.0.0-beta.30
node: 7.5.0
os: darwin x64

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.

After Install the following Warning in Terminal:

npm WARN @angular/core@2.4.6 requires a peer of rxjs@^5.0.1 but none was installed.

How can i fix it? Every Results from google failed

[2017-02-07 21:07] Brocco commented on #4453
@MateEke are you able to share that repo?

[2017-02-07 21:22] dopry opened #4506 "I don't want to call my 'app', 'app'."
There is an assumption that I want have a /src/app folder. When I do not really want to have this folder. I actually want to have /src/{{moduleName}}/ , but totally appreciate using /src/app as a standard.

It'd be really nice if https://github.com/angular/angular-cli/blob/c889dd8e9408f02bf8b1138c9cff15d27d1140dc/packages/%40angular/cli/utilities/find-parent-module.ts#L6 just used root instead of

[2017-02-07 21:24] dopry commented on #4506
If the ng-cli maintainers have a direction or thoughts on this, I'm happy to implement, I just want to get a firm nod on the direction before I put in the work.

[2017-02-07 21:25] Brocco commented on #4506
You can rename this dir with the `--source-dir` option when you run `ng new` the documentation in the wiki explains the available options [here](https://github.com/angular/angular-cli/wiki/new).

[2017-02-07 21:27] MateEke commented on #4453
Sorry, but unfortunately not possible, as it's not an open source project.

[2017-02-07 21:30] Brocco commented on #4453
That's cool... can you share your package.json and angular-cli.json?

[2017-02-07 21:32] dopry commented on #4506
That will give me {{source dir}}/app/,  it's 'app'  I want to get rid of...
I can easily change root in my angular-cli.json... I'm only using the
generator from ng-cli, my packaging is happening with my own webpack
configs so I can build multiple apps and libs per my project requirement,
while still getting to use the generator from ng-cli... what I really want
is a way to switch the 'app' module.

[2017-02-07 21:37] MateEke commented on #4453
[cli.zip](https://github.com/angular/angular-cli/files/759080/cli.zip)

[2017-02-07 22:17] rtcullen commented on #2976
I know this one is a closed ticket, but I am getting the same error.  I am merging my code, written outside of CLI, into a CLI project, and I am struggling with including the X2JS code as well.  Everything looks fine.  The code works 100% fine when compiled outside of ng build (I compile in Sublime)

I have:
index.html includes <script src="js/xml2json.js"></script>
package.json:  "@types/x2js": "

[2017-02-07 22:18] kamalkech commented on #4472
@deebloo yep it's work after install @types/elasticsearch, thank you ;)

[2017-02-07 22:18] #4472 closed

[2017-02-07 22:58] estradamarkie commented on #2976
I just used it as `require`, seems to work fine.

[code]

[2017-02-07 22:59] vovikdrg commented on #4505
1. Try to remove node_modules folder
2. in package.json check if you allow to install latest rxjs should be similar to **"rxjs": "^5.0.1",**
3. run npm install.

[2017-02-07 23:15] hansl opened #4508 "TRACKING: Remove more polyfills"
And reorder the imports by browsers, not features.

[2017-02-07 23:15] git-wylson commented on #4363
@beeman  sorry, I do that but i have the same error
and i don't know what can i do

[2017-02-07 23:43] hansl commented on #2083
We're getting rid of `update` and `init` because they won't be needed after the release. They were temporary tools that were useful during the rough transition from beta, and going forward the only things needed for upgrading from 1.0.0 to 1.0.1 will be to `npm install`.

[2017-02-07 23:43] #2083 closed

[2017-02-08 00:20] dahaupt commented on #4484
I am getting the same errors for a globally installed `@angular/cli`.

[2017-02-08 00:25] YUzhva commented on #4318
Why not make ENV variables available in **process.env** again?

I'm really feeling not comfortable with Heroku Config Vars and Codeship environment variables, because I already set up them, moved all my sensitive data like secret keys to angular-cli environment.dev.ts

[code]

and there is no way to access variables from test env or production like:

[code]

Need to thinking on using third party p

[2017-02-08 00:59] cclow opened #4511 "Broken ng serve auto-refresh"
### OS?
Mac OSX Sierra (10.12.3)

### Versions.
@angular/cli: 1.0.0-beta.30
node: 7.4.0
os: darwin x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps.
I'm running `

[2017-02-08 01:05] rtcullen commented on #2976
Thanks @estradamarkie , I appreciate the pointer.  Turned out I just was missing something in the config file.  Always tough to merge two sets of code, one using SystemJS and the other Webpack.  Thank you for the quick answer, really kind!

[2017-02-08 01:46] #4375 closed

[2017-02-08 01:49] #2733 closed

[2017-02-08 03:05] donovankim commented on #4488
it breaks my project.
+1

[2017-02-08 03:09] #3970 closed

[2017-02-08 05:59] vikasnawal opened #4514 "Unable to install angular-cli on window machine"
### OS?

### Versions.

node version : v6.1.0
npm version : v3.10.7

### Repro steps.

nothing

### The log given by the failure.

92102 info lifecycle sax@1.2.2~install: sax@1.2.2
92103 silly lifecycle sax@1.2.2~install: no script for install, continuing
92104 silly install select-hose@2.0.0 C:\Users\544428\AppData\Roaming\npm\node_modules\.staging\select-hose-3882b485
92105 info lifecycle select

[2017-02-08 06:18] simsulla commented on #4484
same here on "npm install -g @angular/cli"
`npm WARN @angular/core@2.4.6 requires a peer of rxjs@^5.0.1 but none was installed.`

[2017-02-08 06:31] MarcelCorleone commented on #4505
Did you install globally? The rxjs is only needed locally in the app itself (in the package.json), hence the warning.

[2017-02-08 06:34] joe223 commented on #2293
Same error. It works if I use `app/dashboard.component.html`

[2017-02-08 06:51] ifynk commented on #4511
I have some problem too. I just create new application with **ng new**. Then i started **ng serve**. Webpack compiled successfully. If i change template file or css then recompiled successful and live reload works. But if i change some in .ts files then live reloading not works and .ts files not compiled. Although webpack shown compiled successfully.

OS: Ubuntu 16.04 LTS
Node: v7.4.0
Npm: 4.0.5

[2017-02-08 06:59] dragonvm commented on #4484
I had this problem and solved updating angular cli following these steps:

https://github.com/angular/angular-cli#updating-angular-cli

I choosed to overwrite package.json and other files whose I didnt modify before.

[2017-02-08 07:01] ifynk commented on #4453
I have some problem too. I just create new application with **ng new**. Then i started **ng serve**. Webpack compiled successfully. If i change template file or css then recompiled successful and live reload works. But if i change some in .ts files then live reloading not works and .ts files not compiled. Although webpack shown compiled successfully. If restart **ng serve** all changes apply succe

[2017-02-08 07:05] darrenbrett opened #4515 "Ran Update with New Version of CLI, Now Getting a "webpack: Failed to compile" Error"
- Running this on a MacBook Air, with OS X El Capitan V. 10.11.6

- Running @angular/cli: 1.0.0-beta.30

First I did this:

- This was going from beta.24 to beta.30.

Then, for my project, I followed these directions:

Note: when prompted Y or N to update various files, I selected "Y" for most, only selecting "N" for files that would potentially override my custom setup - for instance for package.

[2017-02-08 07:37] felek000 opened #4516 "errors while livereload app"
### OS?

### Versions.
@angular/cli: 1.0.0-beta.30
node: 6.9.1
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps.
Update from beta 24, or new project

I

[2017-02-08 08:02] sandrobirke commented on #4505
@MarcelCorleone Yes, i installed globally. package.json looks good. Means i can get ignore the warning?

[2017-02-08 08:06] vovikdrg commented on #4505
@sandrobirke  run command "npm ls rxjs"

[2017-02-08 08:09] MarcelCorleone commented on #4505
@sandrobirke Yes. Refer to this: https://github.com/angular/angular-cli/issues/4357

[2017-02-08 08:10] grizzm0 commented on #4515
Did you uninstall the old angular-cli package first?

[code]

[2017-02-08 08:18] grizzm0 commented on #4503
It might be your editor that adds weird characters to the file at save. Perhaps a byte order mark or similar. Please use UTF-8 without BOM if your editor is set to UTF-8 with BOM.

[2017-02-08 08:29] slapers commented on #4484
This kind of solved it for me (running osx 10.12.2), i had an old version installed so did:

[code]

But unfortunately still got:
[code]

Running ng help just crashed because of missing rxjs modules. So i just did:
[code]

After this the cli works correctly....

[2017-02-08 08:34] victornoel commented on #4351
Actually it's not fixed for those interested by this :)

[2017-02-08 08:37] Sviatique commented on #4326
The same thing with beta.30

[2017-02-08 08:39] alshdavid commented on #4326
I have updated to node 7.5 + cli beta.30 (from 6.9.5 & beta.28) and it seems the problem is no longer present.

[2017-02-08 09:02] Ionaru commented on #4453
@Brocco

I can confirm this is still not working, I used a completely clean installation of @angular/cli.
What I did:
`sudo npm -g remove @angular/cli`
`npm cache clean`
`sudo npm cache clean` (just to be safe)
`sudo npm -g install @angular/cli`
`ng new myNewApp`
`cd myNewApp`
`ng serve`
Edited app.component (Two seperate edits, one with Kate and one with gedit)
But the hash in the `ng serve` term

[2017-02-08 09:23] felek000 commented on #4516
I follow all steps but its no working i start on fresh or update project any diffidence. Even if i Manually refresh it by CTRL + R. Still no working proper. Some times also cant even do ng build.

After update component.
[code]

[2017-02-08 09:27] MoxxNull commented on #4421
I'd vote for MurhafSousli's request aswell. It is needed if you use ng serve for hot-reloading dev with some backend like iis.
I use a config where my  Prod server routes to /dist  for example for some images or other assets, accessed via proxy to backend.
Now during development, /dist is missing with the new beta, so are my images etc. .  I use a workaround telling my dev-backendserver to route t

[2017-02-08 09:34] deepbishnoi commented on #4482
@catull
tried this too sir, but same error as above...
yes, I'm accessing internet in my college. I think they use proxy.

[2017-02-08 09:44] sankarprasad commented on #2161
C:\Users\499705\Desktop\angular cli>npm install -g angular-cli@latest
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher
 to avoid a RegExp DoS issue
C:\Users\499705\AppData\Roaming\npm\ng -> C:\Users\499705\AppData\Roaming\npm\no
de_modules\angular-cli\bin\ng

ar-cli\node_modules\node-sass

Cached binary found at C:\Users\499705\AppData\Roaming\npm-cache\node-sass\4.

[2017-02-08 09:56] Pilukina commented on #4447
Compiling with ngc It works fine. Thank you so much.

Just I would like to add some urls with useful info:
http://www.usefuldev.com/blog/post/using-ngc-to-build-an-angular-2-library-project

And, of course,
https://angular.io/docs/ts/latest/cookbook/aot-compiler.html

Cheers!

[2017-02-08 09:56] #4447 closed

[2017-02-08 10:01] DaveXCS opened #4517 "--deploy-url will have no effect on assets paths"
### Versions.

`@angular/cli: 1.0.0-beta.30
node: 7.5.0
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6
`

### Repro steps.

- create app with the cli
- use `img src="a

[2017-02-08 10:13] uyadav0001 opened #4519 "gives 404 not found error on refresh the url in production."
### OS?

### Versions.

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.

[2017-02-08 10:13] idc1407 opened #4520 "data['use'] should NOT have additional properties"
### OS?

### Versions.

@angular/cli: local (v1.0.0-beta.30, branch: master)
node: 6.9.1
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### The log given by the failu

[2017-02-08 10:19] Koshmaar commented on #4484
Doing `npm install -g rxjs` helped to get rid of rxj peer error, but the extraneous was still there.

So I did what @slapers wrote and that got rid of extraneous, but peer rxjs WARN (not ERR) came back:

[2017-02-08 10:20] rahul-winner commented on #817
Neither of option to create custom distribution folder is working for me. I tried following

nothing worked :(

Could anyone please help me out.

Thanks. Rahul

[2017-02-08 10:26] rahul-winner opened #4521 "Custom output path is not working"
I want to create separate distributions for each locale. And when I'm trying following commands, however I am not able to create custom output folder. Please help.

### OS?
Windows 7, 8 or 10. Linux (which distribution). Mac OSX (Yosemite? El Capitan?)

### Versions.
Please run `ng --version`. If there's nothing outputted, please run in a Terminal: `node --version` and paste the result here:

###

[2017-02-08 10:29] ulymor commented on #4422
The same problem.
OS:  Ubuntu 16.04
CLI: 1.0.0-beta.30
node: 6.9.2
npm: 4.1.2

[2017-02-08 11:01] grizzm0 commented on #4421
ng serve uses webpack-dev-server which serves the content from memory.

[2017-02-08 11:02] agatsoh commented on #3566
Yup still have the same problem. I migrated from 1.0.0 beta 17 to 1.0.0 beta 30 and loicsalou solution worked for me.
`"assets: [ "assets" ]`

[2017-02-08 11:07] ulymor commented on #2356
I faced with the same problem on **Ubuntu 16.04** and angular CLI **1.0.0-beta.30**

The problem was related with Inotify Watches Limit on Linux.
To solve to issue I increased  the watches limit to 512K
[code]
After that I restarted my IDE (WebStorm in my case) and after that the change detection started to work.

[2017-02-08 11:08] ulymor commented on #2389
I faced with the same problem on **Ubuntu 16.04** and angular CLI **1.0.0-beta.30**

The problem was related with Inotify Watches Limit on Linux.
To solve to issue I increased  the watches limit to 512K
[code]
After that I restarted my IDE (WebStorm in my case) and after that the change detection started to work.

[2017-02-08 11:09] ulymor commented on #4338
I faced with the same problem on **Ubuntu 16.04** and angular CLI **1.0.0-beta.30**

The problem was related with Inotify Watches Limit on Linux.
To solve to issue I increased  the watches limit to 512K
[code]
After that I restarted my IDE (WebStorm in my case) and after that the change detection started to work.

[2017-02-08 11:09] deepbishnoi commented on #4482
anyone there to help plz...
I'm new to linux and its very important to fix this issue...

[2017-02-08 11:12] papaiatis commented on #4461
I generated my angular app with ng cli version 1.0.0-beta.28.
When I try to execute `ng build --prod` I'm getting this error:

[code]

[2017-02-08 11:14] MateenKadwaikar commented on #4461
@papaiatis I get the error for the project in which I am using providers: [ { provide: LocationStrategy, useClass: HashLocationStrategy }] . Are you using the same in your project ?

[2017-02-08 11:17] papaiatis commented on #4461
Sorry, my bad. I changed the "version" in angular-cli.json because, I though it is my application's version.

[2017-02-08 11:22] imjustd commented on #4445
Same with me on Linux after I updated node to version 6.9.5 with `nvm` node version manager.

[2017-02-08 11:27] MurhafSousli commented on #4421
@grizzm0 we know that, but can you tell where does it serve the content from when `ng serve --aot` is used?

[2017-02-08 11:31] grizzm0 commented on #4421
Its still being served from memory. That's how webpack-dev-server works.

[2017-02-08 11:47] ewiggin commented on #4425
yesterday works, today not works :-/

[2017-02-08 11:49] deebloo commented on #4519
This isn't an issue with the CLI. By default angulars router uses the history API. Because of this you will need to set up your server to always redirect to index.html or change the location strategy to hashLocationStrategy.

[2017-02-08 11:50] deebloo commented on #4519
Also in the future please fill out the issue template

[2017-02-08 12:16] ericjamesjohnson672 commented on #2612
Ugh.  Too much time wasted chasing compatibility issues.

[2017-02-08 12:37] deebloo commented on #4483
try exporting everything and see if the error goes away

[2017-02-08 12:41] psysapiens commented on #2187
tks champions \o/

[2017-02-08 13:21] maxime1992 commented on #4425
@ewiggin I had a similar (strange) behaviour.

But I figured out that I  switched from a branch which was not on beta.30 and it probably do that because `angular-cli.json` have an unexpected version. Make sure you clean your `node_modules` and that you're in a branch upgraded to beta.30.

[2017-02-08 13:21] Ionaru commented on #4482
Try asking your school's system administrator, to me this looks like an issue with your connection to NPM and whatever is between that.

[2017-02-08 13:22] wm1sr opened #4522 "Can't import tether library"
### OS?
Windows 10

### Versions.
@angular/cli: 1.0.0-beta.30
node: 6.9.1
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps.

1. Run `ng new my-project`

[2017-02-08 13:27] deebloo commented on #4522
@wm1sr try including https://www.npmjs.com/package/@types/tether. This is actually an issue with Typescript. In order for Typescript to import a module it needs typings so it knows about it.

[2017-02-08 13:40] YUzhva commented on #4419
+1 for having variables from the machine in process.env

[2017-02-08 13:49] cyrilletuzi opened #4523 "Unmet peerDependencies in @ngtools/webpack with newer versions of webpack"
### Versions.
`@ngtools/webpack@1.2.8`

### Repro steps.
Using `@ngtools/webpack` separetely, **without** Angular CLI.

`npm install @ngtools/webpack webpack --save-dev`

Results in a "Unmet peerDependencies" as `@ngtools/webpack` require a specific version of webpack (2.2.0), and webpack is now on a newer version (2.2.1 when I write this issue).

I understand Angular CLI is using a specific versi

[2017-02-08 13:50] #4523 closed

[2017-02-08 13:54] cyrilletuzi opened #4524 "Unmet peerDependencies in @ngtools/webpack with newer versions of webpack"
### Versions.
`@ngtools/webpack@1.2.8`

### Repro steps.
Using `@ngtools/webpack` separetely, **without** Angular CLI.

`npm install @ngtools/webpack webpack --save-dev`

Results in a "Unmet peerDependencies" as `@ngtools/webpack` requires a specific version of webpack (2.2.0), and webpack is now on a newer version (2.2.1 when I write this issue).

I understand Angular CLI is using a specific vers

[2017-02-08 14:00] mrlund commented on #4394
@dtiong Could be an issue with capitalisation of the includes, like [https://github.com/angular/angular-cli/issues/2833#issuecomment-261939556](https://github.com/angular/angular-cli/issues/2833#issuecomment-261939556)

[2017-02-08 14:07] doczoidberg opened #4526 "Debug component in vs code - source map problem"
### OS?
Windows 10 64bit

### Versions
@angular/cli: 1.0.0-beta.30
node: 6.9.5
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps.
vs code chrome debuggin

[2017-02-08 14:29] d3lm commented on #4357
I have the same issue. I was trying to update my angular-cli to the latest version by uninstalling the pervious version and installing the new one via `npm i -g @angular/cli`. The installation ends with a warning. However, if I then list my global packages using `npm list -g --depth=0` I get the following error:

[code]

I also can't run `ng help` which results in the following error:

[code]

So

[2017-02-08 14:32] Derekjohnson277 commented on #4503
I was using Visual Studio Community 2017 so I scrapped that and started a new project using VSCode to modify the code. Now everything works just fine!

[2017-02-08 14:32] #4503 closed

[2017-02-08 15:05] BikashDas19 commented on #1722
Hi,
I have the similar issue.
Could you please provide me the solution for this.

Regards,
Bikash

[2017-02-08 15:31] adrianbarbe commented on #4425
`npm install -g rxjs` resolved this issue. But still getting warning "fallbackLoader option has been deprecated - replace with "fallback"".

[2017-02-08 15:34] kkotak commented on #4363
Still stuck at

TypeError: Cannot read property 'length' of undefined
at createSourceFile (D:\dev\workspaces\webstorm\makasi\myproject-ihm-war\node_modules\typescript\lib\typescript.js:8980:109)......

after trying all the suggestions so far. Completely hosed my build!  Help!

[2017-02-08 15:52] splintercode opened #4529 "bug: ng serve issues"
Please do not close having students from an Angular Bootcamp add the information of what versions of the CLI, OS and Node running pertaining to the ng serve command issues. Several students are not seeing changes when saving files on `ng serve`.

[2017-02-08 15:57] charlescbeebe commented on #4529
OS X: 10.10.5
@angular/cli: 1.0.0-beta.30
node: 7.5.0
os: darwin x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/compiler-cli: 2.4.6

Can't shrinkwrap the project:

npm shrinkwrap --dev
npm ERR! Darwin 14.5.0
npm ERR! argv "/U

[2017-02-08 15:57] darrenbrett commented on #4515
Yes, I uninstalled the old version of the cli globally, cleared cache, and then installed the new version globally. And then I updated the app.

[2017-02-08 15:59] KingsDevelopment commented on #4529
+1

[2017-02-08 16:00] Shavindra commented on #2726
We are experiencing same. SCSS files get bundled up but it's missing the style loader modules from the styles.bundle.js. So they never get injected when running the app.

[2017-02-08 16:02] wm1sr commented on #4522
@deebloo ok, I've added @types/tether and it works!
But what about libraries that don't have typings? I won't be able to use them?

[2017-02-08 16:05] filipesilva commented on #4522
@wm1sr see https://github.com/angular/angular-cli#3rd-party-library-installation for instructions on how to use libraries without typings.

[2017-02-08 16:05] #4522 closed

[2017-02-08 16:11] calidion opened #4530 "fail to install!"
### OS?

### Versions.
@angular/cli: 1.0.0-beta.30
node: 6.9.5
os: linux x64

### Repro steps.
[code]

### The log given by the failure.

1.  dependency problems

[code]

2. warnings

[code]
3. ng help result

[code]

[2017-02-08 16:12] Ozitiho commented on #4529
+1

[2017-02-08 16:12] uberspeck commented on #4410
I was seeing the same issue w/angular-cli@1.0.0-beta.26. I downgraded webpack to 2.2.0 and it fixed it for me...

[code]

[2017-02-08 16:26] JanStureNielsen commented on #4425
@adrianbarbe  -- see http://stackoverflow.com/questions/42076879/fallbackloader-option-has-been-deprecated-replace-with-fallback

[2017-02-08 16:51] darrenbrett commented on #4530
Did you check to make sure you're meeting the requirements for NPM and Node versions?

[2017-02-08 16:53] ocombe commented on #4453
I have the same problem on windows x64, node 6.9.5, and cli beta 30. I just started a new project so it is clean and it's probably not because of something in my code.

[2017-02-08 17:05] anatolie-darii opened #4531 "Cannot change the 'read' location for chunks"
### OS?

Windows 10 x64

### Versions.

@angular/cli: 1.0.0-beta.30
node: 7.5.0
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/upgrade: 2.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps

[2017-02-08 17:42] darrenbrett commented on #4515
I resolved this by running this again:

And then, when prompted, this time I let the process override more of my files. After that was done webpack compiled successfully and the app booted up.

[2017-02-08 17:43] #4515 closed

[2017-02-08 17:58] q-ode opened #4532 "Heroku Deployment Failing"
### Versions.

angular-cli: 1.0.0-beta.26
node: 7.4.0
os: darwin x64
@angular/common: 2.4.5
@angular/compiler: 2.4.5
@angular/core: 2.4.5
@angular/forms: 2.4.5
@angular/http: 2.4.5
@angular/platform-browser: 2.4.5
@angular/platform-browser-dynamic: 2.4.5
@angular/router: 3.4.5
@angular/compiler-cli: 2.4.5
`

### Repro steps.

### The log given by the failure.

2017-02-08T17:39:26.526391+00:00 app[

[2017-02-08 18:06] kamalkech opened #4533 "Angular 2 and Owl carousel 2 / erro : $(...).owlCarousel is not a function"
### OS?

### Versions.
angular-cli: 1.0.0-beta.28.3
node: 6.9.4
os: win32 x64

### Repro steps.
I put this in angular-cli.json :
[code]

- In file component i put this :
[code]

### The log given by the failure.
EXCEPTION: Uncaught (in promise): Error: Error in :0:0 caused by: $(...).owlCarousel is not a function
TypeError: $(...).owlCarousel is not a function
    at OwlCarouselComponent.ngAfterVi

[2017-02-08 18:07] pritspatel opened #4534 "Angular2(2.4.6) with latest cli giving error on ng serve in browser"
### OS?

Window 7

### Versions.

2.4.6

### Repro steps.

No, it was built with angular-cli beta 18

### The log given by the failure.

Unhandled Promise rejection: appInits[i] is not a function ; Zone: ; Task: Promise.then ; Value: TypeError: appInits[i] is not a function

### Mention any other details that might be useful.

NG-CLi - 1.0.0-beta.28.3
Angular2 : 2.4.6
here is my function in app.mo

[2017-02-08 18:26] abhinaypandey commented on #1400
I am also getting the same issue. As @ibwhite  said that it should be @angular/cli in package.json so I have the same entry though I am getting the same error.

[2017-02-08 18:50] shakhrillo commented on #4434
I'm using windows 7 and everything is up to date. But still warn is giving. Could you help?
![default](https://cloud.githubusercontent.com/assets/3455633/22752181/68307a62-ee59-11e6-92e9-10f054742670.PNG)

[2017-02-08 19:49] fulcircle commented on #4359
Same problem, though also getting peer invalid errors.

[code]

[2017-02-08 20:24] cenkentimist opened #4538 "Aot compilation succeeds without warnings or errors for bad templates"
Aot compilation succeeds without warnings or errors for bad templates for me. I was unable to find any documentation or hints as to why this might be. Is there any configuration I can do to get the benefits of template type checking from AOT compilation?
### OS
El Capitan

### Versions.
@angular/cli: 1.0.0-beta.30
node: 7.2.1
os: darwin x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/

[2017-02-08 21:03] firatkucuk commented on #1610
`max_user_watches` setting doesn't fix my problem. At first change it reloads well but after first it doesn't reload. Totally it's an file system cache issue. After I drop the page cache it works well.

[code]

[2017-02-08 21:29] khryshyn commented on #3204
I also have the same issue with AOT in "@angular/cli": "1.0.0-beta.30"
Module not found: Error: Can't resolve "......"index.ngfactory.ts
One thing that fix this is the function that returns a module

[2017-02-08 21:31] infofromca opened #4539 "UNMET PEER DEPENDENCY webpack@2.2.0 and also 2.2.1"
please see the scree
![webpack-unmet](https://cloud.githubusercontent.com/assets/297675/22758209/acf04d3c-ee1b-11e6-8e4a-dd284edcec7f.png)
![cli-op](https://cloud.githubusercontent.com/assets/297675/22758341/412d40c2-ee1c-11e6-8c1e-c94bdc1e4cf6.png)

### OS?

win 10

### Versions.

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.
`{
  "name":

[2017-02-08 21:35] daveo1001 commented on #678
What's the current todo here?
did this `ng set defaults.styleExt scss`
then did this `styleUrls: ['./app.component.scss']` in my app.component

No errors but styles not happening.
Leaving it as `app.component.css` throws a webpack error b/c app.component.css doesn't exist.

[2017-02-08 21:55] Freddessson commented on #3154
Looks similar to my warnings:
`npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\angular-cli\node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.0.17: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})
npm WARN @angular/core@2.4.6 requires a peer of rxjs@^5.0.1 but none w

[2017-02-08 22:11] trickpattyFH20 commented on #2551
I noticed that in #4114 , the --lint option was removed from ng test.
Would the team still consider a PR for this issue,  #2551 , that would add a --lint option to ng build/serve ? @filipesilva

[2017-02-08 22:12] splintercode commented on #4529
Another student
@angular/cli: 1.0.0-beta.30
node: 6.9.4
os: darwin x64

shrinkwrap with dev deps
[code]

[2017-02-08 22:14] hccampos commented on #3525
@filipesilva looks like this is moving. https://github.com/angular/angular/pull/13294

[2017-02-08 22:17] christopherthielen opened #4541 "@ngtools/webpack feature request: support code splitting by third parties"
This is a feature request.

I'd like to start discussion around `@ngtools/webpack` supporting code splitting by third party libs (including `ui-router-ng2`).

Currently the code splitting support in `@ngtools/webpack` has a [soft dependency on `@angular/router`](https://github.com/angular/angular/blob/7a4c25535d79db6a2ecc49972594bc041791c142/modules/%40angular/compiler-cli/src/ngtools_impl.ts#L18-

[2017-02-08 22:26] merwok commented on #4517
I am deploying an app written by someone else.  Assets use hard-coded paths like /assets/img/etc (note the leading slash compared to the OP), the main files (*.bundle.js and sourcemaps) end up in the root of the dist directory.  This is okay for frontend development (using ng serve, /index.html can load /index.bundle.js and /assets/img/etc), but for the actual deployment I would ideally have every

[2017-02-08 23:00] mikejpeters commented on #4532
I think you are having the same issue described here: https://github.com/angular/angular-cli/issues/4207#issuecomment-277840301

[2017-02-08 23:07] kuncevic commented on #2551
@tarlepp I guess that is https://github.com/angular/angular-cli/issues/4114 the reason

[2017-02-08 23:18] victormejia commented on #4425
I am also getting the `Cannot find module 'rxjs/symbol/observable'` after `ng help`. Does rxjs have to be installed globally?

[2017-02-08 23:51] kuncevic opened #4543 "Feature request: Support using Jest testing framework"
### This is a proposal/future request

Current Angular CLI testing tools based on karma and jasmine that we all get use to it. But would you consider to support Jest as well https://github.com/facebook/jest ?

Jest testing framework commonly used across React and Nodejs projects.  It is supports unit tests, assertions, mocks, coverage, live test reload, JS File mocks and has a lots of features bui

[2017-02-09 00:08] bertolo1988 commented on #4292
# +1

[2017-02-09 00:35] dancancro commented on #4543
We recently tried that out in a React project. It seemed pretty cool but we had trouble getting it to work on Windows. Has anyone had better luck?

[2017-02-09 00:48] #4524 closed

[2017-02-09 01:19] justindsmith opened #4545 "Polyfills.ts not getting loaded before scripts when running `ng test`"
The scripts located in `angular-cli.json` are giving errors during `ng test` because the polyfills defined in `polyfills.ts` are not loaded into the system before the scripts are loaded.

Getting following error:
[code]

### OS?
[code]

### Versions.
[code]

### Repro steps.
1. Create new app using `ng new angular-cli-test`
2. Add `@webcomponents/custom-elements` and `mutationobserver-shim` as dep

[2017-02-09 02:29] bboywulong opened #4548 "mac os sierra 10.12.3 install fail"
### OS?

### Versions.

typescript@2.1.5
typings@2.1.0

### Repro steps.

### The log given by the failure.

Password:
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm ERR! unpack Could not read data for @angular/tsc-wrapped@0.5.2
npm ERR! unpack Could not read data for @angular-cli/ast-tools@1.0.16
npm ERR! unpack Could not read data

[2017-02-09 03:03] edelCustodio commented on #4477
Also I got the similar error.

![image](https://cloud.githubusercontent.com/assets/7378797/22767601/6779ae18-ee4a-11e6-8849-2a0b656564a6.png)

Any help?

[2017-02-09 03:13] JaredPhelps commented on #4531
I believe the way they intend for us to do this is to use the --base-href "/ng/dist/" option of the cli.

https://github.com/angular/angular-cli#base-tag-handling-in-indexhtml

[2017-02-09 03:21] maplion commented on #1400
I had `"angular-cli": "1.0.0-beta.24"` in my package.json and I updated it with a package.json overwrite, that changed it to `"@angular/cli": "1.0.0-beta.30"`, which gave me this error.  I changed it back to `"angular-cli": "1.0.0-beta.30"` and it is working again.

[2017-02-09 03:38] #4529 closed

[2017-02-09 03:48] delasteve commented on #4543
@kuncevic, I would suggest seeing if `jest` works with `Angular`, first. I know there has been issues in the past for `mocha` and `jasmine` users when using `async`. There had to be a specific patch put in place in the `zone.js` library.

https://github.com/angular/zone.js/blob/master/lib/mocha/mocha.ts
https://github.com/angular/zone.js/tree/master/lib/jasmine/jasmine.ts

I know @hansl has mentio

[2017-02-09 03:55] abhinaypandey commented on #1400
Is it right way to do. As angular cli has its dependencies.

On Thu 9 Feb, 2017, 8:51 AM Ryan Dammrose, <notifications@github.com> wrote:

[2017-02-09 04:10] JonCubed commented on #817
@rahul-winner looking at [build.ts](https://github.com/angular/angular-cli/blob/master/packages/%40angular/cli/commands/build.ts#L15) `ng build --output-path customDist` should work. Alternatively if you want it to be a default and not have to use the `--output-path` flag you can use `--source-dir` with `ng new` or `ng init` commands

[2017-02-09 04:32] abhinaypandey commented on #1400
@maplion  I tried that but it's asking me to select versions below 1.0.0-beta.28.3.

[2017-02-09 04:47] benwinding opened #4549 "Feature Request: ng init - to output npm installing versbosly"
## Feature Request

Show the npm installing output when the ng init command is run. Like this!

![image](https://cloud.githubusercontent.com/assets/11782590/22769664/0db17fa6-eeda-11e6-8e2c-6070bafc832f.png)

## Motivation

For anyone starting with the angular-cli, the first command they typically use is `ng init` and on all platforms, this is the screen they see.

![image](https://cloud.githubuse

[2017-02-09 04:48] uyadav0001 opened #4550 "href="#" is reloading page to home while it should not reload..."
### OS?

### Versions.

### Repro steps.

### The log given by the failure.

### Mention any other details that might be useful.

[2017-02-09 04:51] pnsvinodkumar commented on #4368
Cool.. @beeman
Thank you.. It works

delete "node_modules"
npm install

[2017-02-09 04:59] dhrubomoy commented on #4548
I am also getting similar error in mac OS Sierra 10.12 and node version is 7.5.0. I am getting following error after running `sudo npm install -g @angular/cli` :

[code]

[2017-02-09 05:25] maplion commented on #1400
@abhinaypandey I ran an `npm install -g @angular/cli` and an `npm install @angular/cli` and it seems to be  bundling/compiling again as intended with the new format `"@angular/cli": "1.0.0-beta.30"`.

[2017-02-09 05:49] thaniri opened #4551 "ng build -prod Module not found: Error: Can't resolve './$$_gendir/app/app.module.ngfactory'"
### OS?

### Versions.
@angular/cli: 1.0.0-beta.30
node: 7.4.0
os: win32 x64
@angular/common: 2.4.6
@angular/compiler: 2.4.6
@angular/core: 2.4.6
@angular/forms: 2.4.6
@angular/http: 2.4.6
@angular/platform-browser: 2.4.6
@angular/platform-browser-dynamic: 2.4.6
@angular/router: 3.4.6
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.6

### Repro steps.
App started using angular cli

### The

[2017-02-09 05:56] hansl commented on #4382
`ng build --watch` will output in `dist/` and watch for changes, then rebuild.

`ng serve` takes an option for passing a proxy for a backend (like express) that it will serve locally.

Closing this.

[2017-02-09 05:56] #4382 closed

[2017-02-09 06:04] bkottapally commented on #3781
@deepakkadarivel new clone idea worked for now

[2017-02-09 06:24] kevmando commented on #4530
I have same issue with exact same config.
Ubuntu 16.04
node v6.9.5
npm 3.10.10

[2017-02-09 06:37] mastertinner commented on #4425
I think the issue is with projects that have been generated with `angular-cli` and you're trying to operate on with an `@angular/cli`. For me, the problem got resolved when I ran `ng update [options]` (where the `options` are the same ones I used during `ng new`. That updates the project to use the new `@angular/cli` which should resolve the problem. Installing `rxjs` globally should only be used

[2017-02-09 06:42] nmongiya opened #4552 "ng is not working"
### OS?

### Versions.
Cannot read property 'input' of null
TypeError: Cannot read property 'input' of null
    at ObjectSchemaTreeNode._set (C:\Users\gkadmin\AppData\Roaming\npm\node_modules\@angular\cli\node_modules\@ngtools\json-schema\src\schema-tree.js:347:132)
    at new ObjectSchemaTreeNode (C:\Users\gkadmin\AppData\Roaming\npm\node_modules\@angular\cli\node_modules\@ngtools\json-schema\src

[2017-02-09 06:45] see2hao opened #4553 "I got a Problem when I used the 'ng help' or other command lines after installed the angular-cli"
I got a Problem when I used the 'ng help' or other command lines after installed the angular-cli.

###More details of this issue happened:

**Manually deleted folders from**
"C:\Users\Administrator\AppData\Roaming\npm" and
"C:\Users\Administrator\AppData\Roaming\npm-cache".

**Re-installed rxjs,@angular/cli**
`npm install -g rxjs`
`npm install -g @angular/cli@latest`

**Issue happened when I enter

[2017-02-09 06:48] nmongiya commented on #4553
same is happening for me

[2017-02-09 06:55] KevinBurton commented on #4425
Any idea on what to do for an Ionic 2 project?

	-----------------------------------------From: "Tobias Fuhrimann"
To: "angular/angular-cli"
Cc: "KevinBurton", "Author"
Sent: 09-Feb-2017 06:37:27 +0000
Subject: Re: [angular/angular-cli] ng beta 30 fails (#4425)

	I think the issue is with projects that have been generated with
angular-cli and you're trying to operate on with an @angular/cli. For
m

[2017-02-09 07:05] alexbyk opened #4554 "Is there a way to use async/await with angular-cli?"
I'm trying to use new cool async/await feature (I've updated all packages using ncu -a before, tsc version is 2.1.5), but there are some problems

With "target": "es6" and production mode:

[code]

With  "target": "es5",

[code]

As I understand, this is because UglifyJS doesn't support es6.
Without `--prod` and with es6 target it works. With `--prod` doesn't

Is there any way to use angular-cli +

[2017-02-09 07:25] bjornharvold commented on #4434
Getting the same error as everyone else: Angular CLI beta 30 with Angular 2.4.6

[2017-02-09 07:34] bjornharvold commented on #4515
Angular CLI Beta 30. Created a project from scratch and still getting the same error.

[2017-02-09 07:36] dimitriy-k commented on #2201
it works indeed (see @feloy docs). But it will create for each language different app? So if you want to switch between languages you need to switch between the apps?

[2017-02-09 07:42] istiti commented on #2201
@dimitriy-k right otherwise use JiT

[2017-02-09 07:44] TeodorKolev commented on #2201
We don't want documentation, we don't want different apps, we don't want hacks. We want it to be fixed.

[2017-02-09 07:45] anatolie-darii commented on #4531
The problem with that is that it overrides all requests and adds to them a prefix '/ng/dist/'. I only want to be able to load the chunks without touching anything else. In case I use this base href:
1) all server requests will be http://{server}/ng/dist/{path}
2) the home page of my app will be http://{server}/ng/dist/ as opposed to http://{server}/

All I need is for the request for chunks to poi

[2017-02-09 07:50] hccampos commented on #4554
I think you will have to wait for Angular 4 to be able to use TS >= 2.1 Check #3525

[2017-02-09 07:54] scttcper opened #4555 "$$_gendir issue"
Here's the repo https://github.com/scttcper/ngx-toastr

Angular cli is used to manage the tests/github pages/demo

Command used is `ng github-pages:deploy --aot`
package.json is in repo
I'm on osx with node v7.5.0 and have tried with both yarn and npm.

[code]

[2017-02-09 07:56] Shijir commented on #4555
Could be the same as or related to #4551

[2017-02-09 07:57] JaredPhelps commented on #4531
It shouldn't override all requests, it only affects requests and links that are relative to the current location (eg, href="mysite.html").  I had a misconception when I first started that it also affected relative URLs like "**/**Api/MyHttpCall", but URLs that start with "/" are relative to the host and are not affected by setting the base href.  I find that in an angular app I almost never use li

[2017-02-09 08:03] wuzhouyang commented on #4124
resolved ?

[2017-02-09 08:05] tinchou commented on #4124
Sorry I'm not able to provide a repro at the moment. Are you having this same issue? Can you help with a repro?

Thanks!

[2017-02-09 08:11] JaredPhelps commented on #4531
I should add that, for what it's worth, I agree they should provide a way to set the runtime location of the files without setting base href.  Even though it works it feels very heavy-handed for something so minor.  I had a post-build script doing this for me for everything in index.html but like you, I discovered this doesn't solve the problem once you introduce lazy loading into the picture.

[2017-02-09 08:12] wuzhouyang commented on #4124
Sorry i just only used the @ngtool/webpack in my project. It's work in my [repo](https://github.com/wuzhouyang/angular2-seed-starter) but when i run my other project i got some error
![image](https://cloud.githubusercontent.com/assets/12148043/22774536/8698610c-eee2-11e6-89e6-7622ea54c137.png)

[2017-02-09 08:34] MatGhp commented on #4434
+1

[2017-02-09 08:42] intellix commented on #4532
Don't use ng serve outside of your computer :) Use another html server or create a simple express server.js.

Also, try disabling NODE_MODULES_CACHE: https://devcenter.heroku.com/articles/nodejs-support#cache-behavior

Example package.json with scripts for Heroku (notice that I moved **@angular/cli** from dev and a few others so you can build on postinstall:
[code]

Example server.js:

[code]

[2017-02-09 08:48] ivanbtrujillo commented on #2389
sudo sysctl fs.inotify.max_user_watches=524288
sudo sysctl -p --system

That fix the problem for me. Thanks @ulymor!

[2017-02-09 08:53] dinhduongrestaff commented on #4425
it was worked for me. You can try
`npm install rxjs -g`
`update angular version >=2.3.1 in package.json`
`npm install`

[2017-02-09 08:58] anatolie-darii commented on #4531
You're right, I had my server urls '{relativePath}/resource' instead of '/{relativePath}/resource'.

Still, if I set the href to '/ng/dist/' this will be perceived as my home page so in case of an error or when I tell the router to go to home page it will redirect me to http://{server}/ng/dist/ as opposed to http://{server}/

[2017-02-09 09:07] zacol commented on #4403
Follow this step:
1) Install Typedoc globally with this command `npm install --global typedoc`.
2) Add `typedoc.json` with Typedoc configuration:

[code]
3) Add these two lines to the `package.json`:

[code]

4) Now you can run Typedoc using `npm run docs`.

Have fun with Typedoc :)

[2017-02-09 09:12] liangzhanyong opened #4556 "Command is not available："ng serve --live-reload false""
Use this command start the service,  browsers still automatically refresh after modify the component's code.

### OS

### Versions.

[2017-02-09 09:34] filipesilva commented on #2673
Fixed by https://github.com/angular/angular-cli/pull/4542

[2017-02-09 09:34] #2673 closed

[2017-02-09 09:46] mfueser commented on #4549
At the moment npm is started by the exec-function. All output is buffered and written after return of the command. So that would not be live output.
Maybe that could be changed to spawn, making error-handling a bit tricky.
The feature could be connected to the verbose-flag.

[2017-02-09 09:55] nmongiya commented on #4530
try npm install -g rxjs

[2017-02-09 10:08] StrontsitskiyVolodymyr commented on #4434
+(

[2017-02-09 10:12] filipesilva commented on #4519
Closing as answered.

[2017-02-09 10:12] #4519 closed

[2017-02-09 11:40] Kozlo commented on #4434
+1

[2017-02-09 11:51] andyflatt commented on #4453
I am seeing this too.  I tried running off master as @jwuliger suggested and got a puzzling result.

At first it was not working, I thought I would try to trick it into doing a reload by purposely putting and error in the code then fixing it.  To see if a failed build will force an update.  This however did not work, and made all following builds fail, with the same error being shown even though i

[2017-02-09 12:00] nerdyzia commented on #4434
+1

[2017-02-09 12:10] MeMeMax commented on #4434
+1

[2017-02-09 12:13] beeman commented on #4434
There's no need to +1 the issue, the problem is confirmed and the fix is in place and will ship with the next release.

I don't know when that next release is but I expect it to be soon as there are more issues that need a fix.

[2017-02-09 12:17] filipesilva commented on #3884
The `sourcemap-istanbul-instrumenter-loader` author at https://github.com/deepsweet/istanbul-instrumenter-loader/issues/39 seems to be ok with changing to MIT.

[2017-02-09 12:18] beeman commented on #4434
https://twitter.com/hanslatwork/status/829570400384278528

It looks like there will be a new beta today :)

[2017-02-09 12:19] bertolo1988 commented on #4434
+1

[2017-02-09 12:28] bertolo1988 commented on #4552
I recommend you to install beta.21. It is the only version working for me right now.

[2017-02-09 12:30] mackelito commented on #2201
@dimitriy-k If you want to have the possibility to change language in runtime then you could use https://github.com/ngx-translate/core

[2017-02-09 12:42] TeodorKolev commented on #2201
Why would I need something that I cannot change language in runtime?

[2017-02-09 12:43] TheDocX commented on #4440
@deebloo Is there anything else I can provide to help?

[2017-02-09 12:48] catull commented on #4514
No, python is not required, in fact it has never been required.

However, you have not mentioned what exactly you did; please edit the issue and enter the statements in "Repro steps".

[2017-02-09 12:54] mackelito commented on #2201
@TeodorKolev well all projects have different requirements... I´m not saying that one is better than the other.. just that we might not see one solution that fits all ;)

[2017-02-09 12:57] istiti commented on #2201
@TeodorKolev dude you really need check difference on aot and jit (here's performance reason)

[2017-02-09 13:00] deebloo commented on #4440
@TheDocX nope sorry just getting around to looking at issues again. taking a look at the repo now

[2017-02-09 13:05] deebloo commented on #4440
Like you said it is working with the local code but failing with the repote repo. still digging a bit

[2017-02-09 13:08] catull commented on #4521
It works for me.
[code]
[code]
[code]
[code]
[code]
[code]

`ng serve` builds and serves up on http://localhost:4200, "app works!"

[code]
[code]
[code]
[code]
[code]
[code]

[2017-02-09 13:11] kaznovac commented on #4180
as mentioned here #2813 this, however unexpected, is intentional by design

[2017-02-09 13:16] catull commented on #4530
This works for me.

`ng install -g rxjs`
`ng install -g @angular/cli`
`ng help`

It prints out a lot of help texts, including the most recent addition: xi18n.

[2017-02-09 13:18] badre429 commented on #4526
## debug angular-cli application in google chrome with vscode

1. install ***Debbuger For Chrome*** extention in vscode

2. Close all instances of chrome and run command line

[code]

***C:\Program Files (x86)\Google\Chrome\Application\chrome.exe --remote-debugging-port=9222*** on windows
3. run ng serve with source map option

[code]

4. change **./.vscode/launch.json**  to

[code]

5. run debug

[2017-02-09 13:21] catull commented on #4548
This is a duplicate of #4530. Try the solution suggested there.

[2017-02-09 13:22] kaznovac opened #4559 "ng update should be line ending agnostic"
### OS?

Windows 10

### Versions.

@angular/cli: 1.0.0-beta.30
node: 6.9.4
os: win32 x64
@angular/common: 2.4.7
@angular/compiler: 2.4.7
@angular/core: 2.4.7
@angular/forms: 2.4.7
@angular/http: 2.4.7
@angular/platform-browser: 2.4.7
@angular/platform-browser-dynamic: 2.4.7
@angular/router: 3.4.7
@angular/cli: 1.0.0-beta.30
@angular/compiler-cli: 2.4.7

### Repro steps.

run `ng update` on existi

[2017-02-09 13:25] ccabanero commented on #4434
+1

[2017-02-09 13:27] catull commented on #4552
You omit quite a bit of information.
Do your homework and provide more context.
Starting with **Repro steps** containing your steps, not the tools versions.

Also, the issue title is not much of a help, it is too generic, more likely it gets ignored.

[2017-02-09 13:30] catull commented on #4553
Hey guys, you cannot expect us to help you if you do not provide more pieces of information.
Describe what is meant by "[I] installed the Angular CLI".

[2017-02-09 13:32] catull commented on #4555
You do not state which version of Angular CLI you are using.

**Note**: as of version 1.0.0.beta.28.3 github-pages:deploy has been removed.
You have to use a different npm package in future.

[2017-02-09 13:35] catull commented on #4556
I believe the correct syntax is `ng serve --live-reload=false`.
Does that work you ?  Please confirm.

[2017-02-09 13:36] dimitriy-k commented on #2201
On the one hand I can understand that they compile with AOT already translated app, so with multiple languages you will have multiple apps. So when you switch between the languages, angular will load new AOT app, so you can get probably some session issues (login etc.) and will lose all in services stored data.
On the other hand, you can put translations in an json file and you don't need to preco

[2017-02-09 13:41] intellix commented on #4434
There's no need to +1 guys, it just causes unnecessary notifications. That's why Github added reactions: https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments

[2017-02-09 13:44] martinmcwhorter commented on #4396
This issue went away when I upgraded to beta.30

[2017-02-09 13:44] #4396 closed

[2017-02-09 13:52] filipesilva commented on #4521
This works for me as well, and we test for it.

The correct usage is `ng build --output-path=customDist` as @catull showed.

Are there any other details that you can give that would help show why it doesn't work for you?

[2017-02-09 13:53] filipesilva commented on #4530
This was an unfortunate oversight in the last release. It's fixed in master and should be in the next release.

[2017-02-09 13:53] #4530 closed

[2017-02-09 13:53] KevinBurton commented on #4425
So to summarize what I understand. In order to get beta-30 to work you have to 'npm install rxjs -g' (so you don't get an error with 'ng help')? If you have created a project then use 'ng update' @mastertinner. RIght ?

[2017-02-09 13:54] filipesilva commented on #4548
@bboywulong you seem to have some proxy/firewall/npm version issue. You're not getting packages correctly.

@dhrubomoy yours is a dupe as catull said.

[2017-02-09 13:54] #4548 closed

[2017-02-09 13:57] catull commented on #4425
As soon as https://github.com/angular/angular-cli/pull/4473, all you need is `npm install -g @angular/cli`.

[2017-02-09 14:03] catull commented on #4559
What is the problem ? What happened ?

[2017-02-09 14:09] filipesilva commented on #4550
Please open a new issue with the filled in template. There isn't much we can do without that information.

[2017-02-09 14:09] #4550 closed

[2017-02-09 14:10] filipesilva commented on #4559
We'll be removing this command soon (https://github.com/angular/angular-cli/issues/4416) so this is a non-issue.

[2017-02-09 14:10] #4559 closed

[2017-02-09 14:21] filipesilva commented on #4396
Heya @martinmcwhorter nice to find you again here! I'm glad the issue went away and that you're enjoying the CLI.

[2017-02-09 14:22] catull commented on #4516
@felek000 Did you check #4515 and the solution described there?
Is it still an issue ?

[2017-02-09 14:50] doczoidberg commented on #4526
breakpoints work now in the app.component.ts but not in an addional generated component. any ideas?

[2017-02-09 14:53] plastikaweb commented on #1400
I just run into this problem,
Fixed updating angular-cli in this way:

`# Uninstall any previous version
npm uninstall -g angular-cli @angular/cli

# Clear entire cache
npm cache clean

# Install Angular CLI globally
npm install -g @angular/cli@latest`

No need to delete the node_modules folder

[2017-02-09 15:06] Brocco commented on #3889
There is a remaining warning about a package that prefers to be installed globally (node-gyp)

[code]

This is a dependency of of node-sass.

[2017-02-09 15:08] doczoidberg commented on #4526
this is my code:
https://github.com/doczoidberg/ang1

[2017-02-09 15:09] scttcper commented on #4555
@catull sorry. Its @angular/cli beta.30

I was unaware of the github-pages being removed. Either way, `ng build --prod --aot` throws the same error.

[2017-02-09 15:16] #4555 closed

[2017-02-09 15:26] TeodorKolev commented on #2201
So much comments, jits, aots, hacks, links to blog, but the result after install i18n is that it is **not** working. This is the point here.

[2017-02-09 15:33] TeodorKolev commented on #2201
@istiti Dude I do not want to check any differences, searching for stuff and reading about fixes. I want when I install i18n, set things up and finally click on different language button, the result to be language changed, you know. This is all I want.

[2017-02-09 15:34] crper opened #4563 "support codelyzer?"
https://github.com/mgechev/codelyzer ,  i feel tools useful.

[2017-02-09 15:35] Mahi8686 commented on #41
How to run forever with angular-cli?

[2017-02-09 15:43] KingsDevelopment commented on #4529
Why did you close it @splintercode

[2017-02-09 15:53] deebloo commented on #4563
@crper the cli already leverages codelyzer. also in the future please use the issue template when creating an issue.

[2017-02-09 15:57] Avien commented on #4482
I'm having the same issues as well
Tried everything but still not working

[2017-02-09 16:08] filipesilva commented on #4563
Closing as answered.

[2017-02-09 16:08] #4563 closed

[2017-02-09 16:35] catull commented on #4482
@deepbishnoi @Avien
As @Ionaru already pointed out, nobody other than your system administrator can help you now.
I know this is difficult, but you have to find out which is your proxy server and how to access it.