[2018-12-04 18:40] alan-agius4 commented on #12921
Full repo steps:

[code]

Seperate terminal
[code]

Check logs on first terminal.

[2018-12-04 18:46] JosepAlacid commented on #13095
![image](https://user-images.githubusercontent.com/6597294/49465199-43bc4a80-f7fd-11e8-86bd-a57c3762b2d2.png)

[2018-12-04 19:03] jamesona commented on #6795
@thenslerse, sorry to necro-tag you here, but were you by chance using semantic-ui in this project? I get the exact same two warnings in my app.

[2018-12-04 21:07] bartvanderwal commented on #11582
The docs on testing at angular.io still mention/instruct to use the `--browser` option instead of `--browsers`. And also the --single-run option, which I understand should now be `--watch=false`

Source: https://angular.io/guide/testing#configure-cli-for-ci-testing-in-chrome

This instruction:

Should now be:

[2018-12-04 21:08] avatsaev commented on #13095
this has always been an issue, it's not even new.

[2018-12-04 21:12] bartvanderwal commented on #11582
But the next line in the docs source mentions also returns  two now missing cli options in the current ng cli `7.0.7` that I'm using:

returns:
`Unknown option: '--no-progress'`
`Unknown option: '--config'`

And I can't find replacements as quickly.

[2018-12-04 21:13] bartvanderwal commented on #11582
Can this issue be reopened on v7? Or should I post the above in a new issue? @filipesilva

[2018-12-04 21:42] JSMike commented on #13013
@naveedahmed1 FYI, I was running in to this as well, specifically around testing. The issue was that the `@nguniversal/module-map-ngfactory-loader` was being included (for me, specifically when testing because I had made a module test for it).  Make sure you're not accidentally including files or modules in the front-end that have the `@nguniversal/module-map-ngfactory-loader` import.

[2018-12-04 23:50] beleta commented on #13059
Same problem here.

`$ ng update`
`404 Not Found - GET https://registry.npmjs.org/private-pkg - Not found`

Where private-pkg is a package stored in a Nexus repository.

` ng update` worked in the same scenario with angular-cli before 7.1.0.

[2018-12-04 23:56] vovikdrg commented on #13099
@alan-agius4 Give me some time. I need to ask permission.

Also its probably does not make sense to create new. I am thinking to leave same structure but remove all project related stuff. It seems to bug in structure or specifically in way we created it.

[2018-12-04 23:57] vovikdrg commented on #13099
@alan-agius4 It won't be before Monday for sure.

[2018-12-05 04:39] israr2018 commented on #5293
I was facing the same issue when trying to  render index.html file from dist folder, I a figure out that there was issue with specifying the static filles to the express server. So you should dobule check if you are specifying  correctly the static folder to express server where the index.html file resides.

[2018-12-05 08:38] BirgitPohl commented on #3603
Can you give an example, or link to one? I'd be interested.

[2018-12-05 09:07] X4V1 commented on #10262
the process is still running after more than one hour. Is it normal ? Is there any way of doing it in verbose mode or manually ?

[2018-12-05 09:15] alan-agius4 commented on #12853
Hi, thanks for reporting this.

Can you explain why your Google Cloud Storage bucket is not configured to point to the `index.html`?

[2018-12-05 09:32] alan-agius4 commented on #5167
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-05 09:32] #5167 closed

[2018-12-05 09:40] mselerin commented on #13087
I have made some test with `const _benchmark = true;` and `@angular-devkit/build-angular` 0.11.1 vs 0.10.7.

What I see is `AngularCompilerPlugin._createOrUpdateProgram.ts.createProgram` slower in 0.11.1 :

Run | v0.11.1 | v0.10.7
--- | ------- | -------
1st | 5737.993ms | 3809.414ms
2nd | 3647.592ms | 132.386ms
3rd | 3084.749ms | 52.066ms

[2018-12-05 09:43] alan-agius4 commented on #6175
I'm sorry, but we can't reproduce the problem following the instructions you provided.
Remember that we have a large number of issues to resolve, and have only a limited amount of time to reproduce your issue.
Short, explicit instructions make it much more likely we'll be able to reproduce the problem so we can fix it.

If the problem persists, please open a new issue following [our submission gui

[2018-12-05 09:43] #6175 closed

[2018-12-05 11:25] jacobfederer opened #13136 "[Regression] aot compilation breaks enums from other files"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

Node Version: v10.8.0

npm version: 6.4.1

ng version:

[code]

Os: MacOSX Mojave

### Repro steps

Use enum inside a file like this:

[code]

Import the enum like this:

[code]

Then run: `ng build --prod`

The issue seems to be related to #10655 but this time setting buildOptimzier a

[2018-12-05 12:36] gkalpak commented on #12853
@alan-agius4, what other repercussions do you have in mind? Using a file as baseHref is valid.
IMO, cli should suport that and treat it the same way as it will be treated in the browser (i.e. ignore the file part if it wants to combine it with a relative path).

[2018-12-05 12:36] Serginho commented on #12105
When do you plan do this?

[2018-12-05 12:43] tkoenig89 commented on #11869
For anyone stumbling over the auto-export not working with '--exports', as I just did:

The actual flag for auto-export is `--export` without the 's' at the end.

[2018-12-05 13:22] blackholegalaxy commented on #3603
@BirgitPohl we used the library https://github.com/thymikee/jest-preset-angular. They mention in their readme a tutorial example. It worked with minor adjustments (because we use aliases in tsconfig we had to put back in `jest.config.js`).

[2018-12-05 13:50] cluen commented on #10624
Is there an article describing what to do know?
Im using Windows and don't know how to get it working:
- Use .npmrc in local and/or HOME ?
- Do I have to use environment variables for auth-keys?

Deleted my local .nmprc to update version of @angular/cli to 7.1.1.
Restored the local .npmrc and trying to start ng update

If I then try to start ng update getting also the 404 with scoped package names

[2018-12-05 14:40] bartvanderwal opened #13137 "ng test options mentioned in testing docs don't work"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

### Desired functionality/Repro/other details that might be useful
I would like to be able to follow the testing guide when using the new angular 7:
https://angular.io/guide/testing#configure-cli-for-ci-testing-in-chrome

But similar to as mentioned in now closed issue #11582 these doc

[2018-12-05 14:43] alan-agius4 commented on #13137
Duplicate of https://github.com/angular/angular/issues/27331

[2018-12-05 14:43] #13137 closed

[2018-12-05 16:12] kinny94 commented on #7681
you da man!!

[2018-12-05 16:19] clydin commented on #13136
If setting build optimizer to false results in the same error then this does not appear to be related to build optimizer.  Can you change the title to reflect that please?

The issue appears to be caused by AOT compilation and the use of the `import Utils, {ErrorCode} from "../utils";` statement.  The combination of import clauses is causing the problem.  If using just `import {ErrorCode} from "..

[2018-12-05 16:34] woodev01 commented on #12258
Just ran into this same issue. Not only is it breaking with `build --prod`, but also with `ng serve --aot`.  Building works fine without prod flag, but with it I get a page of red "cannot resolve x dependency in y page".

[2018-12-05 16:45] hccampos commented on #13102
Just another data point here:

| Angular        | ngtools        | 1st     | 2nd     | 3rd     |
|----------------|----------------|---------|---------|---------|
| @angular 7.1.1 | @ngtools 7.0.7 | 25317ms | 5131ms  | 4316ms  |
| @angular 7.1.1 | @ngtools 7.1.0 | 36403ms | 27959ms | 27833ms |

[2018-12-05 17:42] farlock85 commented on #13095
Can't ng update just try to install the latest compatible version of TypeScript? Now I have to go through each package and check if it's compatible with Angular because it errors out right away.

[2018-12-05 17:55] hpardess commented on #5741
I had following error,

and it is fixed with `ng build --prod --source-map`
later I get heap error and `node --max_old_space_size=12000 ./node_modules/.bin/ng build --prod --source-map` command solved that too.

[2018-12-05 20:18] davvit commented on #12198
Can we re-open this?

![image](https://user-images.githubusercontent.com/4433698/49541464-6ea7ac80-f898-11e8-902e-334a38fc3a2a.png)

Angular CLI: 7.0.4
Node: 10.13.0
OS: win32 x64
Angular: 2.4.10
... compiler, compiler-cli, core

Package                      Version
------------------------------------------------------
@angular-devkit/architect    0.10.4
@angular-devkit/core         7.0.4
@angula

[2018-12-05 20:34] davvit opened #13138 "[7.1.1] The new command requires to be run outside of a project, but a project definition was found at ".angular-cli.json"."
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

[code]

Package                      Version
------------------------------------------------------
@angular-devkit/architect    0.10.4
@angular-devkit/core         7.0.4
@angular-devkit/schematics   7.0.4
@angular/cdk                 2.0.0-beta.12
@angular/cli                 7.0.4
@a

[2018-12-05 22:30] Tomek6789 commented on #10765
Hello guys, can someone help me understand why angular/cli when running ng test is opening and compiling files for each project indywidual ??? This proces cause a lot of time that is redundant.

In my project when I move karma.conf.js, test.ts and tsconfig.spec.json to root level.
**I reduce test execution time from 15 minutes to 2 minutes**

If someone needs to run all test for all projects (CI f

[2018-12-05 22:43] tanzeelrana opened #13139 "ng update not running migration.json schematic"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

node --version
v8.11.3

npm --version
6.4.1

[code]

### Repro steps

I have a private project so I am unable to share the repo, so sorry in advance. I have an angular project to which I have added schematics support so I can update it using `ng update`. So I have a schematics folder w

[2018-12-06 06:15] alan-agius4 commented on #13138
Hi can you check is that file is located in your user directory?

[2018-12-06 07:31] JorJule opened #13140 "angular proxy error"
- [ ] bug report -> please search issues before submitting
- [x ] feature request

### Command (mark with an `x`)
[code]

### Versions
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

     _                      _                 ____ _     ___
    / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ / _` | | | | |/ _` | '__

[2018-12-06 08:20] MHX123 commented on #12215
I also encountered this problem. Is there any way to solve this problem?

[2018-12-06 08:30] mevlts commented on #13095
I have got same issue.

[2018-12-06 08:51] JorJule commented on #13140
thank you

[2018-12-06 08:51] JorJule commented on #13140
thank you

[2018-12-06 09:06] jiangen1016 commented on #11041
that work fo you,Thanks

[2018-12-06 09:06] jiangen1016 commented on #11041
Taht work for me.Thanks

[2018-12-06 09:07] JimmyRare commented on #13095
npm install typescript@">=3.1.1 <3.2"

[2018-12-06 09:31] werthdavid commented on #12702
That only happens if you open developer tools in the Test-Chrome (at least for me)

[2018-12-06 09:45] manalis commented on #7719
I found below answer on Stack Overflow and it worked for me.

`::ng-deep .className {}`

[https://stackoverflow.com/questions/46218037/component-scss-inside-component-folder-does-not-work/46218064](https://stackoverflow.com/questions/46218037/component-scss-inside-component-folder-does-not-work/46218064)

[2018-12-06 10:14] cyrilletuzi commented on #13010
Hi, any news about this issue? Thanks.

[2018-12-06 10:59] alan-agius4 commented on #7917
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-06 10:59] #7917 closed

[2018-12-06 11:48] alan-agius4 commented on #13087
@mselerin

[2018-12-06 12:00] alan-agius4 commented on #6008
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-06 12:00] #6008 closed

[2018-12-06 12:05] alan-agius4 commented on #6786
I'm sorry, but we can't reproduce the problem following the instructions you provided.
Remember that we have a large number of issues to resolve, and have only a limited amount of time to reproduce your issue.
Short, explicit instructions make it much more likely we'll be able to reproduce the problem so we can fix it.

If the problem persists, please open a new issue following [our submission gui

[2018-12-06 12:05] #6786 closed

[2018-12-06 12:38] #10499 closed

[2018-12-06 12:41] alan-agius4 commented on #10510
I'm sorry, but we can't reproduce the problem following the instructions you provided.
Remember that we have a large number of issues to resolve, and have only a limited amount of time to reproduce your issue.
Short, explicit instructions make it much more likely we'll be able to reproduce the problem so we can fix it.

If the problem persists, please open a new issue following [our submission gui

[2018-12-06 12:41] #10510 closed

[2018-12-06 12:45] mselerin commented on #13087
I'm using @ngtools/webpack 7.0.7 but @angular-devkit/build-angular 0.10.7.

[2018-12-06 12:45] alan-agius4 commented on #10468
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-06 12:45] #10468 closed

[2018-12-06 13:55] hijazikaram commented on #10622
i was getting Unexpected token < in JSON at position 0 when trying to upgrade

[2018-12-06 14:11] alan-agius4 commented on #10579
Closing as per comment above.

[2018-12-06 14:11] #10579 closed

[2018-12-06 15:08] divdavem commented on #6286
@edvlucas Thank you for your working solution.

For info, I have opened PR #13131 to simplify the instrumentation of files, so that it is possible to use `--code-coverage` and `--code-coverage-exclude` with `ng build` `ng serve` or `ng e2e`.
This only instruments files as part of the build done by `ng`.

To get a coverage report, it is then still necessary to record the coverage, for example with

[2018-12-06 15:23] alan-agius4 commented on #12853
@gkalpak, I totally agree!

My point was that when baseHref is a file it is not being set properly not only in service worker, but applies to a lot of other user cases. Such as lazy loading, absolute css resources etc...

So setting the baseHref to a file at the moment will break not only the service worker but other functionality (depending on what functionality you are using).

[2018-12-06 16:21] fouadchamoun commented on #9900
I'm still having this problem on the latest version. And my bundles don't have '.bundle' or '.chunk' parts in their name anymore.

[2018-12-06 16:21] Superman2971 commented on #13095
Not sure if this will help anyone else, but I was running the following to no avail:
`ng update --all --force`
`npm install typescript@">=3.1.1 <3.2"`

I needed to add `RUN npm install typescript@">=3.1.1 <3.2"` to my Dockerfile just after it completed an npm install of my package.json. Not sure if anyone else needs this pointed out, but wanted to mention in case it helps anyone else. Cheers!

[2018-12-06 16:32] alan-agius4 commented on #8357
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-06 16:32] #8357 closed

[2018-12-06 16:41] Aphax opened #13142 "ng serve error when loading a lazy module that holds itself lazy routed submodules"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
node --version
v8.11.3

npm --version
5.6.0

ng --version

Angular CLI: 6.2.7
Node: 8.11.3
OS: win32 x64
Angular: 6.1.10
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, platform-server, router

Packag

[2018-12-06 16:48] RidhwanDev commented on #13102
Hi, How can i downgrade @ngTools to 7.0.7?

Thanks

[2018-12-06 16:52] Aphax opened #13143 "Can't have nested lazy routed modules from a library"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
$ node --version
v8.11.3

$ npm --version
5.6.0

Angular CLI: 6.2.7
Node: 8.11.3
OS: win32 x64
Angular: 6.1.10
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, platform-server, router

Package

[2018-12-06 17:00] Aphax commented on #13142
Sorry duplicate with #13143 (github bug 404 error when publishing this issue, thought it was lost)

[2018-12-06 17:00] #13142 closed

[2018-12-06 17:53] alan-agius4 commented on #6302
This issue is now obsolete due to changes in the recent releases.  Eject is no longer supported.

[2018-12-06 17:53] #6302 closed

[2018-12-06 18:15] sod commented on #13102
‘npm i @ngtools/webpack@7.0‘

[2018-12-06 18:16] AnthonNilsson commented on #13097
Looks like maybe the tree-shaking was removing some parts of the code related to adding basic projections for the coordinate systems.

By adding the import:
`import { addCommon as addCommonProjections } from 'ol/proj';`

and running the function
`addCommonProjections();`

the testproject started to work.

I'm still not sure though if this problem is an angular one or openlayers. If you do not feel

[2018-12-06 18:41] clydin commented on #13097
This is an issue with openlayers' use of the `sideEffects` option within its `package.json`.  See this issue in its repository: https://github.com/openlayers/openlayers/issues/8815.  And also my associated comment here: https://github.com/angular/angular-cli/issues/12760#issuecomment-436612737

[2018-12-06 18:41] #13097 closed

[2018-12-06 18:43] vikerman commented on #12921
Hello - Sorry for the confusion. Dug to the bottom of it.

The thing needed to make Lazy routes work on the server is the ModuleMapLoader - In the starter it is included here -  https://github.com/angular/universal-starter/blob/master/src/app/app.server.module.ts#L14

Without this the SystemJSLoader is used and that blows up on the server.

Please add this line manually for now in your app.server.

[2018-12-06 18:45] CleverMobile2811 commented on #5113
Hello, i've checked the above comment carefully.
Here's a problem facing now.
Angular 6 production deployment into google app engine.
-- app.yaml --
runtime: python27
api_version: 1
threadsafe: true
handlers:
- url: /
  static_files: dist/index.html
  upload: dist/index.html
- url: /
  static_dir: dist
[code]

[2018-12-06 18:48] thedewpoint opened #13144 "Possible to build server module without AOT?"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

### Repro steps

### The log given by the failure

### Desired functionality

I would like to disable AOT for angular universal / server side rendering. It seems that although this works client side, when I build server side it will not bundle the angular compiler. Is there a way to do

[2018-12-06 18:58] clydin commented on #4288
Closing as Angular CLI 6.0+ supports a far reach configuration file format that allows for the customizations described above.

[2018-12-06 18:58] #4288 closed

[2018-12-06 19:04] clydin commented on #6204
This is more advanced code splitting is now supported with Angular CLI 6.0+.

[2018-12-06 19:04] #6204 closed

[2018-12-06 19:06] clydin commented on #6243
With the advent of `ng add` and material's usage to automatically add animations as needed, the method described herein is not something the team is looking at supporting within the CLI itself.

[2018-12-06 19:06] #6243 closed

[2018-12-06 19:11] clydin commented on #6382
Closing as it is intended that all files configured via the application's `tsconfig` are compiled.  This also mimics `tsc` behavior.

[2018-12-06 19:11] #6382 closed

[2018-12-06 19:14] clydin commented on #6718
Closing as the current behavior is intended and supported by Angular's list of officially supported browser versions.

[2018-12-06 19:14] #6718 closed

[2018-12-06 19:17] clydin commented on #7289
This seems like a problem with node/npm and not with Angular CLI.

Please have a look at the [fixing npm permissions page](https://docs.npmjs.com/getting-started/fixing-npm-permissions), [common errors page](https://docs.npmjs.com/troubleshooting/common-errors), [npm issue tracker](https://github.com/npm/npm/issues), or open a new issue in that issue tracker if the problem you are experiencing isn

[2018-12-06 19:17] #7289 closed

[2018-12-06 19:21] #10657 closed

[2018-12-06 19:33] mfp22 commented on #6204
@clydin That's amazing! I wasn't aware of this! Do you know if this new capability is documented somewhere?

[2018-12-06 19:35] alan-agius4 commented on #13111
Fixed via https://github.com/angular/angular-cli/pull/12673

[2018-12-06 19:35] #13111 closed

[2018-12-06 19:50] #13138 closed

[2018-12-06 20:33] D2KX commented on #12921
@vikerman

I think most of us have set up ModuleMapLoaderModule, and this is kind of the problem, as the lazy module map is only getting provided in the server.ts for SSR, which is not accessible to the App-Shell during the build of the project, hence this issue.

[2018-12-06 20:54] vikerman commented on #12921
@D2KX

The AppShell uses `app.server.module.ts` right? The `ModuleMapLoaderModule` needs to go in there.

[2018-12-06 20:56] vikerman commented on #12921
Ah - That doesn't load the MODULE_MAP though. Will see how this was ever working before.

[2018-12-06 21:19] TheeRFG opened #13145 "*.bundle.js files no longer being generated, only *.js files instead"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

`node --version: v8.9.3`
`npm --version: 5.5.1`
[code]

### Repro steps

trying to run `ng build --configuration=dev` no longer builds `main.bundle.js`, `vendor.bundle.js`, etc and instead builds `main.js`, `vendor.js` etc.
This was not the case in 7.0.3 and seems new to 7.1.0 I am cur

[2018-12-06 21:31] JohannesRudolph commented on #6204
Yes we noticed the same thing after upgrading. All of a sudden we had like
15 bundles more than before. Very cool stuff :-)

Mike Pearson <notifications@github.com> schrieb am Do. 6. Dez. 2018 um
20:34:

[2018-12-06 23:08] marcj commented on #5618
Or just use `export NODE_OPTIONS=--max_old_space_size=4096` which should fix it as well.

[2018-12-07 00:01] clydin commented on #6204
@mfp22 I wrote up a description of the new behavior in this comment: https://github.com/angular/angular-cli/issues/10364#issuecomment-382040140

[2018-12-07 06:05] mbeckenbach commented on #9343
What Jason Aden talked about could also allow to bring something like a plugin system into your apps. A feature, that we have been waiting for a long time.

[2018-12-07 06:42] alan-agius4 commented on #11005
Fixed via https://github.com/angular/angular-cli/commit/5571d094e5db4062c551fb2a98758c26392ffb43

[2018-12-07 06:42] #11005 closed

[2018-12-07 08:06] laflaneuse commented on #5613
+1

[2018-12-07 08:36] willi84 opened #13148 "Command: ng coc OR ng diversity --coc"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Desired functionality

A possibility to print out our current community code of conduct or ressources about diversity & community inside the command line

### Mention any other details that might be useful

[2018-12-07 08:45] benohead opened #13149 "Expected 'styles' to be an array of strings."
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

Angular CLI: 7.1.2
Node: 10.13.0
NPM: 6.4.1
OS: Windows 10 x64
Angular: 7.1.2

### Repro steps

ng new my-app --routing --style SCSS
cd my-app
ng serve

Open http://localhost:4200/ in Chrome

### The log given by the failure

This error is logged on the browser console:

[code]

### De

[2018-12-07 08:57] benohead commented on #13149
Using CSS instead of SCSS leads to the same results.

Also adding any rule to a CSS or SCSS file leads to the error:

[code]

or:

[code]

[2018-12-07 09:14] stephengardner commented on #3869
I'm not sure what closing the issue is about but if you have **HMR** enabled on an Angular application with **Lazy-loaded** modules and you edit CSS, then the page will **refresh**.  Perhaps this deserves a separate issue?

[2018-12-07 09:16] stephengardner commented on #6381
I would PayPal another hundred bucks.  So make that $200 from @mbritton and I.  I'll give it 30 days.

[2018-12-07 09:34] alan-agius4 commented on #13149
Hi thanks for reporting this. extensions should be in lower case.

[2018-12-07 10:55] benohead commented on #13149
@alan-agius4 yes, you're right. After renaming the SCSS/CSS files to lowercase, the generated application works !

[2018-12-07 11:02] alan-agius4 commented on #10766
CLI commands are not on Angular.io

https://angular.io/cli

[2018-12-07 11:02] #10766 closed

[2018-12-07 11:33] alan-agius4 commented on #12517
Duplicate of https://github.com/angular/angular-cli/issues/12354

[2018-12-07 11:33] #12517 closed

[2018-12-07 11:35] alan-agius4 commented on #10382
Closing this in favor of the actual issue https://github.com/angular/angular-cli/issues/8616

[2018-12-07 11:35] alan-agius4 commented on #10295
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular-cli/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem persists, please file a new issue and

[2018-12-07 11:35] #10295 closed

[2018-12-07 11:35] alan-agius4 commented on #10062
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular-cli/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem persists, please file a new issue and

[2018-12-07 11:35] #10062 closed

[2018-12-07 11:38] alan-agius4 commented on #10262
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

Angular 7 now resolves extended config

[2018-12-07 11:38] #10262 closed

[2018-12-07 11:39] alan-agius4 commented on #9580
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular-cli`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.

[2018-12-07 11:39] #9580 closed

[2018-12-07 11:41] alan-agius4 commented on #9825
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version. As this should have been also addressed in https://github.com/angular/angular-cli/pull/12418

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference betwee

[2018-12-07 11:42] elvirdolic commented on #13087
We have the same issue, from fromerly about 5-10s to now 15-30s

I don't know which version introduced this exactly. I think @angular/cli 7.1*

[2018-12-07 11:44] alan-agius4 commented on #9024
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-07 11:44] #9024 closed

[2018-12-07 11:46] alan-agius4 commented on #11211
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular-cli`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.

[2018-12-07 11:46] #11211 closed

[2018-12-07 11:49] alan-agius4 commented on #10759
_
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior._

[2018-12-07 11:49] #10759 closed

[2018-12-07 12:09] alan-agius4 commented on #10571
This should have been fixed by https://github.com/angular/angular-cli/pull/13025

[2018-12-07 12:09] #10571 closed

[2018-12-07 12:09] alan-agius4 commented on #10624
This should have been fixed by https://github.com/angular/angular-cli/pull/13025

[2018-12-07 12:20] Albyzai commented on #10624
@alan-agius4 I am running 7.1.2 and I still have this problem with a private repo.

[2018-12-07 12:35] alan-agius4 commented on #13145
Hi, the `.bundle` has been dropped since version `6.0.0`.

The suffixes didn’t provide any real value and where only there because the default webpack config originally used happen to have them (along with a collection of other arbitrary config options). Their only function was to make the file names longer and add confusion as to the difference between a bundle and chunk. The new chunk splitting

[2018-12-07 12:35] #13145 closed

[2018-12-07 12:41] alan-agius4 commented on #13087
Hi all, one of the performance regression was fixed in 7.1.1 with https://github.com/angular/angular-cli/pull/13133.

If the problem persists it would be great if you could provide a CPU profiling snapshot. You can see how to do this in https://github.com/angular/angular-cli/issues/13087#issuecomment-444165110

Thanks.

[2018-12-07 12:56] alan-agius4 commented on #10624
@Albyzai can you kindly do `ng --version` you should have `@schematics/update` version `0.11.2`

[2018-12-07 12:58] alan-agius4 commented on #10624
@Albyzai can you kindly try to use the `next` version? Note that you should also update @angular/devkit packages

[2018-12-07 12:59] Albyzai commented on #10624
@alan-agius4

This is my output:

[code]

[2018-12-07 13:01] alan-agius4 commented on #10624
@Albyzai, can you try to use  `@angular/cli@next` and see if the problem persists?

[2018-12-07 13:01] scipper commented on #6873
I've found some kind of hacky solution. Injection all dependencies was not very nice, as our application uses the ngInject annotation in 605 places.

So I added the ngAnnotation loader to the plugin list of the webpack config of @angular-devkit.

First: my current versions:
"@angular-devkit/build-angular": "~0.11.0",
"@angular/cli": "~7.1.1",
"@angular/compiler-cli": "~7.1.0",
"@angular/language-s

[2018-12-07 13:05] Albyzai commented on #10624
@alan-agius4

[code]

Problem still persists.

[2018-12-07 14:55] igorivaniuk commented on #13087
## "@angular-devkit/build-angular": "0.11.2",

[code]

## "@angular-devkit/build-angular": "0.10.7",

[code]

[2018-12-07 15:03] igorivaniuk commented on #13087
## Short version profiling "@angular-devkit/build-angular": "0.11.2",

[code]

[2018-12-07 16:40] daniel-seitz commented on #10624
btw. is this going to be released into ^6.x.x?

There are quite some repos still out there on versions before 6 and the angular-team behind https://update.angular.io doesn't recommend to move across multiple major versions.

Hence it would be great to get it into 6 as well.

[2018-12-07 17:14] catull commented on #10624
It works for me, since 7.1.1.

@Albyzai Care to show us your .npmrc, mask out the spicy bits.

[2018-12-07 17:57] Ksan8 commented on #11694
We also use Yarn exclusively in our repos, and I would be delighted if we could simply run `ng update` whenever we felt the need. Thanks in advance for tackling this.

[2018-12-07 18:09] clydin commented on #11694
`ng update` currently supports yarn usage within the repository.  The latest version also supports yarn without npm being installed on the system.
Manually configuring the preferred package manager is also no longer necessary in most cases.  The CLI will detect the presence of a `yarn.lock` file and prefer yarn if installed; assuming there is also not an npm (or soon pnpm) lock file also present.

[2018-12-07 18:39] PankajPatel007 commented on #11568
It also worked for me.
Thanks @sukheja-varun.
npm cache clean --force

[2018-12-07 19:02] Maxim-Mazurok commented on #2034
In my case, restarting `ng serve` helped. I had only one `export` in my ts file

[2018-12-07 19:17] Albyzai commented on #10624
@catull

Will do on Monday, got it on my work PC.

[2018-12-07 20:02] TamerHussien commented on #6825
You should install this package first
npm install -g angular-cli-ghpages

[2018-12-08 00:16] Albejr commented on #11435
In my case (Angular 7):

angular.json
[code]

styles.scss
`@import "assets/css/variables.scss";`

[2018-12-08 00:20] Albejr commented on #2273
In my case (Angular 7):

angular.json
[code]

styles.scss
`@import "assets/css/variables.scss";`

[2018-12-08 02:11] vsanandan commented on #12690
After trying all these things, I get the following error for the command
ng new getrequest --version=7.1.2

Tree type is not supported.

I am trying the above command on CLI.

[2018-12-08 05:45] no-more commented on #7627
Hello,

I couldn't find docs about "defaults" configuration, thanks to an example I know it's possible to configure a default value with argv, but that's all. I don't know if it's possible, for example, to define a default value based on another parameter.
There should be a section about defaults in the documentation please.

Thanks.

[2018-12-08 06:40] ORESoftware opened #13151 "ng build --prod > to_single_file"
This is a feature request - I know it's been asked before. In some cases, it really helps for simplicity to have one output file - html, js and css bundled into one.

Is there some cli option we can use to output to a single file? I swear with Angular-CLI version 5, this was possible.

[2018-12-08 09:01] ORESoftware commented on #13151
Right now, in lieu of this feature, I have this script:

[code]

it takes dist/index.html and transforms it to dist/index-final.html, replacing the relative filepaths to www urls.

But I imagine quite a few people would want this feature and implementing the functionality yourself is a little rough.

[2018-12-08 09:50] ORESoftware commented on #13151
Ok so my answer above was answered by:
https://blog.chai-jay.com/angular-2-use-cdn-path-angular-cli-generated-index-html/

we can do:

[code]

but I am still curious about how to concat into a single file, so will leave the issue open...

[2018-12-08 11:10] KgotsoK commented on #12756
I wasted days! Goodness, thanks for this.

[2018-12-08 13:34] zetsu01 commented on #2850
He working

[2018-12-08 13:55] alan-agius4 commented on #13151
Hi, there is no such feature to concatenate files into a single one.

Can you explain why you would want to do something like this? While the might have been a recommended approach with HTTP1, with HTTP2 one should levarge the advantages of multiplexing of requests.

[2018-12-08 14:02] #13151 closed

[2018-12-08 17:02] kaushiksontakke opened #13153 "ng new fails with "package install failed" due to npm ERR! Unexpected end of JSON input while parsing near '...imple-git":"^1.65.0",'"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
Angular CLI: 7.0.6
Node: 8.12.0
OS: win32 x64
Angular:
...

Package                      Version
------------------------------------------------------
@angular-devkit/architect    0.10.6
@angular-devkit/core         7.0.6
@angular-devkit/schematics   7.0.6
@schematics/angular

[2018-12-08 17:36] SudhirKaushik commented on #4895
The problem is totally different Angular CLI workspace configuration scheme.

 For angular-cli 1.7.2 I had `.angular-cli.json` but for latest version like angular-cli 7, it is `angular.json` which can be found here : https://github.com/angular/angular-cli/wiki/angular-workspace

My suggestion, create a new project with angular-cli 7, and copy its angular.json to your project and run `npm install`

[2018-12-08 22:37] prabh-62 commented on #13153
If `npx` command is available on your system, maybe you can try

[code]

[2018-12-08 23:02] prabh-62 opened #13154 "ng test: Debug with VS Code (Unverified Breakpoint)"
### Bug Report or Feature Request (mark with an `x`)
[code]
There are similar bugs logged however most of them are outdated(2017) and have been closed

### Command (mark with an `x`)
[code]

### Versions
[code]
Angular CLI: 7.1.2
Node: 11.3.0
Yarn: 1.12.3
OS: darwin x64 (Mojave 10.14.1)
Angular: 7.1.2

### Repro steps
[code]
- Launch VS Code and configure tests for debugging (Refer: https://github

[2018-12-09 00:53] hudzenko commented on #6110
Hey Guys,

Just fixed this stuff for myself and want to update you with my experience as it can be very helpful..

To make Angular 6.0.0 run for IE9:
- In /src/polyfills.ts you should uncomment (and install):
`
import 'core-js/es6/reflect';
import 'web-animations-js';  // Run `npm install --save web-animations-js`.
`
Note uncommenting `// import 'web-animations-js';` caused for me strange errors,

[2018-12-09 03:19] mblackritter commented on #9343
@mbeckenbach, totally agree, same here! I'd this request last year for a client project and was surprised (and then devastated) about how practically impossible it was to implement back then and the fact it seemed to never have been on the radar of Angular's development.

So this is definitely good news. 🤩😊

[2018-12-09 05:08] nik2code commented on #11573
I am facing the same issue
reinstall latest node and angular
npm set registry https://registry.npmjs.org/
npm cache clean --force
npm cache verify
npm install

![err](https://user-images.githubusercontent.com/17030925/49693631-7cae4380-fb9e-11e8-9413-15093c41e7a6.png)

[2018-12-09 05:41] kaushiksontakke commented on #13153
@prabh-62 , thanks for response.
with npx command, I was able to create angular project successfully however when doing npm install from demo-app gives me same error

Also tried with --skip-git but no luck

[2018-12-09 07:54] mbeckenbach commented on #9343
@mblackritter
did you find a workarround for that feature?

We're thinking about using the library feature from nx workspace which supports libs that provide a lazy loading routing module. It should work for the moment but is not optimal as we need to recomile everytime we want to add a new plugin.

An alternative that we are thinking about is using angular elements to load our plugins into an exi

[2018-12-09 08:36] alan-agius4 commented on #13139
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular-cli`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.

[2018-12-09 08:36] #13139 closed

[2018-12-09 08:39] webuilderkrish commented on #8572
nothing is working from above showing same error

[2018-12-09 08:40] webuilderkrish commented on #8572
all above solutions are not working for me

[2018-12-09 09:22] dnyg opened #13155 "Large inaccuracy of recompilation timings using ng serve"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
Node: v11.4.0
npm: 6.4.1
ng: 7.1.2

OS: Linux Debian 9 x64

### Repro steps

I ran `ng serve --verbose` on my rather large project in an attempt to profile the recompilation time (which I thought was quite long) and the timings for the first recompilation (after making a minor change) d

[2018-12-09 12:11] prabh-62 commented on #13153
Try
[code]
Instead of npm install. You may need to download yarn package manager from internet

[2018-12-09 14:48] Hyperion101010 commented on #10619
that is a very nasty bug , better do some workaround
i wasted a lot of time  figuring out that what was the case
at last i have to come to this page and see for myself what all things are allowed .
but good to go now :)

[2018-12-09 15:06] zbennett10 commented on #12678
This would be ridiculously awesome. I am writing a small book on schematics and was saddened to see that this feature is not supported!

[2018-12-10 01:33] girishuppal opened #13157 "ng serve throwing error - ERROR in Could not resolve module /C/ i ｢wdm｣: Failed to compile."
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

node version v8.11.3
npm version 6.4.1

### Repro steps

https://github.com/DeborahK/Angular-GettingStarted

Run the project in VS code (folder APM-Start)

### The log given by the failure

ng serve -o

** Angular Live Development Server is listening on localhost:4200, open your browse

[2018-12-10 06:16] naumanahmad17 opened #13158 "lazy loading not working in Angular 4"
I'm getting this error when try to navigate to 'http://localhost:4200/dashboard' lazy loading route in angualr, angualr-cli 4.1.0

Error: Cannot find 'DashboardModule' in './dashboard/dashboard.module'
    at checkNotEmpty (core.es5.js:5939)
    at core.es5.js:5901
    at ZoneDelegate.invoke (zone.js:391)
    at Object.onInvoke (core.es5.js:4149)
    at ZoneDelegate.invoke (zone.js:390)
    at Zon

[2018-12-10 06:38] mevlts commented on #9646
I have getting same problem now.

[2018-12-10 06:45] kaushiksontakke commented on #13153
it seems to be working with yarn. but then I will have always have to do two step.
1. ng new demo-app --skip-install
2. yarn install

:(

[2018-12-10 06:47] #13158 closed

[2018-12-10 06:48] alan-agius4 commented on #13158
Not following template

[2018-12-10 06:56] #13153 closed

[2018-12-10 07:40] muthufmass commented on #6795
angular universal is too slow to build, takes more than 20-30 mins to build and its not smooth to build and release. cant it be simplified ? I do the client build , then it does a server build, then again it will do a webpack to package a server.js which goes with all plugins that we add up , close to 24-30 mb single file. definitely needs a simplified way or fast build flow.

[2018-12-10 07:44] jatinderkumargupta commented on #5618
@marcj this solution worked for me.

I set NODE_OPTIONS for windows with following command:
`set NODE_OPTIONS=--max_old_space_size=4096`

Installing increase-memory-limit, did not work for me on windows. I have not tried on linux/ubuntu or other OS.

[2018-12-10 08:05] alan-agius4 commented on #13154
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular-cli`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.

[2018-12-10 08:40] narain96 commented on #1610
This solved the issue on my Angular 7 project. Thank you @sergiyvoytovych

[2018-12-10 08:41] itboygr commented on #10036
@FabioParigi  Thank You!!!!! :D :D :D

[2018-12-10 08:44] FabioParigi commented on #10036
@itboygr
It's a pleasure, you are welcome

[2018-12-10 09:10] HarelM commented on #5618
@jatinderkumargupta Please note that it's not enough to install `increase-memory-limit`, you need to run it also after npm installation of all packages has completed. I'm using windows and it worked for me.

[2018-12-10 09:13] alan-agius4 commented on #11202
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-10 09:13] #11202 closed

[2018-12-10 09:17] HarelM commented on #11202
Does this mean this issue is solved in 7.1.2?

[2018-12-10 09:50] alan-agius4 commented on #5266
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-10 09:50] #5266 closed

[2018-12-10 10:12] daniel-seitz commented on #10624
With @next We get the message ´request to https://registry.npmjs.org/@types%2fjasmine failed, reason: connect ETIMEDOUT´

It seems that ´ng update @angular/cli´ ignores the proxy since it should go to the proxy or https-proxy instead of npmjs.org.

Should the command be ´ng update @angular/cli@next´? (Results in same error message)

[2018-12-10 10:20] djleonskennedy commented on #13087
@alan-agius4 I've updated to 0.11.2

i've started with
`npm run proxy && ng serve --source-map=false --vendorSourceMap=false --verbose --no-progress --proxy-config proxy.conf.dev.json`

then i just added `debugger` to constructor in random component

and get 90 sec recompile with next log

log file: https://dropmefiles.com/yxp7B

[2018-12-10 10:50] mac10046 opened #13160 "Can't create a ng new project - using angular/cli 7.1.2"
I am getting error when I try creating a new project using the cli - I am using the latest 7.1.2 version and the here's stacktrace.

[code]

here ng version details:
[code]

and here the npm details on doing npm version
[code]

[2018-12-10 11:07] JCWolf commented on #10703
Did anyone encountered `ChromeHeadless have not captured in 60000 ms, killing` when running from WebStorm/PHPStorm 2018.3? It works fine when I run `ng test` in my terminal but when creating a run configuration inside the IDE it doesn't work.

[2018-12-10 11:08] igorivaniuk commented on #13087
@alan-agius4 here full log https://dropmefiles.com/l1H1Y

[2018-12-10 11:31] DmitriyIvanko commented on #7624
When I use this one: http://prntscr.com/lt11a8
Problem has been solved

[2018-12-10 11:44] house-md opened #13161 "ng serve crashes after second save angular-cli v6.2.8"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
NPM: 6.4.1
Angular CLI: 6.2.8
Node: 11.3.0
OS: win32 x64
Angular: 6.1.10
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router

Package                           Version
-----------------------------

[2018-12-10 11:52] alan-agius4 commented on #13160
This seems like a problem with your node/npm and not with Angular CLI.

Please have a look at the fixing [npm permissions page](https://docs.npmjs.com/getting-started/fixing-npm-permissions), [common errors page](https://docs.npmjs.com/troubleshooting/common-errors), [npm issue tracker](https://github.com/npm/npm/issues), or open a new issue in that issue tracker if the problem you are experiencin

[2018-12-10 11:52] #13160 closed

[2018-12-10 11:55] alan-agius4 commented on #13161
Thanks for reporting this issue. This issue might be obsolete due to changes in the recent releases Version 6 is currently in LTS. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-10 11:55] #13161 closed

[2018-12-10 12:13] jatinderkumargupta commented on #5618
Thanks @HarelM, I run that like you mentioned, but it did not work for me. May be some other problem then.

[2018-12-10 12:34] djleonskennedy commented on #13087
@alan-agius4 Also the longest part
when compiling is finished, dev servers show this

[code]

Why is it so long ? I guess it should no be recompiled each time

[2018-12-10 13:00] alan-agius4 commented on #6291
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-10 13:00] #6291 closed

[2018-12-10 13:08] alan-agius4 commented on #6385
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-10 13:08] #6385 closed

[2018-12-10 13:13] alan-agius4 commented on #6525
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-10 13:13] #6525 closed

[2018-12-10 13:53] tanzeelrana commented on #13139
https://stackoverflow.com/questions/53642560/ng-update-not-running-migration-json-schematic#

[2018-12-10 14:56] toupeira commented on #13100
@alan-agius4 thanks! :+1:

Sure, that's fine by me since tslint will error out when an extended file can't be found.

But generally, wouldn't it be better if `ng new` just generated a minimal `tslint.json` which extends the configuration from one of the Angular packages? Sounds more maintainable to me ;-)

[2018-12-10 15:04] catull commented on #10624
@alex88 @daniel-seitz
You two are aware that we cannot help you if you do not describe your situation adequately enough.

For starters, post your .npmrc.
Mention if you have an .npmrc in your home directory and/or in your project root folder.

Mask out the portions you DO NOT want us to know, like internal host names or credentials etc.
Just give enough pieces of information.

[2018-12-10 15:17] kszalai opened #13162 "ng serve/build error when lazy loading modules starting from preloaded modules"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

### Repro steps

### The log given by the failure

### Desired functionality

### Mention any other details that might be useful

[2018-12-10 15:23] #13162 closed

[2018-12-10 16:01] youkouleley commented on #6302
Which commit closes this?

[2018-12-10 16:09] tanzeelrana commented on #11021
did anyone find a solution to this ?

[2018-12-10 16:43] hwebb commented on #11021
I've finally managed to find where it came from for me.
it was the @angular/cdk that was not up to date, a `ng update @angular/cdk` was necessary

[2018-12-10 17:22] daniel-seitz commented on #10624
@catull thanks for clarifying. I thought we're on the same page already.

1. we use yarn.
2. local .npmrc:
   `registry=[some url, masked out]
   always-auth=true`
3. yarn lock contains packages where I see some as resolved with [some url, masked out]
   also there are packages with `https://registry.yarnpkg.com/some-package-and-so-on`
4. global .yarnrc (in C:\Users\MyUserName):
`# THIS IS AN AUTO

[2018-12-10 17:33] cport1 commented on #10703
When you go to Run/Debug Configurations, make sure the Config file is set to your src/karma.conf.js and your Karma Package is pointed at  your node_modules/@angular/cli ...

[2018-12-10 17:40] alex88 commented on #10624
@catull well `.npmrc` isn't used when having a git dependency. it's just a line like this:

[code]

in the `package.json`. So package repo is involved.

[2018-12-10 17:41] TheeRFG opened #13163 "Lazy loading only uses absolute routes"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

Node: 8.9.3
NPM: 5.5.1
NG:
[code]

### Repro steps

I have this in my base `tsconfig.json` file
[code]
I have this in my `tsconfig.app.json`
[code]
My modules are lazy loaded like this:
[code]
Where projects.routing module looks like this:
[code]
My `angular.json` build configuration f

[2018-12-10 18:21] alan-agius4 commented on #13163
This seems like a bug but we'll need to look at a reproduction to find and fix the problem. Can you setup a minimal repro please?

You can read [here](https://github.com/angular/angular-cli/blob/master/CONTRIBUTING.md#-submitting-an-issue) why this is needed. A good way to make a minimal repro is to create a new app via `ng new repro-app` and adding the minimum possible code to show the problem. T

[2018-12-10 18:49] luckylooke commented on #3837
@seabass223 maybe this is the correct docs for CompilerOptions --> https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping

[2018-12-10 18:55] alan-agius4 commented on #5651
I'm sorry, but we can't reproduce the problem following the instructions you provided.
Remember that we have a large number of issues to resolve, and have only a limited amount of time to reproduce your issue.
Short, explicit instructions make it much more likely we'll be able to reproduce the problem so we can fix it.

If the problem persists, please open a new issue following [our submission gui

[2018-12-10 18:55] #5651 closed

[2018-12-10 18:58] alan-agius4 commented on #5634
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-10 18:58] #5634 closed

[2018-12-10 19:14] TheeRFG commented on #13163
I have recreated a minimal example of our angular configuration for how we are lazy loading in our application for a single module [here](https://github.com/TheeRFG/NG7-Lazy-Loading-Urls).

I cannot provide an exact replication of our server configuration, but we are using embedded tomcat. Angular files are bootstrapped onto our server's `index.html` as follows
[code]
This will get the app itself

[2018-12-10 19:23] clydin commented on #13163
The application appears to have been build properly.  This is not an issue with tsconfig but rather the deployment setup.
A web browser will use the base HREF of the page to find relative URLs (within JS and HTML).  The URL of the lazy route is `4.js` so the web browser takes the base HREF of `/` (assuming the default) and tries to request `/4.js` (which is `http://localhost/4.js` if running on lo

[2018-12-10 19:39] TheeRFG commented on #13163
With ng5 this has worked before without needing the base set in index. I thought the purpose of having the options available in ts was so that you didn't have to set it in html.

Also it seems counter to that point that this was working in previous versions of angular, but I'm willing to admit I know literally almost nothing.

[2018-12-10 19:49] oudarjya718 opened #13164 "ERROR WHILE CREATING NEW APP BY 'ng new'"
![image](https://user-images.githubusercontent.com/36289901/49757558-b1c3ae80-fce2-11e8-8883-5096dca83844.png)

`npm ERR! code EAI_AGAIN
npm ERR! errno EAI_AGAIN
npm ERR! request to https://registry.npmjs.org/debug/-/debug-3.2.6.tgz failed, reason: getaddrinfo EAI_AGAIN registry.npmjs.org:443

npm ERR! A complete log of this run can be found in:
npm ERR!     /home/oudarjya718/.npm/_logs/2018-12-10

[2018-12-10 20:10] ranbuch commented on #12120
I think nothing will help your web-app to SEO better then server-side-rendering but that means ```angular-universal``` and maintaining a dedicated server (in additional to the application backend) witch can be expensive and can sure add a lot of work.

Maybe there's a way to use ```angular-firebase``` as a smart CDN instead of using the hole serverless approach. Just host the application there and

[2018-12-10 21:23] catull commented on #10624
@alex88

I can reproduce your behaviour, I think.

I have no `.npmrc` in my home directory - I renamed it to `.npmrc.old`,

I have created a brand-new angular app "foo", there is no `.npmrc` in that project folder.
In that folder, I can perform `ng upgrade`, no error is reported.

Then I added this dependency:
[code]

Now, when I perform `ng update`, the result is ....

[code]

This is pretty much

[2018-12-10 21:49] maenthoven commented on #12940
Where, exactly did you put "sourceMaps": "false" in this? I've tried a few different places in the tree with no luck.

[2018-12-10 22:09] catull commented on #10624
@daniel-seitz

Your situation is that you do not get a proxy'd connection, it times out.
Are you certain you have the correct port configuration, that it is not blocked by a firewall ?

Perhaps that proxy may only be used for "normal" HTTP ("browser") requests ...

To address your point 7, each package is equally affected, there is no guarantee that the packages are processed top to bottom.

Imagi

[2018-12-10 22:32] alex88 commented on #10624
@catull probably it won't handle any other git repository right? Like gitlab/github/bitbucket/aws codecommit and many others...

[2018-12-10 22:39] catull commented on #10624
@alex88 Your repo URL ...

should it not be

"my-package": "git+ssh://git@gitlab.com:>>>>USERNAME/<<<<<<my-package.git#master"

Compare this to my example:

  "@streamlabs/obs-studio-node": "git+ssh://git@gitlab.com:>>>>>>computerquip/<<<<<<obs-studio-node#staging",

[2018-12-10 22:40] alex88 commented on #10624
@catull yes it's actually username/repo, I just wanted to remove also that part, sorry for the confusion

[2018-12-10 22:45] catull commented on #10624
No worries, just wanted to exclude another explanation ....

[2018-12-10 22:46] ryanbasnet commented on #10715
@Swellenator 's solution worked for me.

[2018-12-10 22:46] neilsoult commented on #7727
+ my whole dev team

[2018-12-10 22:55] catull commented on #10624
@alex88 Have you considered using _scoped_ package naming [1] ?

See, this is a snippet of my .npmrc:

@XXXXXXXXXX:registry=https://artifactory.YYYYYYYYYY:443/artifactory/api/npm/npm-virtual/

[code]

You could have

"my-package": "git+ssh://git@gitlab.com:@YOUR_SCOPE/my-package.git#master"

As long as the package is published with @YOUR_SCOPE - could be @YOUR_ORGANISATION.

It works for FontAweso

[2018-12-10 23:09] catull commented on #10624
@daniel-seitz

Perhaps you are right.

Assuming the http proxy config works for, say, the initial `npm install`.
If that is the case, your issue is that `ng update` ignores the proxy configuration.
Then I apologise, my analysis above would be incorrect.

However, it is a different case from the original posting.

I suggest you open a new issue with exactly the the title "`ng update` ignores proxy

[2018-12-10 23:12] sheecegardezi commented on #10619
underscore [ _ ] in name of the project also threw this error

[2018-12-10 23:17] alex88 commented on #10624
@catull haha for the side note 🤣
Sometimes I read it as awesome-awesome and sometimes if feels like a typo 😆

Anyway, that would involve having our own registry or paying for a private hosted on if I understand it correctly, I think that for now I'll just remove that dependency, upgrade to angular 7 and add it back 😄

Hate to do that but having our own means more maintenance/resources and the othe

[2018-12-10 23:46] catull commented on #10624
@alex88

On the scoped naming, the cost you incur is operating an NPM registry.

See open source alternatives below, "verdaccio" [1] and "bitsrc.io" [2].
I believe there are docker images for both of them.
At one point, "sinopia" was actively developed, but it has not been updated for more than 3 years.

Imagine this.

Let's just assume for a moment I like a certain library/package.

Let's say it

[2018-12-10 23:50] vimalans commented on #10643
@GeorgeKnap 's suggestion works!

[2018-12-10 23:58] alex88 commented on #10624
@catull thanks a lot for the long explanation, I'll keep in mind, surely it's better than fetching from git directly 😄

[2018-12-11 01:11] callen5914 commented on #9827
I followed the guidance you provided here and on my StackOverflow Question but it is still failing to compile.

[2018-12-11 02:12] anthony-telljohann opened #13165 "configure ng e2e to serve application with npm script"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

- node v11.4.0
- npm 6.4.1
- ng 7.2.0-beta.1
- macOS Mojave Version 10.14.1

### Desired functionality

As a developer, I would like to configure `ng e2e` to serve my application with my `npm run serve` script, so that I can configure it with dynamically with environment variables.

Co

[2018-12-11 02:56] WarrenWalker commented on #12215
![image](https://user-images.githubusercontent.com/17193429/49775417-0d328280-fd5d-11e8-8d7a-4e142a3d2910.png)

So instead of naming the new project in a single command, I just waiting to be prompted.

$ ng new

as seen in the screenshot.

[2018-12-11 05:48] PeerRoth commented on #2161
Thanks eric! This worked for me (High Sierra, late 2018).

[2018-12-11 08:37] daniel-seitz opened #13166 "ng update ignores proxy config"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

issue was partially discussed here (https://github.com/angular/angular-cli/issues/10624) after .npmrc issues and later (original issue solved) determined that there is a different issue.

1. **we use yarn with a private repo behind a corporate proxy.**
2. local .npmrc:
   `registry=[some url, masked

[2018-12-11 09:11] adrienlamotte commented on #9098
From what I can understand, Angular needs to be stable to load service worker, so you can use :

[code]

[2018-12-11 09:50] pszalanski commented on #11129
Thank you for the tip, @virgile-hogman, it sounded like a good idea. However, for our project it did not work. The only change that did help, was to remove all optimization, which resized our main bundle from 600 KB to 5 MB.

Angular version was updated today to `7.1.2`.

Does anyone have any other ideas?

[2018-12-11 09:55] AndriiDidkivsky commented on #13087
Same issue.
Any workarounds ?

[2018-12-11 10:02] JoseCMRocha commented on #11113
Any update on this feature?

[2018-12-11 10:59] alan-agius4 commented on #13165
Hi, can you kindly explain a bit further your use case? As you can have various E2E configs based on `configurations` option/flag.

[2018-12-11 11:29] Subhendu1990 opened #13169 "fileReplacements doesn't work with SCSS files in Angular 7.2"
_Originally posted by @Subhendu1990 in https://github.com/angular/angular-cli/issue_comments#issuecomment-446169572_

[2018-12-11 11:29] igorivaniuk commented on #13087
@AndriiDidkivsky downgrade `@angular-devkit/build-angular` to `0.10.7 `

[code]

[2018-12-11 11:31] JCWolf commented on #10703
@cport1 . I think I've setup all of theese. This is my IDE configuration:
![image](https://user-images.githubusercontent.com/4083652/49792231-e2cfcd80-fd3a-11e8-8278-1a2f40ada243.png)

And this is the output:
[code]

As you can see, even if I set my `karma.conf.js` it still uses the `config/plugins/js-karma/js_reporter/karma-intellij/lib/intellij.conf.js`, which is strange

[2018-12-11 11:40] alan-agius4 commented on #13163
Hi @TheeRFG,

Let me start by explain a bit `baseUrl` and `baseHref`. They are not related to each other, and they serve different purposes.

**baseUrl**
This is used during for build time and informs the compiler where to find modules during build time. All module imports with non-relative names are assumed to be relative to the baseUrl.

More information about path mappings can be found here: ht

[2018-12-11 11:40] #13169 closed

[2018-12-11 11:41] alan-agius4 commented on #13169
When opening issues kindly follow the template.

Thanks.

[2018-12-11 11:51] alan-agius4 commented on #13157
@girishuppal thanks for reporting this however I am unable to reproduce the issue with the project you provided.

![image](https://user-images.githubusercontent.com/17563226/49798751-5e357d00-fd43-11e8-8564-75ce4ecd0623.png)

[2018-12-11 11:59] gustavshf commented on #7727
+1

[2018-12-11 12:04] alan-agius4 commented on #13154
@prabh-62, I am unable to replicate your problem.
![image](https://user-images.githubusercontent.com/17563226/49799442-37784600-fd45-11e8-8ee2-9d587103b7ab.png)

Can you setup a minimal repro please?

You can read [here](https://github.com/angular/angular-cli/blob/master/CONTRIBUTING.md#-submitting-an-issue) why this is needed. A good way to make a minimal repro is to create a new app via `ng new

[2018-12-11 12:15] oudarjya718 opened #13170 "ERROR WHILE CREATING NEW APP BY 'ng new'"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

node version-v10.14.1, `npm version=6.4.1
ng --version-  7.1.2
  Windows (10). x64

### Repro steps
ng new app9

### The log given by the failure
 npm ERR! code EINTEGRITY
npm ERR! Verification failed while extracting @angular/compiler@~7.1.0:
npm ERR! Verification failed while extract

[2018-12-11 12:31] djleonskennedy commented on #13087
@igorivaniuk sure? have same issue with 0.10.6

[2018-12-11 12:49] atelljohannsmothers commented on #13165
When running end-to-end tests on our local servers in our saucelabs grid, we need to set the public host with the $HOSTNAME environment variable. Without it, requests cannot be routed to the local server. In addition, without using the $HOSTNAME environment variable, local development would require each developer to edit their npm scripts and hardcode their own $HOSTNAME. I believe this is not an

[2018-12-11 13:02] kumaresan-subramani opened #13171 "Universal server bundle is not working properly"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Versions
@angular/cli: 6.26.0
node: 8.11.3

### Repro steps
Follow these steps here:

[https://github.com/angular/angular-cli/wiki/stories-universal-rendering](https://github.com/angular/angular-cli/wiki/stories-universal-rendering)

Add Our control to the app.

Build a server bundle.

Test it and you will see the error below.

### T

[2018-12-11 13:05] therawk opened #13172 "Keep getting this error: Cannot read property 'kind' of undefined"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

Angular CLI: 7.1.2
Node: 8.11.4
OS: win32 x64
Angular: 7.1.2
... animations, cli, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router

Package                           Version
-----------------------------------

[2018-12-11 13:33] igorivaniuk commented on #13087
@djleonskennedy i use 0.10.7 for now, and all perfectly.
[code]

[code]

[2018-12-11 13:43] luckylooke commented on #8798
I have got same error but for another module down the route. Error occurs on building secondary app (generated via angular CLI command: ng generate application myApp) and this application uses [barrel import](https://basarat.gitbooks.io/typescript/docs/tips/barrel.html) somewhere in its structure. By replacing import with direct/deeper one I have removed the issue.

[2018-12-11 13:47] djleonskennedy commented on #13087
@igorivaniuk how big your project ?

[2018-12-11 14:05] catull commented on #13166
@alan-agius4
The same .npmrc is used to initially retrieve all dependencies listed in package.json w/ `npm install`.

Thus, the configuration is not the problem, such as firewall rule that causes a time-out.

[2018-12-11 14:08] djleonskennedy commented on #13172
@therawk have same @angular-devkit/build-angular 0.11.2, full recompile fixes it

[2018-12-11 14:17] igorivaniuk commented on #13087
@djleonskennedy small, about 20 components.

[2018-12-11 14:34] TroniPM commented on #2389
Same here (HTML changes automatically is rebuilded, TS changes nothing happens). I'm using Ubuntu 18.04. @chapultepec's answer works fine for me, but we SHOULD NOT have to do this... Thanks @chapultepec.

[code]

[2018-12-11 14:35] joshinator commented on #6389
Still facing the same problem, one year later.

It does not even work by the dirty official solution to include the script file in index.html and so on as described in https://developers.google.com/maps/documentation/javascript/places#find_place_from_query

[code]

[2018-12-11 15:03] alan-agius4 commented on #13171
Does this happen with the latest version of the CLI? (7.1.2), Also are you using the latest version of `@ngx-translate`?

Can you setup a minimal repro please?

You can read [here](https://github.com/angular/angular-cli/blob/master/CONTRIBUTING.md#-submitting-an-issue) why this is needed. A good way to make a minimal repro is to create a new app via `ng new repro-app` and adding the minimum possib

[2018-12-11 15:13] alan-agius4 commented on #13170
This seems like a problem with your node/npm and not with Angular CLI.

Please have a look at the fixing [npm permissions page](https://docs.npmjs.com/getting-started/fixing-npm-permissions), [common errors page](https://docs.npmjs.com/troubleshooting/common-errors), [npm issue tracker](https://github.com/npm/npm/issues), or open a new issue in that issue tracker if the problem you are experiencin

[2018-12-11 15:13] #13170 closed

[2018-12-11 15:48] FrozenPandaz opened #13173 "Tslint output is fully silenced for non human readable formats"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
- [x] lint
- [x] run

### Versions
All

### Repro steps
[code]

### The log given by the failure
Nothing :(

### Desired functionality
`[]`

### Mention any other details that might be useful

Reported in #tools-cli-discuss

[2018-12-11 15:59] TheeRFG commented on #13163
So it sounds like what you're saying is that this was broken before and that what I really want to set is a relative deploy URL (or the static matching path) to fix my issue?

[2018-12-11 15:59] clydin commented on #13166
@daniel-seitz If you are running the latest beta can you try running update with the `--verbose` option and report the output?

I'll also push a PR (and hopefully get it into beta.2) that will expand the verbose output to also include the final set of options to further aid in troubleshooting.

[2018-12-11 16:24] clydin commented on #13163
This would not have worked with any version of Angular unless the server deployment setup (configuration or file structure) or the deploy URL/base HREF/APP_BASE_HREF options were configured differently.  The CLI configuration file format did change radically for 6.0, so it is quite possible that certain settings were not migrated in the process (there were defects in the initial migration process

[2018-12-11 16:24] #13163 closed

[2018-12-11 16:26] TheeRFG commented on #13163
HAH! I can confirm that the old angular-cli.json does actually have a deployUrl set to the static location on the server where our files are located. This variable is no longer set in the project after the upgrade.

I believe while most of the configuration variables were auto-upgraded, the deployUrl was not. I know a few other people have had issues with this, so that may be the real underlying b

[2018-12-11 17:58] eixin commented on #6315
Would it be nice to have webpack 'limit' option which was handy to bundle everything less than 10k into CSS in previous versions of Angular CLI? If no, could please somebody be so kind to explain what was wrong with it (I see the comment in #12731 saying that it was by design to stop this bundling)?

[2018-12-11 19:55] #12784 closed

[2018-12-11 19:57] #12886 closed

[2018-12-11 20:43] alan-agius4 commented on #13172
We’d need a bit more to look into this for example a code snippet that is causing this error.

If you instrument the `checkSourceFile` function in `typescript.js` to print `node.path` on entry, you can at least check what file started the chain of operations that led to the crash. Typescript don’t have any builtin functionality for tracking checker crashes.

[2018-12-11 21:37] prabh-62 commented on #13154
Instead of creating a repro, I updated my whole project to latest CLI and angular packages. fiddled with chrome debug extension [trace](https://github.com/Microsoft/vscode-chrome-debug#other-optional-launch-config-fields) and eventually, breakpoints were in sync with the source code.

[2018-12-11 21:37] #13154 closed

[2018-12-11 22:16] marcobaccaro commented on #12928
if you delete the node_modules it works fine.

[2018-12-11 22:17] marcobaccaro commented on #12914
If you delete the node_modules folder it works fine.

[2018-12-11 22:21] DaSchTour commented on #10624
I really wonder why fontawesome pro works with 7.1.0 but fails with 7.1.1 and 7.1.2
It's a bit sad to see that newer version break again. I hope this can be finally fixed soon.

[2018-12-11 23:23] girishuppal commented on #13157
Can it be because of this ?
![image](https://user-images.githubusercontent.com/17232756/49836746-8da1c380-fdef-11e8-9243-0fd8c9eb060b.png)

[2018-12-12 01:32] ksurendra opened #13174 "Angular CLI version 1.6.8 does not show Angular version"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

ngular CLI: 1.6.8
Node: 10.5.0
OS: darwin x64

### Repro steps

1.  Install Angular CLI using command `npm install -g @angular/cli@6`
2. Run the commands `ng -v` or 'ng --version` or `ng version`

### The log given by the failure

### Desired functionality

`ng -v` shows Angular versio

[2018-12-12 02:49] stephengardner commented on #680
Update December 2018, this `tsconfig.app.json` works:
[code]

[2018-12-12 03:50] alepenchel commented on #2308
brew install angular-cli
working for me too.

[2018-12-12 05:15] kumaresan-subramani commented on #13171
**Reproducing steps:**

step 1:
    clone my repository [https://github.com/kumaresan-subramani/angular-universal-sample/tree/master](https://github.com/kumaresan-subramani/angular-universal-sample/tree/master)

step 2:
     run following commands

 **Finally you will see reported error in console window**

[2018-12-12 06:47] alan-agius4 commented on #13174
Hi, thanks for reporting this. However I am closing this issue as Angular CLI 1.X.X is no longer in LTS support. The current LTS version is 6.x.x.

Kindly update to a more recent version of the CLI.

Thanks

[2018-12-12 06:47] #13174 closed

[2018-12-12 06:57] kumaresan-subramani commented on #13171
Hi,

after running this command i will get server-side production build.
 if i run that build file using

command, sample running fine. I suspect that issue occurs because of server.ts

[2018-12-12 07:11] vikerman commented on #12921
Looked into it more. The app shell scenario works as expected because it actually overrides the route configuration to just render a ShellComponent that has nothing to do with lazy loaded routes.

The above problem with SSR and lazy routes exists which I am trying to fix by moving the module-map-ngfactory-loader to @angular/platform-server and insert it in app.server.module.ts.

Till then manually

[2018-12-12 09:13] therawk commented on #13172
@alan-agius4 Uh :|
To be honest I have no idea how to do that. I searched google but the only thing I found are actual error logs.
Would you mind telling me what I need to do? Sorry

[2018-12-12 09:15] vinothvkr commented on #12726
Guys facing same issue. Is there any workaround for this?

[2018-12-12 09:44] alan-agius4 commented on #13171
Hi,  I'm sorry, but this issue is not caused by Angular CLI. Please contact the author(s) of the @syncfusion project or file an issue on their issue tracker.

It seems that `@syncfusion` packages are not being bundled properly .  `module` and `main` are not specified in the `package.json` Ex: https://unpkg.com/@syncfusion/ej2-angular-grids@16.3.34/package.json. This is causing the ES5 version of t

[2018-12-12 09:44] #13171 closed

[2018-12-12 09:53] Fieel commented on #11138
Any news on this? I installed Typescript 3.1.6 as a workaround and have no problems.

[2018-12-12 09:56] elvirdolic commented on #13087
We have a big project (75k LoC), with     "@angular-devkit/build-angular": "~0.11.1", e have recompile time about 20s

with version   "@angular-devkit/build-angular": "^0.10.7" it's about 6s

[2018-12-12 10:34] kalpeshsatasiya commented on #9016
@adriangrabowski thanks, Its work for me !!

[2018-12-12 11:18] sqonde commented on #6373
[code]

Both workarounds worked for me:
https://github.com/angular/angular-cli/issues/6373#issuecomment-386625097  << preferred
https://github.com/angular/angular-cli/issues/6373#issuecomment-319116889

[2018-12-12 11:56] ruimarques commented on #11893
Note that I was playing with Angular elements like a monkey (and angular libs as a consequence) and got this error by importing stuff from the main app into the lib.

[2018-12-12 14:01] KrauseStefan commented on #12340
The status is still need more information is this still the case @alan-agius4 ?

[2018-12-12 14:03] gaotter commented on #6315
This would be a nice feature to able to have some control of how the paths and destinations where the different image files are copied. Or if it’s possible not move anything just change the relative domain paths to images etc in the generated css files. We are trying to upgrade our solution from Angular 6 to 7, but removal of inline svg is making a harder for us to move to Angular 7. The solution

[2018-12-12 14:12] brantxiong commented on #4517
Hi, @clydin I have encountered the similar problem, Please help.
angular-cli version:
[code]
#### My deploy situation:
My site have to be deployed on server A because of domain, so I put index.html ( generated file in
the dist folder) on server A. And I want to deploy all the static files on another CDN server B, and I put all the dist folder on Server B as a folder named like 111. I tried build m

[2018-12-12 14:35] alan-agius4 commented on #13172
@therawk

1. Open `node_modules/typescript/lib/typescript.js`
2. locate `function checkSourceFile`
3. Do a `console.log(node.path)`

Execute build/serve command.

[2018-12-12 14:55] JohnnyDevNull commented on #13059
Same problem here.

`C:\lvs\git\my-app [upgrade-core-libs-and-angular +0 ~4 -0 !]> ng update @angular/cli`

Result

`404 Not Found - GET https://registry.npmjs.org/@sk%2fsk-core - Not found`

Where private-pkg is a package stored in a ProGet repository.

ng update worked in the same scenario with angular-cli in Angular 6

[2018-12-12 15:00] gourav18 opened #13179 "angular installation"
ng command is not found as an internal external .
complete log of this can be found c/user/appdata/roaming

[2018-12-12 15:01] deebloo commented on #13179
@gourav18 please fill out the issue template. we can't help you without that information

[2018-12-12 15:23] BruneXX commented on #10994
Hi Guys, there's no nothing to do with this? those plugins like "NamedLazyChunksWebpackPlugin" are deprecated in new versions?

[2018-12-12 15:38] GuitarHero1969 opened #13180 "distribution folder marked as "ignored" in the solution"
I have an asp.net core 2.1 web api with the Angular SPA template used to created a ClientApp within the solution.

But in VS 2017 solution explorer, the dist folder under ClientApp is marked as ignore.
This doesn't look good, especially when I come to publish the project.

Angular version = 7.1.2
Incidentally, I'm not sure if this could be related to the issue, but I just created a new angular app

[2018-12-12 15:46] filipesilva commented on #12621
The line 6659 changes are part of how the AOT compiler changes some things around in the first few rebuilds.

I tried following the repro and can confirm that after the second rebuild, all rebuilds will show the error below:
[code]

Further rebuilds always showed this error, and even fiddling with the timing of `this.upgrade.bootstrap()` did not make it go away.

I'm not sure why this happens. But

[2018-12-12 15:54] Chklang commented on #10624
I've same problem. "ng update --all" doesn't works with 7.1.2 (and 7.1.0 also) with private registry configured into local ".npmrc". @angular/cli while try to found package on registry.npmjs.org:

404 Not Found - GET https://registry.npmjs.org/mypackage - Not found

But into .npmrc i've :
registry=https://privaterepo.mycompagnie.fr/npm/

[2018-12-12 15:57] Jatin-8898 commented on #13170
$ node -v
v10.14.2

$ npm -v
6.5.0

Windows 10 x64

$ ng new project
CREATE project/angular.json (3777 bytes)
CREATE project/package.json (1306 bytes)
CREATE project/README.md (1024 bytes)
CREATE project/tsconfig.json (435 bytes)
CREATE project/tslint.json (2824 bytes)
CREATE project/.editorconfig (246 bytes)
CREATE project/.gitignore (576 bytes)
CREATE project/src/favicon.ico (5430 bytes)
CREATE

[2018-12-12 15:59] Jatin-8898 commented on #12924
Same Error as Above.
Kindly help to fix this issue.

[2018-12-12 16:08] filipesilva commented on #13055
If you never plan on publishing then you could put the builders in `/my-cli-proj/my-builders` and instead of `"builder": "my-builders:my-browser",` use `"builder": "./my-builders:my-browser",`. I think that should work. You still need to compile your builder somehow, like with `tsc` directly.

[2018-12-12 16:09] Jatin-8898 commented on #13085
Tried clearing cache and again reinstalling
But Didnt worked

[2018-12-12 16:52] alan-agius4 commented on #13180
Closing as it doesn’t follow template.

[2018-12-12 16:52] #13180 closed

[2018-12-12 16:52] #13179 closed

[2018-12-12 16:53] oudarjya718 commented on #13170
is this on a subsystem
or entirely linux

[2018-12-12 17:22] GuitarHero1969 commented on #13180
What "template" ??

[2018-12-12 17:36] vimalans commented on #11207
Faced same issue. @filipesilva @glendaviesnz works. Thanks.

[2018-12-12 18:51] ca136 opened #13181 "App-shell devkit builder doesn't support ES6 imports"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
node v10.11.0
npm 6.4.1
ng 7.1.2
macOS Mojave / High Sierra

### Repro steps
1. create a new project with CLI
2. generate an app-shell with cli schematics `ng generate app-shell --client-project shell-error --universal-project shell-error`
3. install an es6 lib `npm install --save lodas

[2018-12-12 19:13] #13173 closed

[2018-12-12 19:57] drullo opened #13182 "Cannot create pipe in sub-directory if module is in different sub-directory"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

Node: 8.11.3
NPM: 6.4.1
Angular CLI: 7.1.2
Windows 10

### Repro steps

1) Move app.module.ts to a subdirectory called "modules"
2) Observe failure from `ng g p pipes/test-pipe -m modules/app`
3) In contrast, observe that `ng g c components/test-component -m modules/app` does succeed

[2018-12-12 23:06] natsid opened #13183 "Prompts should not accept empty string as a value for required options"
[code]

Currently, if an option is marked as required in the schema the schematics CLI will error if no value is passed for that option in non-interactive mode. However, if you are interactive mode and don't provide a value for a required option at its prompt, it is interpreted as having the "value" of the empty string.

You can work around this by adding validation to your schema to not accept th

[2018-12-12 23:10] mackelito commented on #12348
Remove node_modules and try again

[2018-12-12 23:10] natsid opened #13184 "Smart defaults should take functions that depend on previous option values"
[code]

Smart defaults are great, but they would be even more useful if they could take arbitrary functions that accept previous option values as arguments. For example, some default values I need are based on previous option values, but with different casing.

[2018-12-12 23:40] thescientist13 commented on #3570
I think maybe lost in this thread was a question about how to specific the output directory of the `generate` command.

For example, right now it will always prefix the path with _app/_.
[code]

Would be great to get the result, but without _app/_.

Is this possible through _angular.json_ or CLI?

[2018-12-13 06:35] alan-agius4 commented on #13183
Not following template.

[2018-12-13 06:36] alan-agius4 commented on #13184
Not following template

[2018-12-13 07:02] arunkkumar2207j opened #13185 "@angular/cli not installing properly on VM's with Windows Server 2008"
We have tried for days to install angular on Windows server VM's using following step

Install Node
npm install @angular/cli
ng new App (This is where the problem exist and i am not able to move ahead)

We also wanted to integrate Angular 6 in .Net projects

Can anybody help us.

Arun

[2018-12-13 07:07] alan-agius4 commented on #13185
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular-cli`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.

[2018-12-13 07:07] #13185 closed

[2018-12-13 07:08] alan-agius4 commented on #13180
When you open an issue, there is a predefined template, which needs to be filled up.

Thanks.

[2018-12-13 07:35] aguacongas commented on #10624
@Chklang did you try with `ng update --registry https://privaterepo.mycompagnie.fr/npm/` ?

[2018-12-13 09:49] joker-danta commented on #11540
`
Angular CLI: 7.1.3
Node: 10.13.0
Angular: 7.1.3
npm run hmr
`
error
`
Schema validation failed with the following errors:
  Data path "['build']" should NOT have additional properties(hmr).
Error: Schema validation failed with the following errors:
  Data path "['build']" should NOT have additional properties(hmr).
    at MergeMapSubscriber._registry.compile.pipe.operators_1.concatMap.validatorR

[2018-12-13 10:18] imvikaskohli commented on #6099
In my case only ng build --prod was failing with -
Property 'controls' does not exist on type 'AbstractControl'

I changed

<div *ngFor="let item of myForm.controls['keyName'].controls;let indx=index;let lst=last;" >

to

HTML:-
<div *ngFor="let item of getControls(myForm, 'keyName');let indx=index;let lst=last;" >

TS File:-
getControls(frmGrp: FormGroup, key: string) {
  return (<FormArray>frmGr

[2018-12-13 10:21] vivekodela commented on #7863
If you are using windows, these may solve your issue,

-  Delete temp folder on OS level (temp in run)

-  Delete temp folder on Application level(%temp% in run)

[2018-12-13 10:23] Jasim123 commented on #7863
Thanks @vivekodela ...this solved my issue

[2018-12-13 10:54] Splaktar commented on #12149
Work is in progress on the official schematics documentation. I will try to post here when it is up on next.angular.io.

[2018-12-13 11:00] Splaktar commented on #7627
@no-more good suggestion. I've added it to an outline that is currently being worked on as part of the official schematic docs.

[2018-12-13 11:02] WizardPC commented on #10447
Someone can tell the real solution ?

1. [APP_BASE_HREF](https://angular.io/api/common/APP_BASE_HREF) with some "environment" variable

2. ng build --prod --base-href /my/app/

3.  angular.json with baseHref and deployUrl

Wich is it ?

[2018-12-13 11:31] eranimeshmishra commented on #2836
I had the same issue with bootstrap 4 not working on Angular 7 application. Fixed this by uninstalling bootstrap 4->installed bootstrap 3-> Added bootstrap.css, bootstrap.js to styles and scripts array in angular.json file. And it worked.

[2018-12-13 12:10] westonpace opened #13186 "Need ability to separate lint files when using junit"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

[code]
6.4.1
[code]
8.14.0
[code]

### Repro steps

Create an app with multiple projects.  Run `ng lint --format junit`

### The log given by the failure

[code]

### Desired functionality

Either just lint the main app itself or provide some way to separate the files.

### Mention any

[2018-12-13 12:16] filipesilva commented on #13102
Was working a bit on this today and noticed that the results I took yesterday were of rebuilds without a vendor chunk, which great inflate total rebuild times.

To get more granular information I also used an [internal profiling flag](https://github.com/angular/angular-cli/blob/master/packages/ngtools/webpack/src/benchmark.ts#L11) we have to see where time is spent in compilations.

The results I

[2018-12-13 12:21] filipesilva commented on #13087
Hi all,

I've been looking into this regression in https://github.com/angular/angular-cli/issues/13102#issuecomment-446948417. At this point I'm very confident that these two issues are the same and it's better if we continue the discussion there.

Please subscribe to that issue for further updates.

Meanwhile, using `@angular-devkit/build-angular@0.10.7` is a good workaround for the performance r

[2018-12-13 12:21] #13087 closed

[2018-12-13 12:35] gourav18 opened #13187 "angular not installing in windows 7 32 bit"
C:\Users\surya\angular>npm install -g @angular/cli@6
npm ERR! Unexpected end of JSON input while parsing near '...04ea7c00e2a026e5658
",'

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\surya\AppData\Roaming\npm-cache\_logs\2018-12-13T12_27_25_
492Z-debug.log

[2018-12-13 12:35] westonpace commented on #13186
Oh.  I didn't realize the application was also a project.  That works fine.  Thank you.

[2018-12-13 12:35] #13186 closed

[2018-12-13 13:01] lawkushv opened #13188 "ENOENT: no such file or directory, open"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
ng

### Repro steps

### The log given by the failure

### Desired functionality

### Mention any other details that might be useful

[2018-12-13 13:18] therawk commented on #13172
I just tried this and here's the output. Does this help at all?

NodeObject {
  pos: 1683,
  end: 1834,
  flags: 8,
  transformFlags: 536870912,
  parent: undefined,
  kind: 186,
  properties:
   [ NodeObject {
       pos: 1684,
       end: 1721,
       flags: 0,
       transformFlags: 536870912,
       parent: [Object],
       kind: 273,
       decorators: undefined,
       modifiers: undefined,

[2018-12-13 14:00] #13187 closed

[2018-12-13 14:00] alan-agius4 commented on #13187
This seems like a problem with your node/npm and not with Angular CLI.

Please have a look at the fixing [npm permissions page](https://docs.npmjs.com/getting-started/fixing-npm-permissions), [common errors page](https://docs.npmjs.com/troubleshooting/common-errors), [npm issue tracker](https://github.com/npm/npm/issues), or open a new issue in that issue tracker if the problem you are experiencin

[2018-12-13 14:00] #13188 closed

[2018-12-13 14:42] mihalcan commented on #10765
@Tomek6789 can you describe the changes required?

[2018-12-13 15:07] bbjoern commented on #7258
@zolakt i see that a year passed and nothing happened. did you ever figured out a workaround for your problem ?

[2018-12-13 15:10] rjoseph2 commented on #11611
logs/2018-12-13T15_08_07_329Z-debug.log
11 verbose stack     at Immediate.Async.drainQueues [as _onImmediate] (/usr/local/lib/node_modules/npm/node_modules/bluebird/js/release/async.js:17:14)
11 verbose stack     at processImmediate (timers.js:632:19)
12 verbose cwd /Users/rjoseph/workspace/iornics/myApp
13 verbose Darwin 18.2.0
14 verbose argv "/usr/local/Cellar/node/11.3.0_1/bin/node" "/usr/loca

[2018-12-13 15:14] daniel-seitz commented on #13166
@clydin thank for for pushing, I tested verbose with beat.2
For each dependency in package.json this is written:
[code]
So in total more than 50 times this whole block here. Could be enhanced but this is another story.
Then it takes a while until:
[code]
Interestingly in my **yarn.lock** there are 2 entries for jasmine-core:
[code]
[code]
Not sure if that is normal.

[2018-12-13 15:16] rjoseph2 commented on #11611
gyp ERR! node -v v11.4.0
gyp ERR! node-gyp -v v3.8.0
gyp ERR! not ok
node-pre-gyp ERR! build error
node-pre-gyp ERR! stack Error: Failed to execute '/usr/local/Cellar/node/11.3.0_1/bin/node /usr/local/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js clean' (1)
node-pre-gyp ERR! stack     at ChildProcess.<anonymous> (/usr/local/Cellar/node/11.3.0_1/lib/node_modules/@angular/cli/node_modul

[2018-12-13 15:24] TristanMarion commented on #11469
Same issue happens when importing `ChangeDetectionStrategy` from `@angular/compiler/src/core`, importing it from `@angular/core` fixed it.

[2018-12-13 15:39] vupendra commented on #3906
First u have to install file again and must net speed

On Thu 13 Dec, 2018, 4:53 PM sanjeevjh <notifications@github.com wrote:

[2018-12-13 16:48] dmacfarlane commented on #13113
I got the same error on Node.js 10.14.2, downgrading to 10.14.1 worked for me.

[2018-12-13 17:01] WizardPC commented on #4782
Same problem than @Gil-Epshtain

[2018-12-13 17:48] alan-agius4 commented on #13172
It looks like it's happening for a `Component`, I tried to do a couple of test to replicate this, however so far I didn't manage to came across with this error.

[2018-12-13 18:21] ca136 commented on #13181
The `@angular-devkit/build-angular:server` builder works fine , it's only the `@angular-devkit/build-angular:app-shell` builder that has this problem.

[2018-12-13 18:44] alexeagle commented on #13181
We should bundle the third-party dependencies with webpack so that it transpiles the ESModule syntax

[2018-12-13 19:07] nitink85 opened #13190 "Does not support individual feature module deployment"
### Bug Report or Feature Request (mark with an x)

[code]

### Versions
node --version = 8.11.3
npm --version = 5.6.0
ng --version = 6.1.1
macOS - High Sierra 10.13.4
Windows 8 and 10

### Repro steps

1. Create 2 feature modules.
2. Create an App.
3. Load 1 feature module statically and other one lazily.
4. Build and deploy the **dist** of app.

### Desired functionality

1. If we found a bug in

[2018-12-13 20:06] wescoder opened #13191 "Lazy loading (loadChildren) modules with module mapping"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

[code]

### Repro steps

Clone the sample repo: [https://github.com/wescoder/angular-lazy-modules](https://github.com/wescoder/angular-lazy-modules/tree/feature/scaffold) [feature/scaffold branch].
Run with `npm start`.
See the console logs.

### The log given by the failure

[code]

#

[2018-12-13 23:53] #6272 closed

[2018-12-13 23:53] #12894 closed

[2018-12-13 23:59] mgechev commented on #13191
Hey @wescoder thanks for the example repo. It doesn't look like an Angular CLI project and it doesn't have `npm start` script in `package.json`. Do you have a CLI example where we can reproduce the problem?

[2018-12-14 00:02] mgechev commented on #7627
Closing this issue so we can use https://github.com/angular/angular-cli/issues/12149 instead.

[2018-12-14 00:02] #7627 closed

[2018-12-14 00:20] mgechev commented on #12810
@kyubisation I'd recommend you to write a design document so that we can review it first; here's a template https://goo.gl/YCQttR.

[2018-12-14 00:41] albanx commented on #12641
I got this error when I enabled IVy

[2018-12-14 00:56] natsid opened #13192 "Schematics template syntax errors should point to the offending template"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Repro steps

- Have a syntax error in your template.
- Run the schematic with `--debug`, and get a stack trace that points to schematics code, but that doesn't point to any of your own code.

### The log given by the failure
This is easier to handle when you when the syntax error is something simple like misspelling a variable name,

[2018-12-14 02:50] narutomxc opened #13193 "How to setup app-routing.module.ts (main app) route to app-routing.module.ts (sub project app)"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
Node: 8.11.3
NPM: 6.4.1
Angular CLI: 6.1.2
Windows 10

### Repro steps
1. Create angular workspace
2. Add sub project ```ng generate application```
3. How to setup app-routing.module.ts (main app) route to app-routing.module.ts (sub project app)

### The log given by the failure

### De

[2018-12-14 03:48] adamtki commented on #503
ng doesn't seem to be recognized if installed locally but not globally.  However, if you run ng through npm it works.  Why is that the case?  In most cases, it doesn't hurt to install globally, however, when I set up a build pipeline, I have to install angular/cli globally first and then add an npm install step.  That ends up installing angular/cli twice since most projects also have a dependency

[2018-12-14 05:41] muthu1 opened #13194 "when building my angular cli project with maven im getting error in webpack starter"
i ran mvn clean install on my project and this is the error that is produced

[ERROR] npm ERR! code ELIFECYCLE
[ERROR] npm ERR! errno 3221225477
[ERROR] npm ERR! angular2-webpack-starter@6.0.0 webpack: `node --max_old_space_size=4096 node_modules/webpack/bin/webpack.js "--config" "config/webpack.prod.js" "--progress" "--profile" "--bail"`
[ERROR] npm ERR! Exit status 3221225477
[ERROR] npm ERR!
[E

[2018-12-14 05:44] muthu1 commented on #13194
my pc specs are 16gb ram,
windows 10, 64 bit os, x64 processor

[2018-12-14 06:33] narutomxc commented on #13193
ขอบคุณ

ฉันได้ตั้งคำถามไว้แล้วที่ [StackOverflow](https://stackoverflow.com/questions/53773142/angular-6-how-to-setup-routing-app-routing-navigate-to-sub-project-app-routing)

[2018-12-14 06:42] muthu1 opened #13195 "error in webpack starter when building my angular cli project with maven"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

node - 8.11.3
npm - 5.6.0
angular cli - 6.0.8
typescript - 2.7.2
maven - 3.5.4

### Repro steps

carete a new maven project.
inside src create a new angular cli project.
run mvn clean install

### The log given by the failure

[ERROR] npm ERR! code ELIFECYCLE
[ERROR] npm ERR! errno 322

[2018-12-14 07:13] alan-agius4 commented on #13181
I have tried to use `"bundleDependencies": "all"` however setting this will break the app-shell generation with this error `Cannot read property 'subscribe' of undefined`

The seems to be related that `this._zone.onMicrotaskEmpty` will become undefined.

[2018-12-14 08:20] alan-agius4 commented on #12272
This is an interesting idea, though lazy loaded modules are part of the application which makes it hard to build on its own, since some code and dependencies are shared. It is also important to highlight that when having `commonChunks` enabled changing a lazy loaded module might have an effect on the a common chunk, if a dependency is introduced in a lazy loaded module.

[2018-12-14 08:21] alan-agius4 commented on #13190
This request is similar to https://github.com/angular/angular-cli/issues/12272 and thus I am going to close this in favor of it.

That said, when having commonChunks enabled changing a lazy loaded module might have an effect on the a common chunk, if a dependency is introduced in a lazy loaded module.

[2018-12-14 08:21] #13190 closed

[2018-12-14 09:11] woppa684 commented on #6373
I'm guessing because the Ivy renderer will fix this issue (and change the way to deal with these things anyway) and they don't want to spend time fixing the "old" behavior.

[2018-12-14 09:55] thorhunter1 commented on #4778
Any update on this? This problem has been there very long now and it's still not being addressed. I was not able to find clean way to reference assets in scss files that would work both for dev and production. Absolute path works in dev environment but not in prod when application is hosted in subdomain, relative path on the other hand forces me to reference different path depending on location of

[2018-12-14 11:32] klemenoslaj commented on #6373
Well, that is a valid and reasonable explanation, however, this issue and other related issues are hunting angular community since quite a while now, while having no official statement(_apart from Ivy recently_).

Sure, Ivy will fix that, but why didn't fix happened earlier(_without Ivy_) given the fact the issue really puts a stain on Angular itself IMHO.

[2018-12-14 11:56] yeahrow commented on #6795
@Brandon-Born Thank you!!!

[2018-12-14 12:05] alan-agius4 commented on #13172
By any chance do you have `forkTypeChecker` set to false in your angular.json?

[2018-12-14 13:03] talesporto commented on #10855
I'm having the same problem.

[2018-12-14 13:14] alan-agius4 commented on #12272
Duplicate of https://github.com/angular/angular-cli/issues/8275

[2018-12-14 13:14] #12272 closed

[2018-12-14 13:18] alan-agius4 commented on #9331
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-14 13:18] #9331 closed

[2018-12-14 13:19] alan-agius4 commented on #9219
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-14 13:19] #9219 closed

[2018-12-14 13:39] alan-agius4 commented on #12140
I'm sorry, but we can't reproduce the problem following the instructions you provided.
Remember that we have a large number of issues to resolve, and have only a limited amount of time to reproduce your issue.
Short, explicit instructions make it much more likely we'll be able to reproduce the problem so we can fix it.

If the problem persists, please open a new issue following [our submission gui

[2018-12-14 13:39] #12140 closed

[2018-12-14 14:01] wescoder commented on #13191
@mgechev sorry, I hadn't made the push with the addition of angular to the project.
I have made it now, thanks for the heads up.

[2018-12-14 14:04] JCWolf commented on #10703
@avoerman The tests are running fine from terminal (when I run inside the docker container) but In WebsStorm/PHPStorm it fails with the same error. Maybe I have to set something similar to `Remote CLI Interpreters from docker` for karma like I set for PHP?

[2018-12-14 14:20] alan-agius4 commented on #10300
Thanks for reporting this issue. This issue is now obsolete due to changes in the recent releases. Please update to the most recent Angular CLI version.

If the problem persists after upgrading, please open a new issue, provide a simple repository reproducing the problem, and describe the difference between the expected and current behavior.

[2018-12-14 14:20] #10300 closed

[2018-12-14 15:08] Aldian-fr commented on #10818
Dunno if it is related to your errors, but I saw a similar problem in a really simple situation:

- generate a new component and add at least one `@Input()` attribute
- execute ng test on the generated spec file

the error shows up because you have to initialize by yourself the attribute in the `beforeEach` of the test, eg

    beforeEach(() => {

        fixture = TestBed.createComponent(TodoComp

[2018-12-14 15:12] cichacz commented on #10535
Yea, it looks like it's still there in sass-loader@7.1.0

[2018-12-14 15:14] Damini17 commented on #8181
@filipesilva Your solution worked for me.
Thanks!

[2018-12-14 18:01] debian4tw commented on #3288
Wouldn't this remove the polyfills file? dropping support for IE11 or order browsers

[2018-12-14 18:45] Jaimerojo commented on #4725
@ssayan work for me!!!!

[2018-12-14 18:50] #13182 closed

[2018-12-14 18:54] #12541 closed

[2018-12-14 18:54] #12940 closed

[2018-12-14 19:08] mgechev commented on #10003
@filipesilva can we close the issue or it's still valid after architect?

[2018-12-14 19:13] awerlang commented on #3288
@debian4tw

Yes, it removes the polyfills file. Or better, doesn't create one.
Yet it works because then the polyfills will then be included in the main bundle, as long as you have a `import './polyfills';` as the first statement in your main file.

I'm unsure why so many people dislike this solution. AFAIK it's the only published workaround that works. I've been using it for ~2 years. The downsid

[2018-12-14 19:22] mgechev commented on #10703
In the CLI we want to provide a well encapsulated build; invoking the tests manually with karma breaks this encapsulation.

I'd recommend you to use the solution from this comment https://github.com/angular/angular-cli/issues/10703#issuecomment-387319138.

If I've missed something or misunderstood your use case, please open a new issue with details.

[2018-12-14 19:22] #10703 closed

[2018-12-14 19:32] mgechev commented on #10003
Please try the latest stable release. If you still hit the same problem file a new issue.

[2018-12-14 19:32] mgechev commented on #10818
Please try the latest stable release. If you still hit the same problem file a new issue.

[2018-12-14 19:32] #10818 closed

[2018-12-14 19:45] therawk commented on #13172
Ok. I'll migrate my project to a new one - wanted to re-work the design anyway. If I notice something I'll report here.

The error is just annoying. As @djleonskennedy said recompiling fixes it

[2018-12-14 19:48] mgechev commented on #13172
Let us know (in a new issue) if you hit this issue again and you notice a pattern for reproduction.

[2018-12-14 19:48] #13172 closed

[2018-12-14 19:57] GuitarHero1969 opened #13199 "No documentation for SPA template in asp.net core 2.1 using IdentityDbContext"
How do I get my landing page to be the register or login as opposed to the index page under ClientApp.
I have followed the docs.microsoft.com tutorial, but there is no tutorial out there on how to configure the start page:

The following two links fail to mention the how, why, what of the *.cshtml (razor view) stuff and the ClientApp integration.

How do you configure such a project when you want

[2018-12-14 20:30] alan-agius4 commented on #10447
I'm sorry, but we can't reproduce the problem following the instructions you provided.
Remember that we have a large number of issues to resolve, and have only a limited amount of time to reproduce your issue.
Short, explicit instructions make it much more likely we'll be able to reproduce the problem so we can fix it.

If the problem persists, please open a new issue following [our submission gui

[2018-12-14 20:30] #10447 closed

[2018-12-14 20:33] btoorenburg opened #13200 "ENOTSUP: operation not supported on socket, mkdir '/home/foo'ENOTSUP: operation not supported on socket, mkdir '/home/foo'"
I have updated my node, npm and @angular/cli on OSx Mojave.
Now when creating a new Angular app I get this message:
ENOTSUP: operation not supported on socket, mkdir '/home/foo'

I can't figure it out what the problem seems to be.

node version: 10.14.2
npm  version: 6.4.1

Angular CLI: 7.1.3
Node: 10.14.2
OS: darwin x64
Angular:
Package                      Version
-------------------------------

[2018-12-14 20:34] alan-agius4 commented on #13199
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular-cli`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.

[2018-12-14 20:34] #13199 closed

[2018-12-14 20:35] alan-agius4 commented on #13200
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular-cli`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.

[2018-12-14 20:35] #13200 closed

[2018-12-14 20:39] btoorenburg commented on #13200
I will do that.
Thanks for your reply.
Kind regards Bas

[2018-12-14 21:09] edusperoni commented on #6701
It appears this is no longer working(?)

It seems the current code is again reading directly from the disk. Also, it seems `@ngtools/webpack` is eating some annotations:

[code]

becomes:
[code]

which messes with some webpack annotations.

This ends up breaking loaders both before and after `@ngtools/webpack`

[2018-12-14 23:03] WizardPC commented on #10447
Can you  respond to questions at least...

[2018-12-15 00:04] the1mills opened #13201 "favicon href would work with deploy-url option"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
On Ubuntu, Angular CLI version is 7.1.2

I have this shell script:

[code]

It generates an index.html like so:

[code]

But what about the href for favicon?

[code]

how can I get that to reference localhost:9080?

in other words, I would like it to have generated:

[code]

[2018-12-15 01:52] #13015 closed

[2018-12-15 02:51] tedhagos commented on #4906
This was what worked for me.
// package.json
{
  "name": "hello",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve --host $IP --port $PORT --public-host --disable-host-check",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },

[2018-12-15 07:46] fedotxxl commented on #2688
Why is this ticket closed?! This is a major  *bug* which forces us to use js files in root directory which is not possible in some cases. I can't even imagine that it's not implemented.

`--deploy-url` is not the solution because dev environment should be equal to prod

[2018-12-15 07:47] rahulsahay19 commented on #8036
Hi Guys,

I have recently upgraded my all packages along-with application on angular 7. After that few of my packages started failing complaining "Field 'browser' doesn't contain a valid alias configuration".

`Module not found: Error: Can't resolve 'D:\develop\PoseidonNext\Packages\ng-datacontextselectorcomponent\src\styles.css' in 'D:\develop\PoseidonNext\Packages\ng-datacontextselectorcomponent

[2018-12-15 09:16] ORESoftware opened #13203 "global CLI should just invoke local installation if it exists"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
node version 10
ng version 7.1.x

### Repro steps

[code]

The ng CLI should just use the locally installed version if it exists, this solves any problems with mismatching. If the user really wants to force the usage of the global version, then a simple flag would be nice:

[code]

[2018-12-15 11:49] saurabhzh commented on #12914
For my case I updated my angular CLI and then 'ng add @angular/pwa' is working fine.
To update Angular CLI in your project use:

npm uninstall --save-dev angular-cli
npm install --save-dev @angular/cli@latest

[2018-12-15 22:20] stephengardner commented on #4031
What's the answer Angular?

[2018-12-16 01:47] parliament718 commented on #12646
@HarelM  cli v 7.1 was unbearably slow for me. Reverting to 6.2.8 gave me a drastic improvement

[2018-12-16 06:38] Janatbek commented on #2370
@ranjit-redekar, Thanks for this comment, I used it, but you could've write correct syntax or at least mention in what shell should one run this command.

[2018-12-16 09:54] bgBond commented on #9929
I have the same problem after upgrading to angular 7-

  "dependencies": {
    "@angular/animations": "^7.1.3",
    "@angular/cdk": "^7.1.1",
    "@angular/common": "^7.1.3",
    "@angular/compiler": "^7.1.3",
    "@angular/core": "^7.1.3",
    "@angular/flex-layout": "^7.0.0-beta.21",
    "@angular/forms": "^7.1.3",
    "@angular/http": "^7.1.3",
    "@angular/material": "^7.1.1",
    "@angular/m

[2018-12-16 14:55] dirkluijk commented on #13024
@cexbrayat Same issue here. How should I use platformBrowser (the workaround you mentioned) exactly?

[2018-12-16 17:10] agabardo commented on #6009
Why close a topic if the answer in the other topic mentioned don't actually cover the issue?
This Crypto library is by far the messiest thing I ever encountered in Angular.

[2018-12-16 17:45] mgechev commented on #9929
It looks like not all reported errors here are the same. @Mani2693 would share minimum demo where we can reproduce the issue?

[2018-12-16 20:12] leorotondano commented on #6669
This solved the problem to me.
But I didn't need to run this last command, I mean the command bellow:
npm set prefix "C:\Users\user\AppData\Roaming\npm"

Thx, @yutakachi

[2018-12-17 02:40] johnmelodyme opened #13204 "[help] : What is the possible problem here?"
I am new to this, I don't know what to do, googled but no answer, I am seeking for professionals to explain the following issue.

Success or not , I am not certain.

[code]

[2018-12-17 03:03] 100cm opened #13205 "[help] How to use Angular umd reference like ng.core ?"
In angular 5, i Can use `ng.core,ng.animations`... and any other umd reference after `ng build.` in browser

for example

![image](https://user-images.githubusercontent.com/12691638/50064226-05eef700-01eb-11e9-83af-f188c5f9b4bc.png)

But after Angular-cli 7 .

I cant do this any more.

![image](https://user-images.githubusercontent.com/12691638/50064252-274fe300-01eb-11e9-9c60-b5a417ecc500.png)

I

[2018-12-17 03:16] mgechev commented on #13204
The issue tracker in this repository is reserved for feature requests and bug reports. For support requests, I'd recommend you to check the correct channels:
- StackOverflow with tag Angular and Angular CLI
- Angular's gitter channel

[2018-12-17 03:16] #13204 closed

[2018-12-17 03:17] mgechev commented on #13205
The issue tracker in this repository is reserved for feature requests and bug reports. For support requests, I'd recommend you to check the correct channels:
- StackOverflow with tag Angular and Angular CLI
- Angular's gitter channel

[2018-12-17 03:32] johnmelodyme commented on #13204
Thanks!

[2018-12-17 03:50] mgechev commented on #13205
Looks like that when the webpack runtime bootstraps the module, it passes an empty object as the value of `exports`.

Although this seems intentional and interacting with global properties is strongly discouraged, let's reopen the issue in case @hansl, @filipesilva, @alan-agius4 have something to add.

[2018-12-17 04:15] 100cm commented on #13205
If i  separate import the `core.umd.js` , it could work. So I can't judge whether this is a cli's Bug or some webpack configuration lead to this .

![image](https://user-images.githubusercontent.com/12691638/50066175-3471cf80-01f5-11e9-86dd-df02bafd6b5a.png)

I check the building result. and found this.

@mgechev Thanks for your patient again.

[2018-12-17 05:05] klimentru1986 commented on #13024
@cexbrayat try to use [markDirty](https://github.com/angular/angular/blob/f8096d499324cf0961f092944bbaedd05364eea1/packages/core/src/render3/instructions.ts#L2557) function. [Example here](https://github.com/klimentru1986/angular-ivy/blob/master/src/app/app.component.ts).

Or you can do it in bowser console
[code]

[2018-12-17 06:06] NdiBrithaLea commented on #3411
Had thesame problem. But just restartes my server (ng-serve)

[2018-12-17 07:15] alan-agius4 commented on #13205
The whole concept behind webpack is to allow more modular development. This means writing isolated modules that are well contained and do not rely on hidden dependencies (eg. globals).

While there are ways to access globals in a webpack build, you’d need to customize your config which will take you off the supported route. See: https://webpack.js.org/guides/shimming if you still want to pursue th

[2018-12-17 07:43] rahulsahay19 commented on #10832
@shairez

Thanks for the response. Sorry about late reply. However, I found in my case, its not fixing the problem. Even after doing the suggested steps, its still giving the same issue!

Thanks,
Rahul

[2018-12-17 08:21] 100cm commented on #13205
@alan-agius4 Thanks a lot ! i will think about it.

[2018-12-17 08:34] aalbericio commented on #12646
I'd like to ask a little question regarding the future...

What is the expected impact of Webpack 5 in this issue? Is there any numbers Google can share on this?

Thanks

[2018-12-17 09:15] #13205 closed

[2018-12-17 11:16] edusperoni opened #13206 "@ngtools/webpack removes webpack comments"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Versions
[code]

### Repro steps

Declare this class:
[code]
and run it through `@ngtools/webpack`. It outputs this:

[code]

### Desired functionality

It should not eat the comment, so it'd still be processable by other loaders. Like this:
[code]

[2018-12-17 11:34] dc-p8 commented on #11420
I was asking myself the same question. In a fresh Angular project, webpack is not in dependencies. In the old Angular project, I ran `ng update @angular/core @angular/cli`, and noticed webpack was still in my dev dependancies, while my two projects had the same versions of angular. I tried to remove it but it's not possible.

[2018-12-17 12:09] kondi commented on #12432
@filipesilva In my project the rebuild time with `@ngtools/webpack` `7.0.7` is **644.6 ms** (avg of 5 stable), but with version `7.1.3` it is **1476.6 ms**. I would say in this case this is not in parity (2.3x slowdown), do you agree? Shall I provide something to profile or is it known issue?

[2018-12-17 12:16] filipesilva commented on #12432
@kondi that's another (different) regression, we are looking at it in https://github.com/angular/angular-cli/issues/13102.

[2018-12-17 12:49] gtzinos commented on #11420
Sometimes i believe that this package.lock is there only to produce more issues.

[2018-12-17 13:09] djflex68 opened #13207 "Hosting an angular library outside the application module"
Bug Report or Feature Request (mark with an x)
- [ ] bug report -> please search issues before submitting
- [x ] feature request
Command (mark with an x)
- [ ] new
- [ ] build
- [ ] serve
- [ ] test
- [ ] e2e
- [ x] generate
- [ ] add
- [ ] update
- [ ] lint
- [ ] xi18n
- [ ] run
- [ ] config
- [ ] help
- [ ] version
- [ ] doc
Versions
Angular CLI: 7.1.2
Node: 8.11.3
OS: win32 x64

Package Version

[2018-12-17 13:28] bbonczek opened #13208 "Make this Awesome!"
[code]

### Command (mark with an `x`)
[code]

### Versions
[code]

### Repro steps
Run the following command:
[code]

### The log given by the failure
[code]

### Desired functionality
I'd like to know what it does, when not everything is good.

[2018-12-17 13:43] filipesilva opened #13209 "Non-module TS files with only interfaces are not rebuilt on forked type checker"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

### Repro steps
- `ng new repro-app && cd repro-app &&  ng serve`
- create `src/my-interfaces.ts` with `interface MyInterface { val: string; }`. No rebuild is triggered.
- add `const mi: MyInterface = {val: 'string'};` to `src/main.ts`. Rebuild is triggered and finishes successfully.
-

[2018-12-17 14:07] #13208 closed

[2018-12-17 15:47] dipamar commented on #9151
I also faced same issue due to typo import into the app.module.ts module. after removing it fixed the problem

[2018-12-17 18:08] distributev opened #13211 "Importing raw html file content"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

node 8.11.4
npm 6.4.1
n.g 7.0

### Repro steps

### The log given by the failure

error TS2307: Cannot find module './menu.html'

### Desired functionality
In a previous angular.js 1.x app I could do

import menuTemplate from './menu.html';

by configuring myself rollup-plugin-html plu

[2018-12-17 18:38] mgechev commented on #9929
@Mani2693 thanks for sharing your findings! Maybe you can work with @dherges on fixing the issue.

[2018-12-17 18:48] mgechev commented on #13207
@djflex68 thanks for sharing your idea! At the moment you should be able to achieve this using something like this:

If `myApp` depends on `myLib1`, you can update `package.json` of `myApp` to:

[code]

This way `myApp` will take the package from `dist`.

Also look at the multi app support https://github.com/angular/angular-cli/wiki/stories-multiple-apps.

[2018-12-17 18:48] #13207 closed

[2018-12-17 18:56] mgechev commented on #13211
Hey @distributev, this is more of a feature request. We currently don't have support for importing html files and it's out of the scope of the project. I'd recommend you to look at `ngx-build-plus`or `@angular-builders/custom-webpack`. Hope this helps!

[2018-12-17 18:56] #13211 closed

[2018-12-17 18:57] mgechev commented on #13148
Hey @willi84, this sounds like a good idea! We should definitely have something like this. I'd suggest to keep just a link to the CoC so that we don't have to maintain two copies of it.

We'll discuss during the triage meeting this week.

[2018-12-17 18:59] mgechev commented on #13
Can we achieve this with the telemetry? If we can, do we need to keep this issue open?

[2018-12-17 19:02] mgechev commented on #1610
Looks like there's already a solution for the issue. It's strange that I cannot reproduce it at all though. Please try updating to the latest CLI version. In case you hit this problem again, please share a repository with a minimal demo so we can reproduce the bug and open a new issue.

[2018-12-17 19:02] #1610 closed

[2018-12-17 19:08] mgechev commented on #3560
@marklagendijk thanks for sharing your vision! I agree that the CLI might not be the right place for this feature request. I'll close the issue, please open a new one in case I'm missing something.

[2018-12-17 19:08] #3560 closed

[2018-12-17 19:13] mgechev commented on #2750
@prigara thanks for sharing the blog post! I think we can use it as a reference. Closing the issue for now :)

[2018-12-17 19:13] #2750 closed

[2018-12-17 19:13] mgechev commented on #2713
@stefanaerts would you verify if you hit the issue with the latest CLI? If you do, would you share a minimal example on GitHub so we can reproduce it locally?

[2018-12-17 19:17] mgechev commented on #3415
@texel this is out of our roadmap. @yjaaidi's blog post describes a possible solution although it may have some performance implications, and introduce extra boilerplates.

I'd recommend you to look at ngx-build-plus, so you can introduce a custom webpack config.

[2018-12-17 19:18] mgechev commented on #5534
@cvharris would you check the latest Angular CLI release?

[2018-12-17 19:20] mgechev commented on #5508
Thanks for sharing your idea! This is out of the scope for now. As a workaround, I'd recommend you to do something like this in your `package.json`:

[code]

Hope this works for you! Alternatively, look at ngx-build-plus.

[2018-12-17 19:20] #5508 closed

[2018-12-17 19:20] mgechev commented on #5483
@aniruddhadas9 are you still able to reproduce with the latest Angular CLI?

[2018-12-17 19:21] mgechev commented on #5491
@LyraelRayne this is out of our scope for now. Please, take a look at ngx-build-plus. I believe it may help you to achieve this. If I'm missing something, and there are a lot of folks who'd want to see this feature in the CLI, please open a new issue.

[2018-12-17 19:21] #5491 closed

[2018-12-17 19:23] mgechev commented on #5420
@seglberg I'd recommend you to explore `ngx-build-plus` to customize your build for this feature. In case you find that it's not possible to satisfy your use case, please open a new issue. Thanks! :)

[2018-12-17 19:23] #5420 closed

[2018-12-17 19:36] #2233 closed

[2018-12-17 19:42] mgechev commented on #5337
@johnpapa thanks for sharing your idea! We decided to reduce the number of schematics in this repository and let folks maintain third-party ones that people can use. This looks like a great fit for the purpose! Closing the issue for now. In case I'm missing something or this generator fits best in the scope of this repository, please create a new issue.

[2018-12-17 19:42] #5337 closed

[2018-12-17 21:04] beleta commented on #13059
In latest release, 7.1.3, the problem seems that has been fixed.

[2018-12-17 21:50] mgechev commented on #10832
Closing this issue since it's a compiler problem https://github.com/angular/angular/issues/23609

[2018-12-17 21:50] #10832 closed

[2018-12-17 23:15] skylarmb commented on #5613
I have a similar issue. I cant run typescript compilation after deploy on an EC2 instance with 1gb of ram (900+mb free), even with all optimizations turned off. It runs out of memory and crashes almost instantly.

[code]

[2018-12-17 23:35] mgechev commented on #13059
@elboukhari would you try 7.1.3 and verify if the issue still persists?

[2018-12-17 23:49] skylarmb commented on #6795
I cannot even compile a small boilerplate-based project (angular-material, a 2-3 dozen very small modules, <5k LoC total) on a 1gb ram EC2 instance, even with every possible memory feature of optimization:

[code]

On my local machine this takes about 1.2gb of ram. Unacceptable.

[2018-12-18 01:06] EsmaeilSheikhali commented on #11386
ng update command  ignore .npmrc configuration file. You need to manually set the proxy in your current session.
e.g.

set proxy=http://ip:post
set http_proxy=http://ip:post
set httpa_proxy=http://ip:post

[2018-12-18 02:15] mgechev commented on #4419
Thanks for all the blog posts! Closing the issue. If I'm missing anything, please open a new one explaining your use case.

[2018-12-18 02:15] #4419 closed

[2018-12-18 02:21] hungdang1312 commented on #11955
I had the same problem and updating @angular/pwa worked for me

[2018-12-18 02:31] mgechev commented on #5166
Can you still reproduce this issue?

[2018-12-18 02:32] mgechev commented on #4915
webpack 5 will introduce disk cache. Bazel already does. This will be implemented but no need to be tracked by this issue.

[2018-12-18 02:32] #4915 closed

[2018-12-18 02:32] mgechev commented on #4872
Can you still reproduce this issue?

[2018-12-18 02:33] mgechev commented on #4789
This is out of the scope of the CLI. I'd strongly recommend you to explore customizing your build with `ngx-build-plus`.

[2018-12-18 02:33] #4789 closed

[2018-12-18 02:34] #6119 closed

[2018-12-18 02:35] mgechev commented on #6110
@hudzenko that's a fantastic description, thanks for sharing! Closing the issue here. In case the steps that @hudzenko shared do not work for you please open a new issue.

[2018-12-18 02:35] #6110 closed

[2018-12-18 02:37] mgechev commented on #5998
@wKoza can you still reproduce this issue?

[2018-12-18 03:21] mgechev commented on #6179
I see that the previous PR didn't make it to master. Does anyone want to give it a try? If there's still interest around this, we'll be happy to merge the PR. Just make sure that you preserve the same `tslint.json` config.

[2018-12-18 03:33] mgechev commented on #6311
@harisb2012 although this feature looks attractive for some use cases, we need to set scope boundaries of the CLI, otherwise we risk to introduce big complexity and bloat the tool. I'd close the issue for now. If the need for this use case increases, feel free to open a new feature request.

[2018-12-18 03:33] #6311 closed

[2018-12-18 03:36] mgechev commented on #6315
@gaotter you can currently have control over this feature if you customize your build with ngx-build-plus or alternative tools which let you plug into the webpack configuration.

Customizability of the output directory is outside the scope of the project but we will consider improving the output directory layout.

Thanks for pointing this out!

[2018-12-18 03:36] #6315 closed

[2018-12-18 03:36] mgechev commented on #6327
You can already do this in the CLI by providing a custom collection.

[2018-12-18 03:36] #6327 closed

[2018-12-18 03:38] #6336 closed

[2018-12-18 03:39] mgechev commented on #6337
Looks like https://github.com/angular/angular-cli/issues/8870 covers the limitation.

[2018-12-18 03:39] #6337 closed

[2018-12-18 03:39] mgechev commented on #6342
Are you still able to reproduce this issue with the latest version of the CLI?

[2018-12-18 03:40] #6352 closed

[2018-12-18 03:42] mgechev commented on #6374
Is this issue still reproducible?

[2018-12-18 03:45] mgechev commented on #6410
How about changing the `start` script in `package.json` to `ng serve && open http://localhost:4200/?foo=bar`, or something similar?

[2018-12-18 03:47] mgechev commented on #6425
Are you still able to reproduce this issue with the latest CLI?

[2018-12-18 03:48] #6440 closed

[2018-12-18 03:49] mgechev commented on #6443
Can you still reproduce it with the latest CLI?

[2018-12-18 03:50] mgechev commented on #6484
@dashkan fantastic job! I see there's a lot of community work which documents lots of use cases. Closing the issue for now. Thank you all sharing these resources!

[2018-12-18 03:50] #6484 closed

[2018-12-18 03:51] mgechev commented on #6482
@dgroh do you hit this issue with the latest CLI?

[2018-12-18 05:11] javascriptsoldier commented on #11861
Sorry my bad, one of my co-developer pushed the code without resolving merge issue, that's given me the error

[2018-12-18 05:49] IgorMinar opened #13212 "`import as` results in the alias being undefined with Typescript 3.2"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

[code]

### Repro steps

After typescript 3.2 upgrade, I've started seeing e2e test failures due to certain symbols not being defined - in all cases these symbols came from rxjs and were aliased to a different name.

The problem occurs during dev builds without optimizations turned on

[2018-12-18 06:05] kartik-budhiraja commented on #13018
@codeaddslife , @devoto13 , @alan-agius4  I would love to work on this issue if it is available.

[2018-12-18 06:09] kartik-budhiraja commented on #11792
@filipesilva I would like to work on this issue.

[2018-12-18 06:15] IgorMinar commented on #13212
hmm.. unfortunately I can't seem to be able to reproduce this outside of angular.io... in aio it's quite easy to repro this, but I don't know what makes aio special.

[2018-12-18 06:18] mgechev commented on #13018
@kartik-budhiraja sure, feel free to take it.

[2018-12-18 06:18] mgechev commented on #11792
@kartik-budhiraja go ahead!

[2018-12-18 06:19] MaklaCof commented on #6443
I am not sure. I restructure my entire project. I couldn't live with that.

[2018-12-18 07:13] wKoza commented on #5998
Hi @mgechev, I don't think so. Angular CLI have grown since ;) We can close it.

[2018-12-18 07:13] #5998 closed

[2018-12-18 07:17] woppa684 commented on #6373
I know this is a while ago, but how did you manage to solve this? If I change the importAs attributes manually in the generated metadata file for my built libraries indeed it works, but how can I instruct Angular CLI to use the correct (scoped) importAs statement?

[2018-12-18 07:37] elboukhari commented on #13059
Hi @mgechev I still have the same issue even under 7.1.3 !
@beleta I'm curious how do you declare your local dependency in your package.json ?

[code]

And here is the declaration of the lib in my package.json :

[code]

where "MY-LIB" is my local lib

[2018-12-18 07:50] Karthik-Sharavana commented on #8297
i have installed angular globally from command prompt version 7

[2018-12-18 07:52] Karthik-Sharavana commented on #8297
i have installed version 7  globally from command prompt, but the project which im using version is 5, so how to make this project from v.5 to .7.... , help me out this plz

[2018-12-18 07:53] Jefiozie commented on #8981
@filipesilva is this issue already taken? Maybe I can have a look at it. Is the proposed change about the `suppressOutputPathCheck` the way to go?

Thanks

[2018-12-18 07:59] cexbrayat commented on #5166
@mgechev yes, the issue still persist in CLI 7. Vue CLI for example offers a mecanism to load an extra webpack config to be able to use a plug-in like ContextReplacementPlugin. It would be great to have an option to do the same with Angular CLI, as the bundles are blowing up when using libraries like moment.

[2018-12-18 08:14] Karthik-Sharavana commented on #8297
i have installed version angular 7 globally from command prompt, but the project which i'm using version is
angular 5, so how to make this project from v.5 to v.7.... , help me out this plz

[2018-12-18 08:15] JohnnyDevNull commented on #13059
For me with ProGet Package the error also still exists with 7.1.3

[2018-12-18 08:34] cexbrayat commented on #6179
@mgechev I can give it a go. Do you mean that at first we need the exact same result as the current config, even if that means taking an opposite choice than the recommended set?

For example, we currently don't enforce `adjacent-overload-signatures`, whereas the recommended set does. That means we'll have to set `adjacent-overload-signatures: false` in the config if we extend the recommended set.

[2018-12-18 09:00] nhnb commented on #6425
The issue does not occur with a recent version of Angular (CLI).

It was caused by the update instructions to Angular 4 suggesting to use typescript@latest, which at some point in time pointed to a version new than the one supported by Angular 4.

[2018-12-18 09:00] #6425 closed

[2018-12-18 09:18] JohnDeved commented on #2688
bump.
any news on this?
![image](https://user-images.githubusercontent.com/24187269/50143916-19af6180-02ae-11e9-8c8a-a55ff445cf17.png)
this is not acceptable. you need to be able to move the js files in a seperate folder. otherwise stuff like the screenshot above can happen

[2018-12-18 09:23] #6374 closed

[2018-12-18 09:28] nicky-lenaers commented on #10447
@alan-agius4 The issue is obviously not understood properly. Please provide clear guidance on how to utilize configuration options and/or cli arguments for `base`/`baseHref`. If this is no longer supported, the answer to this issue would be very simple. There is no need to reproduce anything.

Thanks!

[2018-12-18 09:39] MartinJohns commented on #12690
I had the same error when one of the name-parts was digits, e.g. `prototype-1234`. Changing it to `prototype-s1234` works. So here it's a case of a bad regex.

[2018-12-18 09:53] kostyash11 commented on #11523
I think  its some  sort  of regression regression:

it worked perfect with:  "@angular-devkit/build-angular": "~0.7.4",
and started get problem when we updated to :
"@angular-devkit/build-angular": "~0.11.3" (during upgrade to angular 7.1.3 from 6)

[2018-12-18 10:05] selvam326 commented on #11835
https://github.com/angular/quickstart/issues/365#issuecomment-448161214
plz see the issue reply me.

[2018-12-18 12:17] synctom commented on #6195
Little late for the party, but...

if anyone still has issues of that kind, try angular cli.
The "library" schematic (called by `ng g library`) will generate a nice, clean and official solution for building external libraries.

And yes, also supports watch mode out of the box.

learn more:
https://github.com/angular/angular-cli/wiki/stories-create-library

[2018-12-18 14:12] thw0rted commented on #13212
I have spent *all day* tearing my hair out trying to nail this down... I'm glad to see I'm not alone.  I also haven't been able to make a lightweight reproduction yet -- I have a lot of moving pieces in my (broken) build and thought it might have been some interaction between webpack, the DLL/DLLReference plugins, and the AOT compiler.  I just *finally* figured out that it must be something to do

[2018-12-18 14:43] FranklinYu commented on #4318
@kopz9999 Thank you for writing this tool. We have several unofficial work-around mentioned above; most of them is just one more command, so it's like `node my-script.js && ng build`. Nevertheless it would be great for Angular CLI to include this function. This is a very common pattern (most SPA needs to connect to backend, whose URL shouldn't be hardcoded in codebase), and tools should be optimiz

[2018-12-18 15:21] varadero opened #13215 "Building with --prod fails when same component is part of declarations of two modules"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

Versions:
Node: v10.9.0
npm: 6.4.1
Angular CLI version:
Angular CLI: 7.1.3
Node: 10.9.0
OS: win32 x64
Angular: 7.1.3
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package

[2018-12-18 15:53] kyubisation commented on #4318
This depends a bit on your use case. If you know your configuration at build time, the tool provided by @kopz9999 is the correct solution (or #12810 if I can find the time).
If you need to configure your angular app at runtime/on startup, something like [angular-server-side-configuration](https://www.npmjs.com/package/angular-server-side-configuration) might be a better fit. (Disclaimer: I am the

[2018-12-18 16:44] mgechev commented on #13215
This is the intended behavior. Not a constraint set by the CLI but the Angular compiler.

Sounds like you may want to take advantage of `loadChildren` that's for a single application.

[2018-12-18 16:44] #13215 closed

[2018-12-18 16:57] mgechev commented on #6179
@cexbrayat yes, this would be ideal.

[2018-12-18 16:59] mgechev commented on #5166
@cexbrayat have you tried altering the build with ngx-build-plus?

[2018-12-18 17:05] mgechev commented on #6125
For now `tslint` without the language service has been sufficient for the CLI. Let's close this feature request for now and revisit in future.

[2018-12-18 17:05] #6125 closed

[2018-12-18 17:16] mgechev commented on #7047
@istiti this is a great idea for an external static code analyzer. Something like compodoc or ngrev would do the trick. Let us keep it outside of the CLI for now but we may want to revisit it in future.

[2018-12-18 17:16] #7047 closed

[2018-12-18 17:16] mgechev commented on #7037
@johanchouquet do you still experience this issue?

[2018-12-18 17:20] mgechev commented on #7004
@johnpapa can you still reproduce this issue?

[2018-12-18 17:20] mgechev commented on #6960
@pdestailleur can you still reproduce the issue?

[2018-12-18 17:21] mgechev commented on #6937
This is a perfect candidate for a third-party schematics which can be maintained by the community. Feel free to implement a generator and link to it here, with a comment. ❤️

[2018-12-18 17:21] #6937 closed

[2018-12-18 17:22] mgechev commented on #6930
@e-cloud can you still reproduce this issue?

[2018-12-18 17:24] #6925 closed

[2018-12-18 17:25] mgechev commented on #6901
@ashkank83 can you still reproduce this issue? The lazy-loaded modules should be bundled into separate chunks.

[2018-12-18 17:34] buu700 commented on #6864
I think what I was asking for was a way to override the tsconfig.app.json setting, either in a CLI flag or angular.json, specifically so that I could have `ng serve` use ES2017 while `ng build` does ES5.

As noted, the reason for this is that stepping through async/await code in the debugger would be way easier than the ES5 equivalent that TypeScript generates.

[2018-12-18 17:40] buu700 opened #13216 "`ng serve` tsconfig `target` override"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Desired functionality

It would be really helpful to have a way to override the tsconfig.json setting, either with a CLI flag or angular.json, so that `ng serve` would output ES2017 while `ng build` uses the configured value of ES5.

The primary reason for this is that stepping through async/awa

[2018-12-18 17:51] ChristianDanielMezieres commented on #9999
step 2
rename your folder " proxy.config.json " to " proxy.config.json "
---------------------------------------- then -------------------
step 3
change the path in " package.json " the line with " ng serve nproxy.conf.json --open " with " ng serve --proxy-config proxy.conf.json -o "

then you can run " yarn dev "

[2018-12-18 17:56] alan-agius4 commented on #13216
You can create 2 tsconfigs, one which is used for `serve` and one which is used for `build`.

[2018-12-18 18:04] #13216 closed

[2018-12-18 18:06] meyer20 commented on #5244
When i run with dev mode, all the chunks are generated with your names, in prod mode, the chunks are generated with sequential numbers. In my case, i need the sequential number in both modes.

Dev mode:
https://imgur.com/a/JGRQEuF

Prod mode:
https://imgur.com/a/Z7tZPsb

Someone knows why this happen?

[2018-12-18 18:09] ashkank83 commented on #6901
@mgechev Thanks a lot for the response. TBH, I gave up on Angular since and recreated the same in React (Please don't get me wrong, I'm Not saying one is better than the other). I know they're both (Create React App & Angular-CLI) using webpack and maybe as you said the issue is solved here as well now. Thanks

[2018-12-18 18:15] ashkank83 commented on #6901
If there is solution for it, might be helpful to Angular community to post it [here](https://stackoverflow.com/questions/44843509/angular-cli-webpack-lazy-loading-of-dynamically-created-routes) as well.
I had a few messages and comments asking for solutions

[2018-12-18 18:20] #6901 closed

[2018-12-18 18:21] mgechev commented on #6901
Thanks for the quick follow up!

[2018-12-18 18:22] mgechev commented on #9999
@sushobitha thanks for sharing!

[2018-12-18 18:22] #9999 closed

[2018-12-18 18:23] mgechev commented on #6864
FYI https://github.com/angular/angular-cli/issues/13216

[2018-12-18 18:48] buu700 commented on #13216
Ah, that's perfect, thanks!

[2018-12-18 19:05] mgechev commented on #6859
@keyiis you can experiment with this using the ngx-build-plus package. It'll allow you to extend our webpack config. Please open a new issue if I'm missing anything from your use case.

[2018-12-18 19:05] #6859 closed

[2018-12-18 19:07] mgechev commented on #6763
@buu700 you can extend the build configuration with ngx-build-plus.

Out of curiosity, what errors do you expect to catch with runtime type checking which are impossible to catch at build time, with specific types?

[2018-12-18 19:07] #6763 closed

[2018-12-18 19:08] mgechev commented on #6757
Are you still able to reproduce the issue? If it's still reproducible, would you share a minimal demo?

[2018-12-18 19:11] mgechev commented on #6729
It's possible to fork the existing schematics and customize them according to your use case. Let us keep this outside the scope of the CLI for now.

Please feel free to open a new issue in case I'm missing something.

[2018-12-18 19:11] #6729 closed

[2018-12-18 19:40] alan-agius4 commented on #13212
I had a quick look at this, and it seems that this is only happening in `AOT` mode.

AIO is "special" because it's `serve` uses `AOT` and `buildOptimizer`. Running `node_modules/.bin/ngc -p src/tsconfig.app.json` in the AIO folder, does output the correct `import as` statements.

[2018-12-18 20:04] mgechev commented on #6763
Yes, this seems like a good use case. protobuf or swagger both work great in this case. I've worked on a similar problem where the backend and the frontend services shared a common schema, which was verifiable at build-time. We never hit a runtime error.

An issue could be if the type system on the backend service is not expressive enough to handle the static protocol verification. In such case yo

[2018-12-18 21:10] mgechev commented on #7297
Are you still able to reproduce the issue?

[2018-12-18 21:13] #7274 closed

[2018-12-18 21:15] mgechev commented on #7274
If you still have this feature request, feel free to explore ngx-build-plus. You can customize your Angular CLI configuration there so it suits your needs. If I'm missing something, feel free to open a new issue.

[2018-12-18 21:15] mgechev commented on #7273
@gkalpak can we close this now or it's still reproducible?

[2018-12-18 21:16] mgechev commented on #7272
Can you still reproduce the issue?

[2018-12-18 21:17] mgechev commented on #7267
Can you still reproduce the issue?

[2018-12-18 21:18] mgechev commented on #7245
Can you still reproduce the issue?

[2018-12-18 21:19] mgechev commented on #7229
Do we have any ideas around this? The behavior looks correct to me, it'll also get less confusing when we introduce ivy (no ngfactories).

[2018-12-18 21:20] mgechev commented on #7187
@julienR2 the workaround sounds reasonable to me :)

[2018-12-18 21:20] #7187 closed

[2018-12-18 21:21] mgechev commented on #7166
Can you still reproduce this error?

[2018-12-18 21:22] mgechev commented on #7153
Is this still reproducible?

[2018-12-18 21:30] mgechev commented on #7086
Can you still reproduce the problem? If it's still here, would you share a minimal demo where we'll be able to reproduce it in our local environment so we can investigate?

[2018-12-18 21:31] mgechev commented on #7088
Can you still reproduce the error? If it's still reproducible, would you share a minimal demo?

[2018-12-18 21:37] mgechev commented on #7119
@nategurian no worries, thanks for sharing! I'll wait a few days until @Peaker14 shares his experience.

[2018-12-18 21:48] cyrilletuzi commented on #6763
Not sure it's the same scenario, but runtime checks are needed for libraries like [`@ngx-pwa/local-storage`](https://github.com/cyrilletuzi/angular-async-local-storage), as client-side storage can be mitigated.

For now the API is quite painful, as it needed both TypeScript types for the developer experience *and* runtime checks via a JSON schema.

I don't expect the CLI to handle that, but as I'v

[2018-12-18 23:23] mgechev commented on #7474
Can you still reproduce this error?

[2018-12-19 03:50] Narasimha969 commented on #5244
@meyer20 In angular.json file, check for configurations

"dev": {
              "fileReplacements": [
                {
                  "replace": "src/environments/environment.ts",
                  "with": "src/environments/environment.dev.ts"
                }
              ],
              "optimization": true,
              "outputHashing": "all",
              "sourceMap": false,

[2018-12-19 04:53] MukulMux commented on #12480
My project was running all fine. I was able to create components and project form the CLI normally but since yesterday it is unable to recognize 'ng' command even though I have reinstalled the CLI to the latest version. Done with cleaning the cache as well.

What could be the possible reason for the same. Any help would be appreciated !
Thanks.

[2018-12-19 07:02] Springrbua commented on #12480
@MukulMux I don't think your issue is related to this one, I suggest to open a new Issue.
However, I guess the problem in your case might be a missing global CLI installation or it is not part of your "PATH" if you are on windows.

[2018-12-19 07:30] MukulMux commented on #12480
Okay. I'll start a new thread for the same.
P.S - I tried solving for missing global CLI installation and it didn't work so it seems the problem is something else. Thanks anyway.

[2018-12-19 09:07] Tsuki opened #13223 "Webpack extra script chunk return canBeInitial as false."
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

node --version
v10.12.0
npm --version
6.4.1
Angular CLI: 7.1.1
Node: 10.12.0
OS: darwin x64
Angular: 7.1.1
... animations, cli, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package                           Ver

[2018-12-19 09:42] cexbrayat commented on #5166
@mgechev  I did, and it's probably the only alternative right now. But it broke with some releases of the CLI in the past, so we removed it. It's a very good community solution, it still doesn't beat a feature from the native CLI offically supported by the team, now that eject is no longer an option.

[2018-12-19 09:47] filipesilva commented on #13155
These numbers are provided by directly Webpack, and I agree that they don't look like they represent the full build time.

A better place to report this issue is in https://github.com/webpack/webpack.

[2018-12-19 09:47] #13155 closed

[2018-12-19 09:59] filipesilva commented on #13157
@girishuppal no, that doesn't look like it should affect paths. Perhaps it's related to the folder you clone to.

[2018-12-19 10:01] filipesilva commented on #13144
@hansl / @vikerman can you chime in?

[2018-12-19 10:46] filipesilva commented on #8981
@Jefiozie no, it's not taken. You're most welcome to have a go at it! The `suppressOutputPathCheck` seems to be the best bet so far.

Make sure to add a test to ensure this does not regress in the future though! Here would be a good place: https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/build_angular/test/browser/source-map_spec_large.ts

[2018-12-19 11:52] forking-renovate[bot] opened #13228 "Dependency deprecation warning: @types/source-map (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v0.5.7) of dependency `@types/source-map` has the following deprecation notice:

`This is a stub types definition for source-map (https://github.com/mozilla/source-map). source-map provides its own type definitions, so you don't need @types/source-map installed!`

Marking the latest version of an npm package as deprecated results in

[2018-12-19 11:57] oyes commented on #1610
@mgechev I am currently experiencing this issue for a project I started a few days ago. Please find the url to the repo: [https://github.com/oyes/tailor-notes-ui.git]

I am currently trying the various suggestions mentioned on this thread.

[2018-12-19 11:58] kpaxton commented on #13059
I'm getting this on @angular packages with 7.1.3.
I'm on a closed network but have an npm registry mirror set up by my company at a different url.
When I run `ng update` I get `404 Not Found - GET https://registry.npmjs.org/@angular%2fcompiler-cli`.

The package is different each time I run it but it's typically angular packages.

[2018-12-19 12:03] alan-agius4 commented on #13228
Blocked until we use the async version of `source-map` in BuildOptimizer and Repo Code Coverage

[2018-12-19 12:29] forking-renovate[bot] opened #13230 "Dependency deprecation warning: @types/source-map (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v0.5.7) of dependency `@types/source-map` has the following deprecation notice:

`This is a stub types definition for source-map (https://github.com/mozilla/source-map). source-map provides its own type definitions, so you don't need @types/source-map installed!`

Marking the latest version of an npm package as deprecated results in

[2018-12-19 12:38] gkalpak commented on #7273
I think so. Let's close it.

[2018-12-19 12:38] #7273 closed

[2018-12-19 12:42] kpaxton commented on #10624
@aguacongas that works for me!
However, I shouldn't have to do that if the registry is declared in my `.npmrc`.

[2018-12-19 12:49] alan-agius4 commented on #13230
Duplicate of https://github.com/angular/angular-cli/issues/13228

[2018-12-19 12:49] #13230 closed

[2018-12-19 13:00] ramandeep-singh-1983 commented on #10869
Thanks @hughanderson4, the watch mode is working nicely for me now with the following code:
`"scripts": {
    "clean": "rimraf \"./dist/*\"",
    "scss-bundle": "scss-bundle -e \"./projects/my-lib/src/lib/shared/styles/styles.scss\" -d \"./dist/my-lib/styles/styles.scss\"",
    "watch-ts": "ng build --watch=true",
    "watch-scss": "cpx \"./projects/my-lib/src/lib/shared/styles/**/*\" \"./dist/my-

[2018-12-19 13:19] Pluckerpluck commented on #13113
Same issue. 10.14.2 does not work for me. 10.14.1 works fine.

Not the best start to trying out Angular for the first time...

[2018-12-19 13:44] sdsdjr commented on #7233
this work for me:
npm audit fix
then ng server without any problem

[2018-12-19 14:10] aguacongas commented on #10624
@kpaxton You're lucky, that doesn't for me. But my private repo needs authentication.
And I agree, we shouldn't have to do that.

[2018-12-19 14:11] ahasall commented on #13166
Try `ng update --registry=<your_internal_registry>`.

[2018-12-19 15:18] sergey-kanaev opened #13232 "The 'exports is not defined' exception occurs if an application runs in the production environment"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
Windows 10
npm: 6.4.1
Angular CLI: 7.1.3
Node: 10.13.0
OS: win32 x64
Angular: 7.1.4
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package                           Version
------------------------

[2018-12-19 15:54] hughanderson4 commented on #10869
Hi @ramandeep-singh-1983

Yeah I was launching that separately back then.  Now, here is my latest package.json commands which work really nice.  I need to run only the `watch` command and it does everything:

[code]
I bundled my variables.scss file separately so users of my framework could refer to them without importing entire framework.scss.

To answer your question good sir, in your app (not li

[2018-12-19 18:12] alan-agius4 commented on #12127
Thanks for reporting this issue. However, you didn't provide sufficient information for us to understand and reproduce the problem. Please check out [our submission guidelines](https://github.com/angular/angular-cli/blob/master/CONTRIBUTING.md#-submitting-an-issue) to understand why we can't act on issues that are lacking important information.

If the problem persists, please file a new issue and

[2018-12-19 18:12] #12127 closed

[2018-12-19 18:18] alan-agius4 commented on #11112
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular-cli`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.

[2018-12-19 18:18] #11112 closed

[2018-12-19 18:21] drweb86-work commented on #11112
Hello

Actually I found a reason of an issue – its UglifyJsPlugin with enabled parallel.

So issue is not actual for me

Thanks

From: Alan Agius <notifications@github.com>
Sent: Wednesday, December 19, 2018 9:20 PM
To: angular/angular-cli <angular-cli@noreply.github.com>
Cc: Siarhei Kuchuk <s.kuchuk@aisnovations.com>; Author <author@noreply.github.com>
Subject: Re: [angular/angular-cli] [Question

[2018-12-19 18:55] #13212 closed

[2018-12-19 19:21] michaelsanford commented on #7245
Hi @mgechev, thanks for following up.

An issue still exists in angular/core 7.1.3

I just tested by taking an scss file referenced in `angular.json`'s `projects.Main.architect.build.options.styles[]` array adding a reference to it in my `AppComponent`'s `styleUrls[]`.

When building with `ng build --prod --named-chunks --source-map` I get this error:

[code]

Further details:
[code]

[2018-12-19 19:24] mgechev commented on #7245
Thanks for the follow up! Looks like we don't have many occurrences of the problem so we might not be able to prioritize it for the next sprint but we'll keep it open so we can fix it as soon as possible.

[2018-12-19 19:31] mgechev commented on #13232
Hey @sergey-kanaev, this doesn't look like an issue in Angular CLI. You should not rely that the global `exports` object is defined in the browser - it's a commonjs specific.

It's not a good idea to couple the CLI to a module format that you're using in a separate build process.

What was the reason you had to compile the code outside of the CLI? Isn't it possible to use it as part of your applic

[2018-12-19 19:31] #13232 closed

[2018-12-19 19:32] #5170 closed

[2018-12-19 19:32] mgechev commented on #5170
Thanks for the response!

[2018-12-19 19:35] mgechev commented on #13157
@girishuppal let us know if you have any further insight. Hopefully we're able to reproduce the problem and fix it. Alternatively, it could be an issue in your environment that we cannot help with.

[2018-12-19 19:36] mgechev commented on #5166
That's something I believe we should look at.

[2018-12-19 19:39] michaelsanford commented on #7245
@mgechev Quite understandable.

Frankly, the fix developer-side was simple: we just organised our scss so that we never repeated global stylesheet references in components (which is probably just good practice anyway).

Others on this thread may have different problem cases.

[2018-12-19 19:46] mgechev commented on #9646
This should be a solution to the problem https://github.com/angular/angular-cli/issues/9646#issuecomment-386568489
Make sure you're using the latest CLI.

[2018-12-19 19:46] #9646 closed

[2018-12-19 19:58] mgechev commented on #9650
Developers can manipulate elements directly using JavaScript which makes the automatic style removal in the general case impossible.

If we release such feature we'll break too many applications. The solution that @splincode shared will work in some cases when the `ViewEncapsulation.None` and no dynamic style manipulation.

Let's suppose we have:

[code]

If the content of `styles.json` is: `{ "cl

[2018-12-19 19:58] #9650 closed

[2018-12-19 20:19] hansl commented on #9650
I agree with @mgechev's statement; the very nature of CSS and JavaScript makes this impossible to fix for the general case.

That being said, there is three avenue you can use as a workaround to the default behavior:
1. use a specialized linter (such as codelyzer) that can show problems in your IDE.
1. use a builder such as ngx-build-plus to modify the web pack configuration yourself.
1. use a pos

[2018-12-19 21:06] ben-coble-sp opened #13233 "Proposal: auto increment build budgets"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

node - 8.12.0
npm - 6.4.1
ng - 7.0.4
macOS - Sierra

### Repro steps

n/a

### The log given by the failure

n/a

### Story

At my job, we have built our own library of shared angular components. We have budget sizes configured in the `angular.json`. As with any active project, the bun

[2018-12-19 21:22] mackelito commented on #9838
we are having issue that I belive might be related...
When building the naming becomes like:
`chunk {5} contact-us-contact-us-module-ngfactory.js, contact-us-contact-us-module-ngfactory.js.map (contact-us-contact-us-module-ngfactory) 10.1 kB  [rendered]`

But then we also have another strange file being generated...
`
chunk {2} default~checkout-checkout-module-ngfactory~registration-registration-m

[2018-12-19 22:03] mgechev commented on #9773
@StarkL can you still reproduce the problem with the latest CLI?

[2018-12-19 22:06] mgechev commented on #9685
@yfain do you still hit this issue?

[2018-12-19 22:06] mgechev commented on #9664
@mikeandersun can you still hit this issue?

[2018-12-19 22:07] mgechev commented on #9656
We should have consistent behavior across environments. @splincode do you still hit this issue?

[2018-12-19 22:09] mgechev commented on #9654
Looks like an old issue. @splincode can you still reproduce it with the latest CLI?

[2018-12-19 22:13] mgechev commented on #9760
This should be working properly. If you find out that this feature is still unavailable, please open a new issue.

[2018-12-19 22:13] #9760 closed

[2018-12-19 22:17] #9656 closed

[2018-12-19 22:17] #9654 closed

[2018-12-19 22:41] vikerman commented on #13144
Hi - what is the use case?

[2018-12-19 23:10] MojtabaTaha commented on #1149
hi i just have the same problem of ng is not recognized as an internal or external command. how can i fix it please

[2018-12-19 23:32] gregbown commented on #13077
Using CLI v 7.2.0-rc.0
Despite the property being in the schema
``
            "outputPath": {
              "type": "string",
              "description": "Path where output will be placed."
            },
            "resourcesOutputPath": {
              "type": "string",
              "description": "The path where style resources will be placed, relative to outputPath."
            },
[code]

[2018-12-20 00:15] mgechev commented on #7884
Are you still able to reproduce this issue with the latest version?

[2018-12-20 00:16] mgechev commented on #7886
Are you still able to reproduce this issue with the latest version?

[2018-12-20 00:17] mgechev commented on #7889
Are you still able to reproduce this issue with the latest version?

[2018-12-20 00:17] #7891 closed

[2018-12-20 00:17] mgechev commented on #7922
Are you still able to reproduce this issue with the latest version?

[2018-12-20 00:43] girishuppal commented on #13157
Can you please let me know what additional things you need?

[2018-12-20 05:38] clydin commented on #12466
Both of those unfortunately only add specific behavior on OSX and then only on chrome.
Ideally you would run `ng serve --open` and leave the server running for an extended period of time.  I agree with @filipesilva that the limited browser/OS support combined with the long maintenance cost strongly limit the overall utility of such a feature at this point in time.

[2018-12-20 05:58] scott-ho commented on #10166
related issue #3540 #6930

[2018-12-20 06:32] kyusupov33 opened #13237 "Improving flag --save-dev for add package in devDependecies"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

In our @ngxs/schematics package we need to add it in devDependencies, but by default in angular-cli flag `--save-dev` will be `true`. You can make sure on it in this file: https://github.com/angular/angular-cli/blob/master/packages/angular/cli/tasks/npm-install.ts.

We can send PR and add ability to

[2018-12-20 08:07] thw0rted commented on #13212
Does this issue automatically get notified when the patch is included in a published release?  If not, do we have an ETA on when this might land?

[2018-12-20 08:36] eranshmil commented on #13237
https://github.com/angular/angular-cli/blob/master/packages/angular/cli/commands/add-impl.ts#L46
I think the save default should be false, because of this comment.

[2018-12-20 08:54] aitboudad commented on #7088
@mgechev check my repro repo https://github.com/aitboudad/ng-router-lazyload-issue where the '/foo' should work but currently raise the following exception:

[code]

[2018-12-20 09:59] Wykks commented on #13102
I can confirm. The rebuild is slower with `@ngtools/webpack` 7.1.3 due to `listLazyRoutes`:

With
[code]
[cli_7_13.zip](https://github.com/angular/angular-cli/files/2698255/cli_7_13.zip)

And with
[code]
[cli_7_07.zip](https://github.com/angular/angular-cli/files/2698303/cli_7_07.zip)

[2018-12-20 10:06] borriej commented on #3603
Im also looking for this. I would like a VS CODE plugin or something to test a single test each time im updating that test... I don't want to go into test.ts and change that regex :(

[2018-12-20 11:48] Jefiozie commented on #8981
Hi @filipesilva , I have made the adjustments in my local branch [here](https://github.com/Jefiozie/angular-cli/tree/hashFix). I expanded the test with a check on the problem. Can you verify that this is the correct combination for this issue?

[2018-12-20 12:21] MiladSadinam commented on #7886
I tried to activate the AngularCompilerPlugin.AngularCompilerPlugin plugin for development about two weeks ago with latest version and incremental build still took like 1min.

[2018-12-20 12:21] ramandeep-singh-1983 commented on #10869
Thanks! it worked. I also referred this article about global styles: https://scotch.io/tutorials/angular-shortcut-to-importing-styles-files-in-components

[2018-12-20 12:39] mackelito commented on #9838
@clydin if it's not intended for production then perhaps it should be stated in the docs? Or perhaps it should throw a warning in the console?

[2018-12-20 13:17] srigowrideo commented on #1149
If you install the npm correctly then there will be no problem occurring so please check the tutorials point videos ( specifically videos because it will give the answer ) and you can find the answer

[2018-12-20 13:43] MadJlzz commented on #6195
Yeah I remembered watching this ticket when I had to build external libraries with a third party tool like `ngPackagr`. With angular cli, I think this has now no reason to live. (at least for the next versions of `cli`)

[2018-12-20 14:07] clydin commented on #9838
The setting is off by default and not included in the default production configuration.  However, there is nothing wrong with using it in production.  It’s similar to source maps or other development related settings that aid in debugging.  Generally for deployed builds, details of the source are preferred to be minimized where possible (which is why source maps are also off for production builds

[2018-12-20 14:07] boknoypatotoy commented on #9869
ng serve --prod --generateSW=config.js
with config file

this is how i do it
"sw": "ng build --prod --aot=true --optimization=true --buildOptimizer=true --deleteOutputPath=true && workbox generateSW workbox-config.js"

I'm force to use http-server to serve the files.
but this does not solve my problem
i still need to use ssl so that pwa will work in mobile as standalone

[2018-12-20 14:49] mackelito commented on #9838
Not sure why but it generates a bug for us when using named chunks. (as mentioned above)
When setting is true, first load always return a blank page with the follow error.
![image](https://user-images.githubusercontent.com/598463/50291420-d819e480-046e-11e9-941e-fb1ee4d78f15.jpg)

Setting it to false makes it work again..

Any idea? Or just a direction would be appreciated :)

[2018-12-20 15:14] Local9 commented on #13208
Little digging...

https://github.com/angular/angular-cli/blob/master/packages/angular/cli/commands/easter-egg-impl.ts

[2018-12-20 15:46] pdemro commented on #5618
In Azure Devops I added a command line task which executes:

node --max-old-space-size=8192

This seems to have resolved the issue for now..

[2018-12-20 16:08] Local9 commented on #13113
Same issue, took ages to find out what it was. Can confirm the issue showed with node 10.14.2.

[2018-12-20 16:52] whyboris commented on #12465
Confirming error persists with the latest versions:
- _yarn_ `1.13.0`
- _angular_ `7.1.4`
- _angular-cli_ `7.1.4`
- _@angular-devkit/build-angular_ `0.11.4`

[code]

[2018-12-20 17:47] meyer20 commented on #5244
Hi @Narasimha969, sorry for reply you too late.

I tried your suggestion today, but i don't had success :/

My configuration:
         "configurations": {
            "production": {
              "optimization": true,
              "outputHashing": "all",
              "sourceMap": false,
              "extractCss": true,
              "namedChunks": false,
              "aot": true,

[2018-12-20 18:08] mgechev commented on #5166
Blacklisting imports is out of the scope of the CLI build. It should be easy to achieve with `ngx-build-plus`.

[2018-12-20 18:08] #5166 closed

[2018-12-20 18:56] mzamoun opened #13251 "how to share node_modules for many projects"
Windows10
Angular7
Cygwin

I want to have this structure of my projects ;
d:/projects/
d:/projects/node_modules/
d:/projects/proj1  with symbolic link node_modules -> d:/projects/node_modules
d:/projects/proj2  with symbolic link node_modules -> d:/projects/node_modules

in d:/projects/proj1
when I run : ng serve
I have error : You seem to not be depending on "@angular/core" and/or "rxjs". This is

[2018-12-20 19:01] mgechev commented on #13251
Please consider using the issue template.

npm has cache which means that you won't have to download all the modules from the network. Also, having even a small version mismatch between the projects may lead to a completely different directory layout of `node_modules`. I'd strongly discourage that.

What's the use case?

[2018-12-20 19:01] #13251 closed

[2018-12-20 19:07] beleta commented on #13059
I am using a private npm repository and my dependencies are declared this way:

[code]

[2018-12-20 20:40] sukheja-varun opened #13252 "Angular7 compilation fail: npm run hmr"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

node --version
v10.12.0

npm --version
6.4.1

ng --version
ngular CLI: 7.0.7
Node: 10.12.0
OS: darwin x64
Angular: 7.0.4
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router

macOS (Mojave)

### Re

[2018-12-20 20:41] markgoho commented on #11026
Any update on this?

[2018-12-20 20:50] mgechev commented on #13148
@willi84 the code of conduct is very important for us and we're strongly encouraging all community members to follow it. We want to have a direct reference it for everyone before an interaction of someone with the community.

We discussed how introducing the CoC in the CLI would look like but we don't think many people will notice it given the specifics/purpose of the tool.

Again, thanks for the

[2018-12-20 20:50] #13148 closed

[2018-12-20 20:55] bartduisters commented on #11792
Still the case.

[2018-12-20 21:00] mgechev commented on #13252
Doesn't look like a CLI issue. In `src/tsconfig.app.json` add `"node"` under `types`.

[2018-12-20 21:00] #13252 closed

[2018-12-20 21:01] alan-agius4 commented on #13252
Can you kindly share your `main.ts`?

[2018-12-20 21:02] sukheja-varun commented on #13252
@mgechev Already added, here is my tsconfig.json

`{
  "compileOnSave": false,
  "compilerOptions": {
    "baseUrl": "./",
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "module": "es2015",
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5",
    "lib": [
      "es2018",
      "dom"
    ],

[2018-12-20 21:18] jkjha commented on #10683
@robbaman  that actually worked for me

[2018-12-20 21:51] IgorMinar commented on #13024
Given that we want to roll out ivy as backwards compatible solution, I think this proposal makes sense.

So the way this would work is that you `ng new` a new app in a normal way. Turn on enableIvy in tsconfig, run `ngcc`, and then the toolchain uses `ngtsc` to build the app with ivy.

eventually we need to figure out how to integrate `ngcc` into this workflow more tightly so that it's not a step

[2018-12-20 21:59] mgechev commented on #10373
Thanks for sharing!

[2018-12-20 21:59] #10373 closed

[2018-12-20 22:00] mgechev commented on #10374
For support requests, the best channels would be gitter or stackoverflow.

We'd strongly recommend following the issue template and formatting your code. Thank you! :)

[2018-12-20 22:00] #10374 closed

[2018-12-20 22:03] mgechev commented on #10385
Usually the package maintainer is the one responsible for shipping the correct versions of their library. `package.json` allows you to specify separate fields for different ES versions.

If, however, you prefer to customize your build, I'd recommend you to give `ngx-build-plus` a try. No need to eject.

[2018-12-20 22:03] #10385 closed

[2018-12-20 22:05] mgechev commented on #10392
Are you still able to reproduce this issue with the latest version?

[2018-12-20 22:05] mgechev commented on #10393
Let us keep track of this issue in https://github.com/angular/angular-cli/issues/10350.

[2018-12-20 22:05] #10393 closed

[2018-12-20 22:08] mgechev commented on #10399
We're already working on prompts. Thanks for the early suggestion though, glad we're on the same page here :)

[2018-12-20 22:08] #10399 closed

[2018-12-20 22:10] mgechev commented on #10402
For support requests it'll be best to use StackOverflow or gitter. Although we see value in introducing separate setups for these different types of tests, I'd still recommend to explore ngx-build-plus or alternative way to extend the build. Let us keep this outside of the CLI.

[2018-12-20 22:10] #10402 closed

[2018-12-20 22:11] mgechev commented on #10408
@code2nguyen please open a new issue if you're still facing the problem with latest CLI. Thanks! :)

[2018-12-20 22:11] #10408 closed

[2018-12-20 22:11] mgechev commented on #10411
@alan-agius4 still experiencing this problem?

[2018-12-20 22:12] mgechev commented on #10419
@maciejtreder please open a new issue of this is still reproducible with the latest CLI, thanks!

[2018-12-20 22:12] #10419 closed

[2018-12-20 22:12] mgechev commented on #10420
@aks1994 please open a new issue if this is still reproducible with the latest CLI, thanks!

[2018-12-20 22:12] #10420 closed

[2018-12-20 22:13] mgechev commented on #10422
@samherrmann thanks for sharing the suggestion!

[2018-12-20 22:13] #10422 closed

[2018-12-20 22:13] mgechev commented on #10423
Are you still able to reproduce this issue with the latest version?

[2018-12-20 22:14] #10428 closed

[2018-12-20 22:15] mgechev commented on #10431
Are you still able to reproduce this issue with the latest version?

[2018-12-20 22:58] midsever commented on #8577
Seems that the workaround at this point is to include all your global styles in src/styles.scss rather than builder options in angular.json.

[2018-12-20 23:23] Janatbek commented on #2855
do I need to import primeng modules in every component I use primeng components?
I have modules imported in main application module.

[2018-12-21 02:48] EssieShey commented on #8434
I believe you missed type of chartist package.
Try below:
npm install chartist

[2018-12-21 07:18] xyakayx opened #13256 "Change global style based on route or component."
Hello, I have the following declaration of styles:

[code]

I would like to know if there's a way to switch the global style based on a set of routes (preferably) or based on component. Here's my routes file and what I'm trying to achieve:

[code]

Is it even possible? I've been searching the web for quite some time and so far, nothing..

### Bug Report or Feature Request (mark with an `x`)
[code]

[2018-12-21 07:32] dhanarajknp commented on #11071
hai any updates i also end up with the same issue
"assets": [ { "glob": "**/*", "input": "src/assets", "output": "/assets" } ], not working with

Angular CLI: 7.0.7
Node: 8.11.3
OS: win32 x64
Angular: 7.1.1
... animations, common, compiler, core, forms, http
... platform-browser, platform-browser-dynamic, router

Package                           Version
-------------------------------------------

[2018-12-21 07:33] ManjunathCH12 commented on #2403
I replaced this styles from angular.json "styles": ["src/styles.css"] to , "styles": ["styles.css"] It worked for me!

[2018-12-21 08:59] zernolo commented on #10655
by this issue, seems that the build-optimizer is not working anymore https://github.com/valor-software/ngx-bootstrap/issues/4948

[2018-12-21 09:40] alan-agius4 opened #13261 "Build Optimizer breaks Ivy Apps using platformBrowserDynamic"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
[code]

### Repro steps
When using `ngtsc`, together with the usual `platformBrowserDynamic` bootstrapping code a runtime error will occur.

- git  clone git@github.com:alan-agius4/ivy-build-optimizer-issue.git
- npm i
- node_modules\.bin\ivy-ngcc
- ng serve --prod

### The log given by

[2018-12-21 09:54] axelboc commented on #7301
My app's assets are hosted on a CDN. I pass the CDN's URL with the `--deploy-url` option.

I think the lack of attribute `crossorigin` on the generated `script` tags means that I get a `ScriptError` any time an error is thrown in one of the bundles.

https://scotch.io/bar-talk/what-the-heck-is-script-error

[2018-12-21 09:57] tarangSachdev22 opened #13264 "Error: Timeout - Async callback was not invoked within 5000ms (set by jasmine.DEFAULT_TIMEOUT_INTERVAL) at <Jasmine>"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions
node --version = 8.12.0
npm --version = 6.4.1
"@angular/cdk": "^6.4.7",
"@angular/common": "^6.1.7",
"@angular/compiler": "^6.1.7",
"@angular/core": "^6.1.7",

### Repro steps

I have multiple files for unit tests under my project
when I run one file unit test it is working and run thro

[2018-12-21 10:35] sinan92 opened #13267 "Generating service generates wrong content"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

angular-cli@latest and angular-cli@6.2.8

### Repro steps

ng generate service services/wagon

### The log given by the failure

The generated file wagon.service.ts:

{
  "_args": [
    [
      "babel-loader@8.0.4",
      "C:\\Users\\Sinan\\Development\\WebAndMobile\\BulletinBoard\\rea

[2018-12-21 11:19] filipesilva commented on #10655
@zernolo can you open a new issue with a reproduction please?

[2018-12-21 11:20] alberto-chiesa commented on #6795
@skylarmb Unacceptable by who? Depending upon which absolute standard? The build of Javascript applications is complex. 1GB RAM is absolutely nothing. You should expect to have build occupy a lot of resources. The issue is time, not RAM usage. 30 seconds to build, considering you are starting at least 4 processors (tsc, sass, the whole npm thing, Uglify, WebPack, and who knows what else), is perfe

[2018-12-21 12:35] mackelito opened #13270 "Budgets acting strange"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

v8.11.2,
6.4.1,

Angular CLI: 7.1.3
Node: 8.11.2
OS: darwin x64
Angular: 7.1.3
... animations, cli, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router, service-worker

Package                           Version
-

[2018-12-21 12:50] ramandeep-singh-1983 commented on #10869
Another question:
My global style is being picked up from the library scss file now but what about the assets directory.
Right now, the dist directory has this structure:

my-app

app js files
assets
my-lib:

assets
styles
Suppose my library is a full fledged GUI library. The global styles reside in my library and are picked up by the app using @import statement. But what about the assets director

[2018-12-21 13:10] alan-agius4 commented on #13264
The `DEFAULT_TIMEOUT_INTERVAL ` is to change global default timeout, and should be set outside of whatever spec or other async work needs the timeout. If you just want to set the timeout for a single spec, you can pass that along as another argument to it (https://jasmine.github.io/api/edge/global.html#it).

[2018-12-21 13:10] #13264 closed

[2018-12-21 13:22] filipesilva commented on #13113
Heya all, we have a fix incoming in https://github.com/angular/angular-cli/pull/13272.

[2018-12-21 13:38] arusak commented on #8870
My guess is that ngtools internally executes ngc, which is not a part of webpack flow and effectively ignores all the changes previous loaders have made to our precious .ts files.

Here's my solution someone might find useful. I needed to make some changes to a dictionary file. It didn't have anything ng-specific in it, so I just excluded it from ngtools scope. And added a rule to compile it with

[2018-12-21 13:43] divdavem commented on #6286
For those looking for a sample to have e2e code coverage with [ngx-build-plus](https://github.com/manfredsteyer/ngx-build-plus), I have implemented it for [ng-bootstrap](https://github.com/ng-bootstrap/ng-bootstrap) in the following PR: https://github.com/ng-bootstrap/ng-bootstrap/pull/2935

[2018-12-21 13:44] hughanderson4 commented on #10869
@ramandeep-singh-1983 My `watch-assets` command is just a `cpx` that gonna copy my assets from my lib project to my lib project's `dist\assets` folder.

Then I have to config each of my client apps to do this glob:
[code]
This goes in the angular.json under `projects\MyAwesomeApp\architect\build\options`
This glob gonna copy all my framework assets into my client site's `assets/framework` folder w

[2018-12-21 14:44] inthegarage commented on #6795
@alberto-chiesa (trolling accepted :-)) Whilst there are no real benchmarks for such processing from the angular team, we can clearly see severe regression whilst compiling. An angular 5 project with a similar amount of files to a angular7 one takes 5x as long here on our development environments. It should also be noted that this is after memory and other optimizations, without those it was takin

[2018-12-21 14:57] alberto-chiesa commented on #6795
@inthegarage I'm not saying that there are no problems. I'm following this thread from the very beginning. I'm just saying that considering unacceptable that the Angular build requires more than 1 GB of RAM is naive. The issue is time: if the build is 5x slower, it's a problem (a huge one). But, if I can get the same build time throwing in more RAM, it becomes less of a problem.
Again, I don't wan

[2018-12-21 15:43] hansl commented on #13267
Hi @sinan92,

It seems that you’re using angular-cli package? That package is deprecated. Could you try with the latest @angular/cli package?

If that doesn’t work, please file a new issue and follow the template.

[2018-12-21 15:43] #13267 closed

[2018-12-21 16:18] carkod commented on #11876
Add the following line to your tsconfig.json:
`"angularCompilerOptions": {
  "enableIvy": true
} `

[2018-12-21 16:47] inthegarage commented on #6795
@alberto-chiesa Agreed, there are some naive assumptions and when an IDE can gamefully hog 3GB+, to expect a compiler to use anything less is not realistic. All points clarified.
I also wish there was more urgency and activity with this problem. We seem to be in a "Jam tomorrow" situation. 1st it was wait for terser, second it was try angular 7, then mess about with some settings. Nothing has redu

[2018-12-21 18:46] redevill commented on #1464
Would also like to leverage CLI, in a non CLI project. Link to examples is broken :(

[2018-12-21 19:20] jodytate opened #13274 "project type library doesn't allow deleteOutputPath option"
### Bug Report or Feature Request (mark with an `x`)
[code]

### Command (mark with an `x`)
[code]

### Versions

Node.js v10.14.2
npm v6.4.1
Angular CLI v7.0.7
OS: Windows 7

### Repro steps

Adding the `deleteOutputPath` option to the `angular.json` produces an error when the project's `projectType` is `library`. The documentation states that the options apply to either "an app or a library," bu

[2018-12-21 19:55] Tomek6789 commented on #10765
@mihalcan You need to create test.ts file that will gather all the test.
[code]
When running test you can provide your entry-point file (test.ts) with main flag.
ng test --main=/path-to-your-file/test.ts"

Please remember to add also your new test.file in tsconfig.spec.json in files prop.
I hope this will work for your :)

[2018-12-21 22:00] mgechev commented on #2713
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:00] #2713 closed

[2018-12-21 22:01] mgechev commented on #5534
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:01] #5534 closed

[2018-12-21 22:01] mgechev commented on #5483
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:01] #5483 closed

[2018-12-21 22:01] mgechev commented on #5197
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:01] #5197 closed

[2018-12-21 22:02] mgechev commented on #5294
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:02] #5294 closed

[2018-12-21 22:02] mgechev commented on #4872
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:02] #4872 closed

[2018-12-21 22:02] mgechev commented on #5998
Thanks for the response!

[2018-12-21 22:03] mgechev commented on #6342
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:03] #6342 closed

[2018-12-21 22:03] mgechev commented on #6410
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:03] #6410 closed

[2018-12-21 22:03] mgechev commented on #6425
Thanks for the response!

[2018-12-21 22:03] mgechev commented on #6443
If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:03] #6443 closed

[2018-12-21 22:04] mgechev commented on #6482
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:04] #6482 closed

[2018-12-21 22:04] mgechev commented on #7037
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:04] #7037 closed

[2018-12-21 22:04] mgechev commented on #6960
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:04] #6960 closed

[2018-12-21 22:04] mgechev commented on #6930
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:04] #6930 closed

[2018-12-21 22:12] alan-agius4 commented on #13274
This option is not available for libraries.

This is being tracking in https://github.com/angular/angular/issues/26569

[2018-12-21 22:12] #13274 closed

[2018-12-21 22:38] mgechev commented on #10869
Excellent discussion here! I can already see a few workarounds which seem reasonable. Although I'd discourage global styles in libraries, if your use case require such I'd recommend you to look at `ngx-build-plus`. You can customize your build using it.

[2018-12-21 22:38] #10869 closed

[2018-12-21 22:40] mgechev commented on #8870
@elimin8r we'll discuss it during our next triage in 2019, sorry for the late response.

[2018-12-21 22:43] mgechev commented on #6757
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:43] #6757 closed

[2018-12-21 22:43] mgechev commented on #7297
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:43] #7297 closed

[2018-12-21 22:43] mgechev commented on #7272
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:43] #7272 closed

[2018-12-21 22:43] mgechev commented on #7267
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:43] #7267 closed

[2018-12-21 22:44] mgechev commented on #7166
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:44] #7166 closed

[2018-12-21 22:44] mgechev commented on #7153
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:44] #7153 closed

[2018-12-21 22:45] mgechev commented on #7119
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:45] #7119 closed

[2018-12-21 22:45] mgechev commented on #7086
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:45] #7086 closed

[2018-12-21 22:45] mgechev commented on #7474
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:45] #7474 closed

[2018-12-21 22:46] mgechev commented on #7409
Closing the issue due to inactivity. If the problem still exists in the latest version of the CLI, please open a new issue following the template and providing a minimal demo where we can reproduce it. Thanks! :-)

[2018-12-21 22:46] #7409 closed

[2018-12-22 01:35] MichFe commented on #11060
Hi!,
did anyone could found out why the:

-Invalid Host/Origin header
-[WDS] Disconnected!

Error loop is happening, it showed up in a project I started, so I tested with a brand new project and it show up on ng serve.

[2018-12-22 02:30] mgechev commented on #7330
Is still issue still reproducible with the latest CLI?

[2018-12-22 02:30] mgechev commented on #7350
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:32] mgechev commented on #7352
For support requests, you can use gitter or take a look at StackOverflow for more information. If I've misunderstood the problem, please open a new issue, thanks!

[2018-12-22 02:32] #7352 closed

[2018-12-22 02:32] mgechev commented on #7353
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:35] mgechev commented on #8186
For support requests, we'd recommend you to use our Gitter channel or StackOverflow with tag angular or angular-cli. If I've misunderstood the problem, please open a new issue following our template and sharing a minimal demo where we can reproduce it.

[2018-12-22 02:35] #8186 closed

[2018-12-22 02:35] mgechev commented on #8211
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:36] mgechev commented on #8225
This seems like something out of the scope of the CLI. If you're interested in extending your build, look at ngx-build-plus. If I've misunderstood the issue, please open a new one and explain your use case. Thank you! :)

[2018-12-22 02:36] #8225 closed

[2018-12-22 02:37] mgechev commented on #8239
Let us keep this outside of the CLI for now. I'd recommend you to extend your build with `ngx-build-plus` so you can take advantage of this feature.

[2018-12-22 02:37] #8239 closed

[2018-12-22 02:38] mgechev commented on #8265
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:38] mgechev commented on #8270
Would you explain your use case?

[2018-12-22 02:39] mgechev commented on #8279
Let us keep this outside of the CLI for now. You can explore `ngx-build-plus` so you can extend your build with it.

[2018-12-22 02:39] #8279 closed

[2018-12-22 02:40] mgechev commented on #8283
@filipesilva do we want to look at this or it behaves as expected?

[2018-12-22 02:41] mgechev commented on #8307
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:42] mgechev commented on #8466
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:43] mgechev commented on #8412
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:43] mgechev commented on #8419
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:44] mgechev commented on #8420
Let us keep this outside of the CLI for now. I'd recommend you to look at `ngx-build-plus` so you can alter the webpack config and add a custom formatter.

[2018-12-22 02:44] #8420 closed

[2018-12-22 02:45] mgechev commented on #8429
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:45] #8440 closed

[2018-12-22 02:45] #8442 closed

[2018-12-22 02:46] mgechev commented on #8442
Closing the issue. If the issue is still reproducible, please open a new one following the template and link to this for further details. Thank you!

[2018-12-22 02:46] mgechev commented on #8451
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:47] #8467 closed

[2018-12-22 02:47] mgechev commented on #8467
Closing due to inactivity. Feel free to open a new issue if this is still reproducible.

[2018-12-22 02:48] #8607 closed

[2018-12-22 02:48] mgechev commented on #8607
https://github.com/angular/angular-cli/issues/8607#issuecomment-346602593 we do not recommend JIT production build. Let us leave this out of the scope of the CLI.

[2018-12-22 02:48] mgechev commented on #8614
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:49] mgechev commented on #8553
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:49] mgechev commented on #8570
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:49] #8583 closed

[2018-12-22 02:49] mgechev commented on #8584
Are you still able to reproduce this issue with the latest version?

[2018-12-22 02:51] mgechev commented on #8623
For support requests, we'd recommend to use Gitter or StackOverflow. In case I've misunderstood, please consider opening a new issue following the template and providing a demo where we can reproduce the problem. Thank you! :)

[2018-12-22 02:51] #8623 closed

[2018-12-22 04:45] tarangSachdev22 commented on #13264
@alan-agius4 thanks mate, you save my day :+1:

[2018-12-22 09:17] alan-agius4 commented on #11792
`ng complete` no longer exists see https://github.com/angular/angular-cli/issues/11043

[2018-12-22 09:17] #11792 closed

[2018-12-22 09:41] #8570 closed

[2018-12-22 11:07] filipesilva commented on #8283
From the description it's not behaving as expected, but I haven't had time to investigate further. I get the impression it's not a frequent problem though.

[2018-12-22 11:09] 1248664852 opened #13281 "i want to build my angular7 project using customize version replacing hash chunk, how to do that?"
i want to build my angular7 project using customize version replacing hash chunk,
 how to do that?

[2018-12-22 11:10] smasala commented on #8283
It seems to be quite heavily dependent on project complexity although I've struggled to reproduce the problem to a single source

[2018-12-22 12:01] majo44 commented on #8249
No, this is no an issue anymore.

[2018-12-22 12:01] #8249 closed

[2018-12-22 12:21] alan-agius4 commented on #13281
Hello, we reviewed this issue and determined that it doesn't fall into the bug report or feature request category. This issue tracker is not suitable for support requests, please repost your issue on [StackOverflow](http://stackoverflow.com/) using tag `angular-cli`.

If you are wondering why we don't resolve support issues via the issue tracker, please [check out this explanation](https://github.